<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="main-content tellusaboutyou" *ngIf="!loading">
  <h2>Pet Caretaker</h2>
  <form [formGroup] = "petGuardianForm">
    <!--<div class="form-group">
      <label>Do You Need To Appoint Caretaker For Your Pets? </label>
      <ul class="radio_ul6">
        <li>
          <label class="radio_custom" [ngClass]="{'active': petGuardianForm.value.isPetGuardian === 'Yes'}">
            <input type="radio"
                   value="Yes"
                   formControlName="isPetGuardian" (change)="addRemoveValidation()">
            <span class="human_status" >Yes</span>
          </label>
        </li>
        <li>
          <label class="radio_custom" [ngClass]="{'active': petGuardianForm.value.isPetGuardian === 'No'}">
            <input type="radio"
                   value="No"
                   formControlName="isPetGuardian" (change)="addRemoveValidation()">
            <span class="human_status" > No</span>
          </label>
        </li>
      </ul>
    </div>
    <hr>-->
    <hr>
    <div *ngIf="petGuardianForm.value.isPetGuardian == 'Yes'">
      <h2>Name Your Pet(s) Caretaker</h2>
      <div formArrayName="petGuardian">
        <div *ngFor="let item of petGuardianForm.controls.petGuardian.controls; let i=index" [formGroupName]="i">
          <div class="form-group ">
            <label>Pet Caretaker’s Full Legal Name: </label>
            <input type="text" value="" class="form-control" formControlName="fullname" >
            <div
              *ngIf="petGuardianForm.get('petGuardian.0.fullname').dirty && petGuardianForm.get('petGuardian.0.fullname').touched"
            >
              <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.fullname').hasError('required')">Please enter a properly capitalized caretaker name</span>
              <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.fullname').hasError('pattern')">Please enter a properly capitalized caretaker name</span>
            </div>
          </div>
          <div class="form-group ">
            <label>Pet Caretaker’s relationship to you: </label>
            <select name="first_guardian_relationship" class="form-control" formControlName="relationship_with" #relationship_with (change)="changeRelationshipValidation(relationship_with.value)">
              <option value="">Select Relationship</option>
              <option value="Wife">Wife</option>
              <option value="Husband">Husband</option>
              <option value="Mother">Mother</option>
              <option value="Father">Father</option>
              <option value="Son">Son</option>
              <option value="Daughter">Daughter</option>
              <option value="Sister">Sister</option>
              <option value="Brother">Brother</option>
              <option value="Aunt">Aunt</option>
              <option value="Uncle">Uncle</option>
              <option value="Cousin">Cousin</option>
              <option value="Friend">Friend</option>
              <option value="Other">Other</option>
            </select>
            <div
              *ngIf="petGuardianForm.get('petGuardian.0.relationship_with').dirty && petGuardianForm.get('petGuardian.0.relationship_with').touched"
            >
              <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.relationship_with').hasError('required')">Please fill up this field</span>

            </div>
          </div>
          <div class="form-group " *ngIf="petGuardianForm.get('petGuardian.0.relationship_with').value === 'Other'">
            <label>Mention your relationship: </label>
            <input class="form-control" formControlName="relationship_other">
            <span *ngIf="!petGuardianForm.get('petGuardian.0.relationship_other').valid && petGuardianForm.get('petGuardian.0.relationship_other').touched">
                    <span *ngIf="petGuardianForm.get('petGuardian.0.relationship_other').hasError('required')" class="error_txt">Please fill up this field.</span>
              </span>
          </div>
          <div class="form-group">
            <label>Pet Caretaker’s Address: </label>
            <input type="text" class="form-control"  placeholder="Address Line 1" formControlName="address">
            <div
              *ngIf="petGuardianForm.get('petGuardian.0.address').dirty && petGuardianForm.get('petGuardian.0.address').touched"
            >
              <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.address').hasError('required')" >Address is required</span>

            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control"  placeholder="City" formControlName="city">
                <div
                  *ngIf="petGuardianForm.get('petGuardian.0.city').dirty && petGuardianForm.get('petGuardian.0.city').touched"
                >
                  <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.city').hasError('required')" >City is required</span>

                </div>
              </div>
              <div class="col-md-6">
                <select class="form-control" formControlName="state">
                  <option value="">States</option>
                  <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
                <div
                  *ngIf="petGuardianForm.get('petGuardian.0.state').dirty && petGuardianForm.get('petGuardian.0.state').touched"
                >
                  <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.state').hasError('required')">State is required</span>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control"  placeholder="Zip Code" formControlName="zip">
                <div
                  *ngIf="petGuardianForm.get('petGuardian.0.zip').dirty && petGuardianForm.get('petGuardian.0.zip').touched"
                >
                  <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.zip').hasError('required')">Zip is required</span>
                  <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.zip').hasError('pattern')">Please provide a proper zip</span>

                </div>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Country" formControlName="country" [value]="'United States'" readonly>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label for="phone">Pet Caretaker’s Phone Number: </label>
            <input id="phone" class="form-control" type="text" name="phone"
                   mask="(000)-000-0000" placeholder="(xxx)-xxx-xxxx" formControlName="phone">

            <div
              *ngIf="petGuardianForm.get('petGuardian.0.phone').dirty && petGuardianForm.get('petGuardian.0.phone').touched"
            >
                <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.phone').hasError('required')">
                        Phone is required.
                   </span>
              <span class="error_txt" *ngIf="petGuardianForm.get('petGuardian.0.phone').hasError('pattern')">
                        Please provide a valid phone number.
                </span>
            </div>
          </div>

          <div class="form-group">
            <label>Would you like to notify this person by email that you appointed them as a Caretaker for your pet(s)? </label>
            <ul class="radio_ul6">
              <li>
                <label class="radio_custom" [ngClass]="{'active': petGuardianForm.get('petGuardian.0.email_notification').value == '1'}">
                  <input type="radio"  value="1" formControlName="email_notification" (click)="changeNotification('petGuardian.0.email_notification','1')">
                  <span class="human_status">Yes</span>
                </label>
                <div class="email-box"
                     [ngClass]="{'valid': !petGuardianForm.get('petGuardian.0.email').hasError('pattern') && !petGuardianForm.get('petGuardian.0.email').hasError('required'),'invalid': petGuardianForm.get('petGuardian.0.email').touched && petGuardianForm.get('petGuardian.0.email').dirty && (petGuardianForm.get('petGuardian.0.email').hasError('pattern') || petGuardianForm.get('petGuardian.0.email').hasError('required'))}"
                     *ngIf="petGuardianForm.get('petGuardian.0.email_notification').value == '1'"
                >
                  <input type="email" placeholder="Enter Email Address" class="form-control" formControlName="email">
                  <!-- <div
                           *ngIf="!petGuardianForm.get('guardian.0.email').valid && petGuardianForm.get('guardian.0.email').touched"
                           >
                     <span *ngIf="petGuardianForm.get('guardian.0.email').errors['pattern']">Must be a valid email</span>
                     <span *ngIf="petGuardianForm.get('guardian.0.email').errors['required']">Email is required</span>
                   </div>-->
                  <i class='fa fa-check' *ngIf="petGuardianForm.get('petGuardian.0.email').valid"></i>
                  <i class='fa fa-times' *ngIf="petGuardianForm.get('petGuardian.0.email').dirty && petGuardianForm.get('petGuardian.0.email').touched && !petGuardianForm.get('petGuardian.0.email').valid"></i>
                </div>
              </li>
              <li>
                <label class="radio_custom" [ngClass]="{'active': petGuardianForm.get('petGuardian.0.email_notification').value == '0'}">
                  <input type="radio" value="0" formControlName="email_notification" (click)="changeNotification('petGuardian.0.email_notification','0')">
                  <span class="human_status"> No</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Would you like to appoint a Backup Caretaker for your pet(s)? </label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom" [ngClass]="{'active': petGuardianForm.value.isBackUpPetGuardian == 'Yes'}">
              <input type="radio"  value="Yes" formControlName="isBackUpPetGuardian" (change)="addRemoveValidation()">
              <span class="human_status">Yes</span>
            </label>
          </li>
          <li>
            <label class="radio_custom" [ngClass]="{'active': petGuardianForm.value.isBackUpPetGuardian == 'No'}">
              <input type="radio" value="No" formControlName="isBackUpPetGuardian" (change)="addRemoveValidation()">
              <span class="human_status"> No</span>
            </label>
          </li>
        </ul>
      </div>
      <div *ngIf="petGuardianForm.value.isBackUpPetGuardian == 'Yes'">
        <hr>
        <h2>Name Your Backup Pet Caretaker</h2>
        <div formArrayName="backUpPetGuardian">
          <div *ngFor="let item of petGuardianForm.controls.backUpPetGuardian.controls; let j=index" [formGroupName]="j">
            <div class="form-group ">
              <label>Backup Pet Caretaker’s Full Legal Name: </label>
              <input type="text" value="" class="form-control" formControlName="fullname" >
              <div
                *ngIf="petGuardianForm.get('backUpPetGuardian.0.fullname').dirty && petGuardianForm.get('backUpPetGuardian.0.fullname').touched"
              >
                <!--<span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.fullname').errors['required']">This field is required!</span>-->
                <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.fullname').hasError('required')">Please enter a properly capitalized caretaker name</span>
                <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.fullname').hasError('pattern')">Please enter a properly capitalized caretaker name</span>

              </div>
            </div>
            <div class="form-group ">
              <label>Backup Pet Caretaker’s relationship to you: </label>
              <select name="first_guardian_relationship" class="form-control" formControlName="relationship_with" #backup_relationship (change)="changeBackupRelationshipValidation(backup_relationship.value)">
                <option value="">Select Relationship</option>
                <option value="Wife">Wife</option>
                <option value="Husband">Husband</option>
                <option value="Mother">Mother</option>
                <option value="Father">Father</option>
                <option value="Son">Son</option>
                <option value="Daughter">Daughter</option>
                <option value="Sister">Sister</option>
                <option value="Brother">Brother</option>
                <option value="Aunt">Aunt</option>
                <option value="Uncle">Uncle</option>
                <option value="Cousin">Cousin</option>
                <option value="Friend">Friend</option>
                <option value="Other">Other</option>
              </select>
              <div
                *ngIf="petGuardianForm.get('backUpPetGuardian.0.relationship_with').dirty && petGuardianForm.get('backUpPetGuardian.0.relationship_with').touched"
              >
                <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.relationship_with').hasError('required')" >Please fill up this field.</span>
              </div>
            </div>
            <div class="form-group " *ngIf="petGuardianForm.get('backUpPetGuardian.0.relationship_with').value === 'Other'">
              <label>Mention your relationship: </label>
              <input class="form-control" formControlName="relationship_other">
              <span *ngIf="!petGuardianForm.get('backUpPetGuardian.0.relationship_other').valid && petGuardianForm.get('backUpPetGuardian.0.relationship_other').touched">
                    <span *ngIf="petGuardianForm.get('backUpPetGuardian.0.relationship_other').hasError('required')" class="error_txt">Please fill up this field.</span>
              </span>
            </div>
            <div class="form-group">
              <label>Backup Pet Caretaker’s Address: </label>
              <input type="text" class="form-control"  placeholder="Address Line 1" formControlName="address">
              <div
                *ngIf="petGuardianForm.get('backUpPetGuardian.0.address').dirty && petGuardianForm.get('backUpPetGuardian.0.address').touched"
              >
                <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.address').hasError('required')">Address is required</span>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="City" formControlName="city">
                  <div
                    *ngIf="petGuardianForm.get('backUpPetGuardian.0.city').dirty && petGuardianForm.get('backUpPetGuardian.0.city').touched"
                  >
                    <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.city').hasError('required')">City is required</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <select class="form-control" formControlName="state">
                    <option value="">States</option>
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select>
                  <div
                    *ngIf="petGuardianForm.get('backUpPetGuardian.0.state').dirty && petGuardianForm.get('backUpPetGuardian.0.state').touched"
                    class="help-block">
                    <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.state').hasError('required')">State is required!</span>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="Zip Code" formControlName="zip">
                  <div
                    *ngIf="petGuardianForm.get('backUpPetGuardian.0.zip').dirty && petGuardianForm.get('backUpPetGuardian.0.zip').touched"
                  >
                    <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.zip').hasError('pattern')">Please provide a proper zip</span>
                    <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.zip').hasError('required')">Zip is required</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Country" formControlName="country" [value]="'United States'" readonly>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <label for="phone">Backup Pet Caretaker’s Number: </label>
              <input class="form-control" type="text" name="phone"
                     mask="(000)-000-0000" placeholder="(xxx)-xxx-xxxx" formControlName="phone">
              <div
                *ngIf="petGuardianForm.get('backUpPetGuardian.0.phone').dirty && petGuardianForm.get('backUpPetGuardian.0.phone').touched"
              >
                <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.phone').hasError('required')">
                        Phone is required.
                   </span>
                <span class="error_txt" *ngIf="petGuardianForm.get('backUpPetGuardian.0.phone').hasError('pattern')">
                        Please provide a valid phone number.
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Would you like to notify this person by email that you appointed them as a Backup Caretaker for your pet(s)? </label>
              <ul class="radio_ul6">
                <li>
                  <label class="radio_custom" [ngClass]="{'active': petGuardianForm.get('backUpPetGuardian.0.email_notification').value == '1'}">
                    <input type="radio"  value="1" formControlName="email_notification" (click)="changeNotificationBackup('backUpPetGuardian.0.email_notification','1')">
                    <span class="human_status">Yes</span>
                  </label>
                  <div class="email-box"
                       [ngClass]="{'valid': !petGuardianForm.get('backUpPetGuardian.0.email').hasError('pattern') && !petGuardianForm.get('backUpPetGuardian.0.email').hasError('required'),'invalid': petGuardianForm.get('backUpPetGuardian.0.email').dirty && petGuardianForm.get('backUpPetGuardian.0.email').touched && (petGuardianForm.get('backUpPetGuardian.0.email').hasError('pattern') || petGuardianForm.get('backUpPetGuardian.0.email').hasError('required'))}"
                       *ngIf="petGuardianForm.get('backUpPetGuardian.0.email_notification').value == '1'">
                    <input type="email" placeholder="Enter Email Address" class="form-control" formControlName="email">
                    <!--<span
                            *ngIf="!petGuardianForm.get('backUpPetGuardian.0.email').valid && petGuardianForm.get('backUpPetGuardian.0.email').touched"
                            class="help-block">
                    <span *ngIf="petGuardianForm.get('backUpPetGuardian.0.email').errors['email']" style="color: red">Must be an email type!</span>

                    </span>-->
                    <i class='fa fa-check' *ngIf="petGuardianForm.get('backUpPetGuardian.0.email').valid"></i>
                    <i class='fa fa-times' *ngIf="petGuardianForm.get('backUpPetGuardian.0.email').dirty && petGuardianForm.get('backUpPetGuardian.0.email').touched && !petGuardianForm.get('backUpPetGuardian.0.email').valid"></i>
                  </div>
                </li>
                <li>
                  <label class="radio_custom" [ngClass]="{'active': petGuardianForm.get('backUpPetGuardian.0.email_notification').value == '0'}">
                    <input type="radio" value="0" formControlName="email_notification" (click)="changeNotificationBackup('backUpPetGuardian.0.email_notification','0')">
                    <span class="human_status"> No</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="errorFlag">
        <span class="error_txt">{{errorMessage}}</span>
    </div>
    <div class="form-footer">
      <button class="btn common-button btn-grey pull-left" (click)="goBack()">Go Back</button>
      <button class="btn common-button btn-complete" type="button" (click)="onSubmit(petGuardianForm)">Continue</button>
    </div>
  </form>
</div>
