<div class="pageLoader" *ngIf="loaderrrr">
  <div class="loaderInner">
    <img src="../../../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="body_container">
  <div class="wrapper">
    <div class="trending_main">
      <div class="relative" *ngIf="blogDetails">
        <span class="single_post"><img src="{{imageLink}}{{blogDetails.image}}" alt="{{blogDetails.image}}"></span>
        <h1 class="why_do_need_will">{{blogDetails.title}}</h1>
        <ul class="trending_sub_left_ul">
          <li>
            <span class="news_owl"><img src="../../../../assets/images/news_owl.png" alt="error img"></span>
            <span class="by_simply_willed_text">By Simply<span>Willed</span></span>
          </li>
          <li>
            <span class="by_simply_willed_text">{{blogDetails.created_at}}</span>
          </li>
          <li>
            <span class="by_simply_willed_text">{{blogDetails.get_comments.length}} comments</span>
          </li>
        </ul>
        <ul class="trending_right_ul">
          <li><a href="javascript:void(0)">Share:</a></li>
          <li><a href="https://twitter.com/share?url={{baseURL}}blog/{{blogDetails.slug}}" target="_blank" title="Twitter"><img src="../../../../assets/images/twitter-icon.png"></a></li>
          <li><a href="http://www.facebook.com/sharer.php?u={{baseURL}}blog/{{blogDetails.slug}}" target="_blank" title="Facebook"><img src="../../../../assets/images/facebook-icon.png"></a></li>
          <li><a href="https://plus.google.com/share?url={{baseURL}}blog/{{blogDetails.slug}}" target="_blank" title="Google-plus"><img src="../../../../assets/images/gplus-icon.png"></a></li>
          <li><a href="http://pinterest.com/pin/create/button/?url={{baseURL}}blog/{{blogDetails.slug}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i>
          </a></li>
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{baseURL}}blog/{{blogDetails.slug}}" target="_blank" title="Linkedin"><img src="../../../../assets/images/linkedin-icon.png"></a></li>

        </ul>
          <div class='col-md-12 blogContainer' [innerHTML]="blogDetails.body"> </div>
      </div>
      <h3 class="comments_text" *ngIf="blogDetails?.get_comments.length == 0">No Comments</h3>
      <div *ngIf="blogDetails?.get_comments.length != 0" class="blogCommentSec">
        <h2>Comments</h2>
        <div class="commentArea">
            <div class="commentRow" *ngFor="let comment of blogDetails?.get_comments">
              <div class="commentImg">
                <img src="../../../../assets/images/commentImg.png" alt="">
              </div>
              <div class="commentMain">
                <div class="commentHead">
                  <span class="commentUBy">{{comment.name}} / </span>
                  <span class="commentDate">{{comment.created_at  | date  }}</span>
                </div>
                <div class="commentEmail">{{comment.email}}</div>
                <div class="commentBody">
                  <p>{{comment.message}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <input type="hidden" class="form-control" formControlName="blogId" [(ngModel)]="BlogId">
        <div class="from_main2">
          <h3 class="post_comment_text">POST a COMMENT: </h3>
          <ul class="form2_ul">
            <li>
                <input type="text" class="form-control" formControlName="name" placeholder="Your name">
                <div class="form-control-feedback"
                     *ngIf="name.errors && (name.dirty || name.touched)">
                    <p *ngIf="name.errors">Name is required</p>
                </div>
            </li>
            <li>
                <input type="text" class="form-control" formControlName="email" placeholder="Your email">
                <div class="form-control-feedback"
                     *ngIf="email.errors && (email.dirty || email.touched)">
                    <p *ngIf="email.errors">The email address must contain at least the @ character</p>
                </div>
            </li>
            <li>
                <textarea formControlName="message" cols="30" rows="10"  placeholder="Your Comment"></textarea>
            </li>
          </ul>
            <button type="submit" class="form2_submit" >Submit</button>
        </div>
      </form>

    </div>
  </div>
  <div class="about_sec4">
    <div class="wrapper">
      <h1 class="about_state_planning_text">Estate Planning Made Simple &amp; Affordable.</h1>
      <h4 class="select_plan">Get started now and keep your loved ones safe!</h4>
      <button class="btn-green" type="button" routerLink="/register"><img src="../../../../assets/images/arrow-right.png"> Get Started</button>
    </div>
  </div>
</div>
