<div class="main-content tellusaboutyou">
  <div id="gift_list_container">
    <ul id="gift_list">
      <li>
        <h2 class="singing_instruction3">Gift <span class="gift_list_number">{{giftCount}}</span></h2>
        <div class="gift_text_content" style="display:none;">
          <p class="gift_text"></p>
          <ul class="back_next_btn_ul" style="margin:20px 0 10px;">
            <li><a href="javascript:void(0)" class="gift_remove_form">Remove</a></li>
            <li><a href="javascript:void(0)" class="gift_edit_form">Edit</a></li>
          </ul>
        </div>
        <div class="gift_form_container">
          <form [formGroup]="cashGiftForm" (ngSubmit)="saveCashGift(cashGiftForm.value)">
            <h2 class="singing_instruction3" style="padding-top:0;">Tell Us About Gifts of Cash</h2>
            <ul class="radio_ul3">
              <li><label class="radio_custom singing_instruction"><span class="custom_img3"><img src="../../../../../assets/images/cash2.png" alt="Cash"></span></label></li>
            </ul>
            <h3 class="registered_domestic2 blue_font">Is this a gift to an Individual or Charity?</h3>
            <ul class="radio_ul4">
              <li>
                <label class="radio_custom zero_nine_page" (click)="showChild('IN')" [ngClass]="{'active': cashGiftForm.value.gift_to === 'IN'}">
                  <input type="radio" class="cash_individual_charity" formControlName="gift_to" value="IN">
                  <span class="custom_img"><img src="../../../../../assets/images/hippa.png" alt="Hippa"></span>
                  <span class="human_status">Individual</span>
                </label>
              </li>
              <li>
                <label class="radio_custom zero_nine_page" (click)="showChild('CH')" [ngClass]="{'active': cashGiftForm.value.gift_to === 'CH'}">
                  <input type="radio" class="cash_individual_charity" formControlName="gift_to" value="CH">
                  <span class="custom_img"><img src="../../../../../assets/images/gift.png" alt="gift"></span>
                  <span class="human_status">Charity</span>
                </label>
              </li>
            </ul>
            <div class="gift_individual_container" *ngIf="isIndividual">
              <div formArrayName="individualControls">
                <div *ngFor="let item of cashGiftForm['controls'].individualControls['controls']; let i = index;"  [formGroupName]="i">
                  <label class="legal_name_benifets">Beneficiary's full legal name?</label>
                  <input type="text" class="legal_benifit_input capitalize_txt" formControlName="full_legal_name">
                  <label class="legal_name_benifets">Beneficiary's relationship to you?</label>
                  <span class="drop_down">
                      <select class="beneficiary_relationship_dropdown" (change)="handleChange($event.target.value)" formControlName="relationship">
                          <option value="">Select Relationship</option>
                          <option value="Wife">Wife</option>
                          <option value="Husband">Husband</option>
                          <option value="Mother">Mother</option>
                          <option value="Father">Father</option>
                          <option value="Son">Son</option>
                          <option value="Daughter">Daughter</option>
                          <option value="Sister">Sister</option>
                          <option value="Brother">Brother</option>
                          <option value="Aunt">Aunt</option>
                          <option value="Uncle">Uncle</option>
                          <option value="Cousin">Cousin</option>
                          <option value="Friend">Friend</option>
                          <option value="Other">Other</option>
                      </select>
                    </span>
                  <div class="beneficiary_relationship_other" *ngIf="isOtherRelationship">
                    <input type="text" class="personal_representative_input capitalize_txt" formControlName="other_relationship_string" placeholder="Type Here Relationship">
                  </div>
                  <label class="legal_name_benifets">What is the amount of the gift?</label>
                  <input type="text" class="legal_benifit_input" formControlName="gift_amt" placeholder="$">
                  <h2 class="full_legal_name2">Beneficiary's gender?</h2>
                  <ul class="radio_ul6">
                    <li>
                      <label class="radio_custom" [ngClass]="{'active': cashGiftForm.get('individualControls.0.b_gender').value === 'Male'}">
                        <input type="radio" formControlName="b_gender" value="Male">
                        <span class="custom_img"><img src="../../../../../assets/images/john.png" alt="Male"></span>
                        <span class="human_status">Male</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom" [ngClass]="{'active': cashGiftForm.get('individualControls.0.b_gender').value === 'Female'}">
                        <input type="radio" formControlName="b_gender" value="Female">
                        <span class="custom_img"><img src="../../../../../assets/images/leza.png" alt="Female"></span>
                        <span class="human_status"> Female</span> </label>
                    </li>
                  </ul>
                  <h2 class="beneficiary_predeceases blue_font">If your beneficiary passes before you, should this gift go to your beneficiary&#39;s issue?</h2>
                  <ul class="radio_ul7">
                    <li>
                      <label class="radio_custom gift_their_kids" [ngClass]="{'active': cashGiftForm.get('individualControls.0.passed_by').value === 'Yes'}">
                        <input type="radio" formControlName="passed_by" value="Yes">
                        <span class="custom_img"><img src="../../../../../assets/images/yes.png" alt="Passed_by"></span>
                        <span class="human_status">Yes</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom gift_their_kids" [ngClass]="{'active': cashGiftForm.get('individualControls.0.passed_by').value === 'No'}">
                        <input type="radio" formControlName="passed_by" value="No">
                        <span class="custom_img"><img src="../../../../../assets/images/no.png" alt="Passed_by"></span>
                        <span class="human_status"> No</span> </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="gift_charity_container" *ngIf="isCharity">
              <div formArrayName="charityControls">
                <div *ngFor="let item of cashGiftForm['controls'].charityControls['controls']; let j = index" [formGroupName]="j">
                  <label class="legal_name_benifets">Organization name?</label>
                  <input type="text" class="legal_benifit_input capitalize_txt" formControlName="organization_name">
                  <label class="legal_name_benifets">Organization address?</label>
                  <input type="text" class="legal_benifit_input" formControlName="organization_address" placeholder="Street Address, City, State, Zip Code">
                  <label class="legal_name_benifets">What is the amount of the gift?</label>
                  <input type="text" class="legal_benifit_input" formControlName="charity_gift_amt" placeholder="$">
                </div>
              </div>
            </div>
            <ul class="back_next_btn_ul" style="margin-top:20px;">
              <li *ngIf="isEdit"><a href="javascript:void(0)" class="gift_remove_form" (click)="popUpDelete(formEditDataSet.id)">Remove</a></li>
              <li *ngIf="!isEdit"><a href="javascript:void(0)" class="gift_remove_form" (click)="popUp()">Remove</a></li>
              <li><button class="saveBtn" type="submit" [disabled]="!cashGiftForm.valid">Save</button></li>
            </ul>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>