<div class="container">
  <div class="row">
    <!--<div class="col-md-3 hidden-xs hidden-sm"></div>-->
    <div class="col-md-4 formContainer">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">SimplyWilled.com</h1>
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div *ngIf="!loginRequestStatus && responseReceived" class="alert alert-danger">
              <strong>{{ loginRequestResponseMsg }}</strong>
            </div>
          </div>
          <div class="col-lg-12">
            <div *ngIf="loginRequestStatus && responseReceived" class="alert alert-success">
              <strong>{{ loginRequestResponseMsg }}</strong>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <fieldset>
              <div class="form-group">
                <input
                        class="form-control"
                        placeholder="Email Address"
                        type="email"
                        name="email"
                        ngModel
                        required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        #email="ngModel"
                >
              </div>
              <div class="alert alert-danger"
                   *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors?.required">Email is required</p>
                <p *ngIf="email.errors?.pattern">Email is not correct!</p>
              </div>


              <div class="form-group">
                <input
                        class="form-control"
                        placeholder="Password"
                        type="password"
                        name="password"
                        ngModel
                        required
                        #password="ngModel"
                >
              </div>
              <div class="alert alert-danger"
                   *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors?.required">Password is required</p>
              </div>

              <div class="checkbox">
              <label class="remember">
              <input name="remember" type="checkbox" value="Remember Me"> Remember Me
              </label>
              </div>

              <button
                      [disabled]="form.invalid"
                      class="btn btn-lg btn-success btn-block"
              >
                <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                Login
              </button>
             <!--<button type="reset" class="reset" [disabled]="showLoader" (click)="onReset(form)"></button>
              <button type="button" class="forget" [disabled]="showLoader" (click)="onForgotPassword()">Forgot Password</button>-->

            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- /.col-->
   <!-- <div class="col-md-3 hidden-xs hidden-sm"></div>-->
  </div><!-- /.row -->
</div>
