<div class="container">
  <div class="row">
    <!--<div class="col-md-3 hidden-xs hidden-sm"></div>-->
    <div class="col-md-4 formContainer">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">SimplyWilled.com</h1>
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <fieldset>
              <div class="form-group">
                <input
                        class="form-control"
                        placeholder="Email Address"
                        type="email"
                        name="email"
                        ngModel
                        required
                        #email="ngModel"
                >
              </div>
              <div
                      class="alert alert-danger"
                      *ngIf="email.invalid && email.touched"
              >
                Username is Required!
              </div>


              <div class="form-group">
                <input
                        class="form-control"
                        placeholder="Password"
                        type="password"
                        name="password"
                        ngModel
                        required
                        #password="ngModel"
                >
              </div>
              <div
                      class="alert alert-danger"
                      *ngIf="password.invalid && password.touched"
              >
                Password is Required!
              </div>

              <div class="checkbox">
              <label class="remember">
              <input name="remember" type="checkbox" value="Remember Me"> Remember Me
              </label>
              </div>

              <button
                      [disabled]="form.invalid"
                      class="btn btn-lg btn-success btn-block"
              >
                <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                Login
              </button>
             <button type="reset" class="reset" [disabled]="showLoader" (click)="onReset(form)"></button>
              <button type="button" class="forget" [disabled]="showLoader" (click)="onForgotPassword()">Forgot Password</button>
              
            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- /.col-->
   <!-- <div class="col-md-3 hidden-xs hidden-sm"></div>-->
  </div><!-- /.row -->
</div>
