<div class="rightPanel">
  <div class="main-content tellusaboutyou">
    <h2>How should The Rest of Your Estate Distributed?</h2>
    <form [formGroup]="estateDistributedForm" novalidate (ngSubmit)="onSubmit(estateDistributedForm)">
      <div class="form-group">
        <ul class="radio_ul6 gifts-list">
          <li>
            <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.value.disrtibuteType == '1'}">
              <input type="radio" formControlName="disrtibuteType" value="1" (change)="addRemoveValidation()">
              <span class="custom_img5"><img src="../../../../assets/images/single2.png" alt="Single"></span>
              <span class="human_status3">To A Single <br> Beneficiary</span>
            </label>
          </li>
          <li>
            <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.value.disrtibuteType == '2'}">
              <input type="radio" formControlName="disrtibuteType" value="2" (change)="addRemoveValidation()">
              <span class="custom_img5"><img src="../../../../assets/images/multiple.png" alt="Multiple"></span>
              <span class="human_status3">To Multiple  <br> Beneficiaries </span>
            </label>
          </li>
          <li>
            <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.value.disrtibuteType == '3'}">
              <input type="radio" formControlName="disrtibuteType" value="3" (change)="addRemoveValidation()">
              <span class="custom_img5"><img src="../../../../assets/images/law.png" alt="Heirs At Law"></span>
              <span class="human_status3">To My Heirs <br>  At Law </span>
            </label>
          </li>
          <li>
            <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.value.disrtibuteType == '4'}">
              <input type="radio" formControlName="disrtibuteType" value="4" (change)="addRemoveValidation()">
              <span class="custom_img5"><img src="../../../../assets/images/otherway-icon.png" alt="Otherway"></span>
              <span class="human_status3">Some Other <br>  Way</span>
            </label>
          </li>
        </ul>
        <div *ngIf="!estateDistributedForm.get('disrtibuteType').valid && estateDistributedForm.get('disrtibuteType').touched">
          <span *ngIf="estateDistributedForm.get('disrtibuteType').hasError('required')" class="error_txt">Please fill up this field.</span>
        </div>
      </div>
        <div *ngIf="estateDistributedForm.value.singleBeneficiary == 'Yes'">
            <div formArrayName="toASingleBeneficiary">
                <div  *ngFor="let item of estateDistributedForm['controls'].toASingleBeneficiary['controls']; let i=index"  [formGroupName]="i">
            <div class="form-group">
                <label>What is your Beneficiary's First name? </label>
                <input type="text" class="form-control" formControlName="firstName">
                <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.firstName').valid && estateDistributedForm.get('toASingleBeneficiary.0.firstName').touched">
                    <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.firstName').hasError('required')" class="error_txt">Please provide beneficiary first name.</span>
                </div>

            </div>
            <div class="form-group">
                <label>What is your Beneficiary's full legal name?</label>
                <input type="text" class="form-control" formControlName="fullName">
                <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.fullName').valid && estateDistributedForm.get('toASingleBeneficiary.0.fullName').touched" class="help-block">
                    <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.fullName').hasError('required')" class="error_txt"> Please enter a properly capitalized beneficiary name.</span>
                    <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.fullName').hasError('pattern')" class="error_txt">Please enter a properly capitalized beneficiary name.</span>
                </div>

            </div>
            <div class="form-group ">
                <label>What is their relationship to you?</label>
                <select formControlName="relationship" class="form-control" (change)="addRemoveValidationToOtherRelationship()">
                    <option value="">Select Relationship</option>
                    <option value="Wife">Wife</option>
                    <option value="Husband">Husband</option>
                    <option value="Mother">Mother</option>
                    <option value="Father">Father</option>
                    <option value="Son">Son</option>
                    <option value="Daughter">Daughter</option>
                    <option value="Sister">Sister</option>
                    <option value="Brother">Brother</option>
                    <option value="Aunt">Aunt</option>
                    <option value="Uncle">Uncle</option>
                    <option value="Cousin">Cousin</option>
                    <option value="Friend">Friend</option>
                    <option value="Other">Other</option>
                </select>
                <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.relationship').valid && estateDistributedForm.get('toASingleBeneficiary.0.relationship').touched" class="help-block">
                  <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.relationship').hasError('required')" class="error_txt">Please fill up this field.</span>
                </div>
            </div>
             <div class="form-group" *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.relationship').value == 'Other'">
                   <input type="text" formControlName="otherRelationship" class="form-control">
                 <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.otherRelationship').valid && estateDistributedForm.get('toASingleBeneficiary.0.otherRelationship').touched" class="help-block">
                    <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.otherRelationship').hasError('required')" class="error_txt">Please fill up this field.</span>
                 </div>
             </div>
            <div class="form-group">
                <label>What is your beneficiary's gender?</label>
                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toASingleBeneficiary.0.gender').value == 'M'}">
                            <input type="radio" formControlName="gender" value="M">
                            <span class="human_status">Male</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toASingleBeneficiary.0.gender').value == 'F'}">
                            <input type="radio" formControlName="gender" value="F">
                            <span class="human_status">Female</span>
                        </label>
                    </li>
                </ul>
                <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.gender').valid && estateDistributedForm.get('toASingleBeneficiary.0.gender').touched">
                  <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.gender').hasError('required')" class="error_txt">Gender is required</span>
                </div>
            </div>
            <div class="form-group">
                <label>What happens if your beneficiary passes before you? </label>
                <ul class="radio_ul6 gifts-list">
                    <li>
                        <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').value == '1'}">
                            <input type="radio" formControlName="ifPassesbeforeyou" value="1" (change)="addRemoveValidationToSomeotherway()">
                            <span class="custom_img5"><img src="../../../../assets/images/multiple.png" alt="Multiple"></span>
                            <span class="human_status3">Distribute To My Beneficiary's Issue</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').value == '2'}">
                            <input type="radio" formControlName="ifPassesbeforeyou" value="2" (change)="addRemoveValidationToSomeotherway()">
                            <span class="custom_img5"><img src="../../../../assets/images/law.png" alt="Heirs At Law"></span>
                            <span class="human_status3">Distribute The Rest To My Heirs At Law</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').value == '3'}">
                            <input type="radio" formControlName="ifPassesbeforeyou" value="3" (change)="addRemoveValidationToSomeotherway()">
                            <span class="custom_img5"><img src="../../../../assets/images/otherway-icon.png" alt="Otherway"></span>
                            <span class="human_status3">Some Other Way</span>
                        </label>
                    </li>
                </ul>
                <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').valid && estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').touched" class="help-block">
                    <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').hasError('required')" class="error_txt">Please fill up this field.</span>
                </div>

            </div>
            <div class="form-group" *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.ifPassesbeforeyou').value == '3'">
                <label> Otherwise, to be distributed to: </label>

                <textarea formControlName="someotherway" cols="60" rows="8" placeholder="Type..." class="form-control"></textarea>
                <div *ngIf="!estateDistributedForm.get('toASingleBeneficiary.0.someotherway').valid && estateDistributedForm.get('toASingleBeneficiary.0.someotherway').touched">
                    <span *ngIf="estateDistributedForm.get('toASingleBeneficiary.0.someotherway').hasError('required')" class="error_txt">Please fill up this field.</span>
                </div>
            </div>
            </div>
            </div>
        </div><!-- Single Beneficarry form Ends -->

        <div *ngIf="estateDistributedForm.value.multiBeneficiary == 'Yes'">
            <div formArrayName="toMultipleBeneficiary">
            <div  *ngFor="let item of estateDistributedForm['controls'].toMultipleBeneficiary['controls']; let j=index"  [formGroupName]="j">
            <div class="form-group">
                <label>Would you like to divide the rest of your estate into equal shares for each beneficiary? <br>
                    (If you prefer, you can enter separate percentages)</label>
                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').value == 'Yes'}">
                            <input type="radio" formControlName="isEstateIntoEqualShares" value="Yes" (change)="addValidationIsEstateIntoEqualShares()">
                            <span class="human_status">Yes</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').value == 'No'}">
                            <input type="radio" formControlName="isEstateIntoEqualShares" value="No" (change)="addValidationIsEstateIntoEqualShares()">
                            <span class="human_status">No</span>
                        </label>
                    </li>
                </ul>
                <div *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').valid && estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').touched" class="help-block">
                  <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').hasError('required')" class="error_txt">Please fill up this field.</span>
                </div>
            </div>
                <div *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').value == 'Yes'" class="form-group">

                        <div formArrayName="beneficiaryYes">
                            <div class="row formHeadingRow">
                                <div class="threeColField">
                                    <label>Beneficiary's full legal name</label>
                                </div>
                                <div class="threeColField">
                                    <label>Beneficiary's relationship to you</label>
                                </div>
                            </div>
                            <div class="row formRow" *ngFor="let newItem of item.get('beneficiaryYes').controls; let m=index"  [formGroupName]="m">
                                <div class="threeColField"><input type="text" class="form-control" formControlName="beneficiaryFullName" (change)="checkInput()" placeholder="Beneficiary's full legal name"></div>
                                <div class="threeColField"><input type="text" class="form-control" formControlName="beneficiaryRelationship" placeholder="Beneficiary's relationship to you"></div>
                                <div class="threeColField" *ngIf="m > 0"><button type="button" class="btn btn btn-danger delRow" (click)="removeOption(item.controls.beneficiaryYes, m, 1)"><i class="fa fa-trash"></i></button></div>
                            </div>
                            <div class="addRowBtnRow">
                                <div class="addRowBtn">
                                    <button type="button" class="btn btn btn-primary addRow" (click)="addMoreOption(item.controls.beneficiaryYes, 1)">+</button>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <!-- <table class="table tableForm">
                                <tr>
                                    <td>Beneficiary's Full Legal Name</td>
                                    <td>Beneficiary’s Relationship To You</td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let newItem of item.get('beneficiaryYes').controls; let m=index"  [formGroupName]="m">
                                    <td><input type="text" class="form-control" formControlName="beneficiaryFullName" (change)="checkInput()"></td>
                                    <td><input type="text" class="form-control" formControlName="beneficiaryRelationship"></td>
                                    <td *ngIf="m > 0"><button type="button" class="btn btn btn-danger delRow" (click)="removeOption(item.controls.beneficiaryYes, m, 1)"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn btn-primary addRow" (click)="addMoreOption(item.controls.beneficiaryYes, 1)">+</button>
                                    </td>
                                </tr>
                            </table> -->
                        </div>
                        <div *ngIf="setValidationFlagYes" >
                          <span class="error_txt">Please fill all fields</span>
                        </div>
                    <!-- <button type="button" class="btn-xs btn-default" (click)="addMoreOption(item.controls.beneficiaryYes, 1)">+ Add</button> -->
                </div>
                <div *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').value == 'No'" class="form-group table-responsive">
                    <div formArrayName="beneficiaryNo">

                            <div class="row formHeadingRow2">
                                <div class="threeColField2">
                                    <label>Beneficiary's Full Legal Name</label>
                                </div>
                                <div class="threeColField2">
                                    <label>Beneficiary’s Relationship To You</label>
                                </div>
                                <div class="threeColField2">
                                    <label>Beneficiary's Percentage of the Estate?</label>
                                </div>
                            </div>
                            <div class="row formRow2" *ngFor="let newItems of item.get('beneficiaryNo').controls; let n=index"  [formGroupName]="n">
                                <div class="threeColField2"><input type="text" value="" class="form-control" placeholder="Beneficiary's Full Legal Name" formControlName="beneficiaryNoFullName"></div>
                                <div class="threeColField2"><input type="text" value="" class="form-control" placeholder="Beneficiary’s Relationship To You" formControlName="beneficiaryNoRelationship"></div>
                                <div class="threeColField2"><input type="text" value="" class="form-control" placeholder="Beneficiary's Percentage of the Estate?" formControlName="beneficiaryNoPercentageToEstate" (keypress)="checkOnlyNumbers($event)" (change)="checkInput()"></div>
                                <div class="threeColField2" *ngIf="n > 0"><button type="button" class="btn btn btn-danger delRow" (click)="removeOption(item.controls.beneficiaryNo, n, 2)"><i class="fa fa-trash"></i></button></div>
                            </div>

                            <div class="addRowBtnRow">
                                <div class="addRowBtn2">
                                    <button type="button" class="btn btn btn-primary addRow" (click)="addMoreOption(item.controls.beneficiaryNo, 2)">+</button>
                                </div>
                            </div>

                    <!-- <table class="table">
                        <tr>
                            <td>Beneficiary's Full Legal Name</td>
                            <td>Beneficiary’s Relationship To You</td>
                            <td>Beneficiary's Percentage of the Estate?</td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let newItems of item.get('beneficiaryNo').controls; let n=index"  [formGroupName]="n">
                            <td><input type="text" class="form-control" formControlName="beneficiaryNoFullName"></td>
                            <td><input type="text" class="form-control" formControlName="beneficiaryNoRelationship"></td>
                            <td><input type="text" class="form-control" formControlName="beneficiaryNoPercentageToEstate" (keypress)="checkOnlyNumbers($event)" (change)="checkInput()"></td>
                            <td *ngIf="n > 0"><button class="btn-md btn-danger" (click)="removeOption(item.controls.beneficiaryNo, n, 2)">X</button></td>
                        </tr>
                    </table> -->
                      <div *ngIf="setValidationFlagNo" >
                        <span class="error_txt">Please fill all fields</span>
                      </div>
                        <div *ngIf="showErrorMessage" >
                            <span class="error_txt">Percentage Value Must Be 100%. </span>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn-xs btn-default" (click)="addMoreOption(item.controls.beneficiaryNo, 2)">+ Add</button> -->
                </div>
                <div class="form-group">
                    <label>Should a decreased beneficiary's share goes to his or her kids?</label>
                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiaryShareToKids').value == 'Yes'}">
                                <input type="radio" formControlName="deceasedBeneficiaryShareToKids" value="Yes">
                                <span class="human_status">Yes</span>
                            </label>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiaryShareToKids').value == 'No'}">
                                <input type="radio" formControlName="deceasedBeneficiaryShareToKids" value="No">
                                <span class="human_status">No</span>
                            </label>
                        </li>
                    </ul>
                    <div *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiaryShareToKids').valid && estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiaryShareToKids').touched">
                        <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiaryShareToKids').hasError('required')" class="error_txt">Please fill up this field.</span>
                    </div>
                </div>
                <div class="form-group"  *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.isEstateIntoEqualShares').value == 'No'">
                    <label>If the initial allocation of shares among beneficiaries is unequal, should a deceased beneficiarie's share be allocated to the other beneficiaries' shares in the same ratio as the initial division?</label>
                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiarieShare').value == 'Yes'}">
                                <input type="radio" formControlName="deceasedBeneficiarieShare" value="Yes">
                                <span class="human_status">Yes</span>
                            </label>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiarieShare').value == 'No'}">
                                <input type="radio" formControlName="deceasedBeneficiarieShare" value="No">
                                <span class="human_status">No</span>
                            </label>
                        </li>
                    </ul>
                    <div *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiarieShare').valid && estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiarieShare').touched">
                        <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.deceasedBeneficiarieShare').hasError('required')" class="error_txt">Please fill up this field.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Would you like for any minor beneficiary's share to be held in trust until they are an adult?</label>
                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.minorBeneficiaryShareToBeHeldInTrust').value == 'Yes'}">
                                <input type="radio" formControlName="minorBeneficiaryShareToBeHeldInTrust" value="Yes" (change)="addValidationToMinorBeneficiaryShareToBeHeldInTrust()">
                                <span class="human_status">Yes</span>
                            </label>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.minorBeneficiaryShareToBeHeldInTrust').value == 'No'}">
                                <input type="radio" formControlName="minorBeneficiaryShareToBeHeldInTrust" value="No" (change)="addValidationToMinorBeneficiaryShareToBeHeldInTrust()">
                                <span class="human_status">No</span>
                            </label>
                        </li>
                    </ul>
                    <div *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.minorBeneficiaryShareToBeHeldInTrust').valid && estateDistributedForm.get('toMultipleBeneficiary.0.minorBeneficiaryShareToBeHeldInTrust').touched" class="help-block">
                        <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.minorBeneficiaryShareToBeHeldInTrust').hasError('required')" class="error_txt">Please fill up this field.</span>
                    </div>
                </div>
                <div *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.minorBeneficiaryShareToBeHeldInTrust').value == 'Yes'">
                <div class="form-group">
                    <label>At what age would you like a minor's share distributed to them?</label>
                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.whatAgeMinorShareDistributed').value == '18'}">
                                <input type="radio" formControlName="whatAgeMinorShareDistributed" value="18">
                                <span class="human_status">At Age 18</span>
                            </label>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.whatAgeMinorShareDistributed').value == '21'}">
                                <input type="radio" formControlName="whatAgeMinorShareDistributed" value="21">
                                <span class="human_status">At Age 21</span>
                            </label>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.whatAgeMinorShareDistributed').value == '25'}">
                                <input type="radio" formControlName="whatAgeMinorShareDistributed" value="25">
                                <span class="human_status">At Age 25</span>
                            </label>
                        </li>
                    </ul>
                    <div *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.whatAgeMinorShareDistributed').valid && estateDistributedForm.get('toMultipleBeneficiary.0.whatAgeMinorShareDistributed').touched" class="help-block">
                        <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.whatAgeMinorShareDistributed').hasError('required')" class="error_txt">Please fill up this field.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Would you like the minor‘s parents to be the trustee of the account?</label>
                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.minorParentsTrustee').value == 'Yes'}">
                                <input type="radio" formControlName="minorParentsTrustee" value="Yes" (change)="addValidationToMinorParentsTrustee()">
                                <span class="human_status">Yes</span>
                            </label>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': estateDistributedForm.get('toMultipleBeneficiary.0.minorParentsTrustee').value == 'No'}">
                                <input type="radio" formControlName="minorParentsTrustee" value="No" (change)="addValidationToMinorParentsTrustee()">
                                <span class="human_status">No</span>
                            </label>
                        </li>
                    </ul>
                    <div *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.minorParentsTrustee').valid && estateDistributedForm.get('toMultipleBeneficiary.0.minorParentsTrustee').touched" class="help-block">
                            <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.minorParentsTrustee').hasError('required')" class="error_txt">Please fill up this field.</span>
                    </div>
                </div>
                <div class="form-group" *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.minorParentsTrustee').value == 'Yes'"><!-- based on the minorParentsTrustee it will show -->
                    <label> Who would you like to serve as trustee of the account?</label>
                    <input type="text" formControlName="whoServeAsTrusteeAccount" class="form-control">
                    <span *ngIf="!estateDistributedForm.get('toMultipleBeneficiary.0.whoServeAsTrusteeAccount').valid && estateDistributedForm.get('toMultipleBeneficiary.0.whoServeAsTrusteeAccount').touched" class="help-block">
                        <span *ngIf="estateDistributedForm.get('toMultipleBeneficiary.0.whoServeAsTrusteeAccount').hasError('required')" class="error_txt">Please fill up this field.</span>
                    </span>
                </div>
                </div>
            </div>
            </div>
        </div><!-- Multiple Beneficarry form Ends -->
        <div class="form-group" *ngIf="estateDistributedForm.value.someOtherWay == 'Yes'">
            <div formArrayName="toSomeOtherWay">
                <div  *ngFor="let item of estateDistributedForm['controls'].toSomeOtherWay['controls']; let k=index"  [formGroupName]="k">
            <label> Otherwise, to be distributed to: </label>
            <textarea formControlName="someOtherWayText" cols="60" rows="8" placeholder="Type..." class="form-control"></textarea>
                </div>
            </div>
            <div *ngIf="!estateDistributedForm.get('toSomeOtherWay.0.someOtherWayText').valid && estateDistributedForm.get('toSomeOtherWay.0.someOtherWayText').touched" >
                <span *ngIf="estateDistributedForm.get('toSomeOtherWay.0.someOtherWayText').hasError('required')" class="error_txt">Please fill up this field.</span>
            </div>
        </div><!-- some Other wat form Ends -->
      <div class="form-footer">
        <button class="btn common-button btn-grey pull-left" routerLink="/dashboard/your-specific-gifts">Go Back</button>
        <button class="btn common-button btn-complete" type="submit" >Continue</button>
      </div>
    </form>
  </div>
</div>
