p{
  font-family: "Times New Roman";
}
.docPage{
  width: 700px !important;
  height: auto !important;
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  margin: 20px 0;
  box-sizing: border-box;
  padding: 40px;
}
.pageCount{
  counter-reset: index;
}
.pageNumber{
  counter-increment: index;
}
.pageNumber:after{
  content: counter(index);
}
.docPageInner{
  height: auto !important;
  min-height: 400px;
}
.docPage span, .docPage p {
  line-height: initial !important;
}