<div id="wrapper">
<app-header></app-header>
<app-left-menu></app-left-menu>
<div id="page-wrapper">
    <div id="page-inner">


        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Admin Dashboard
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        
        
<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-green">
        <div class="panel-body">
            <i class="fa fa-users fa-5x"></i>
            <h3>243</h3>
        </div>
        <div class="panel-footer back-footer-green">
            Total Users
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-blue">
        <div class="panel-body">
            <i class="fa fa-rss fa-5x"></i>
            <h3>{{blogListCount}} </h3>
        </div>
        <div class="panel-footer back-footer-blue">
            Total Blogs
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-red">
        <div class="panel-body">
            <i class="fa fa fa-comments fa-5x"></i>
            <h3>9 </h3>
        </div>
        <div class="panel-footer back-footer-red">
            Comments
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-red">
        <div class="panel-body">
            <i class="fa fa-shopping-bag fa-5x"></i>
            <h3>54 </h3>
        </div>
        <div class="panel-footer back-footer-red">
            Packages
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-brown">
        <div class="panel-body">
            <i class="fa fa-sitemap fa-5x"></i>
            <h3>54 </h3>
        </div>
        <div class="panel-footer back-footer-brown">
            Categories
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-green">
        <div class="panel-body">
            <i class="fa fa-file-text fa-5x"></i>
            <h3>0</h3>
        </div>
        <div class="panel-footer back-footer-green">
            Total Pages
        </div>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-xs-12">

    <div class="panel panel-default dashTable">
        <div class="panel-heading">
            Latest 5 Users
        </div> 
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Verified</th>
                            <th>Joining</th>
                        </tr>
                    </thead>
                    <tbody>
                                                                                                                        <tr>
                            <td>1</td>
                            <td>Spike Buster</td>
                            <td>sparkp70@gmail.com</td>
                            <td>Yes</td>
                            <td>4 days ago</td>
                        </tr>
                                                                                        <tr>
                            <td>2</td>
                            <td>Testt Test</td>
                            <td>work+5@tier5.us</td>
                            <td>Yes</td>
                            <td>1 month ago</td>
                        </tr>
                                                                                        <tr>
                            <td>3</td>
                            <td>Alina Disuzza</td>
                            <td>work+1@tier5.in</td>
                            <td>Yes</td>
                            <td>1 month ago</td>
                        </tr>
                                                                                        <tr>
                            <td>4</td>
                            <td>Test Users</td>
                            <td>dipanakar.naskar@tier5.in</td>
                            <td>Yes</td>
                            <td>1 month ago</td>
                        </tr>
                                                                                        <tr>
                            <td>5</td>
                            <td>Jon Vaughn</td>
                            <td>work@tier5.us</td>
                            <td>Yes</td>
                            <td>1 month ago</td>
                        </tr>
                                                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>
<!-- /. ROW  -->


        <footer><p>All right reserved. Developed By <a href="#">TNI</a></p></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>

</div>