<div class="tourBg" *ngIf="stepNumber > 0"></div>
<header>
    <div class="container">
        <div class="customRow">
            <div class="col-md-6">
                <div class="logo">
                    <a [routerLink]="['/']">
                        <img src="../../../../assets/images/logo_new.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="dashboardHeaderRight text-right">
                <span class="tourGuideArea">
                    <div class="accountBtnArea" [ngClass]="{'active' : isMyAccountClickedVal, 'tourSpot' : stepNumber == 10}" (click)="isMyAccountClicked()">
                        <a href="javascript:void(0)" class="myAccount"><i class="fa fa-user leftIcon"></i> <span>My Account <i class="fa fa-chevron-down"></i></span> </a>
                        <span class="drop">
                            <a [routerLink]="['/dashboard/will']" class="myAccount"><i class="fa fa-pencil leftIcon"></i> <span>Edit Profile</span></a>
                            <a [routerLink]="['/dashboard/change-password']" class="myAccount"><i class="fa fa-lock leftIcon"></i> <span>Change Password</span></a>
                            <!--<a [routerLink]="['/dashboard/subscribed-package']" class="myAccount"><i class="fa fa-shopping-bag leftIcon"></i> <span>Packages</span></a>-->
                        </span>
                    </div>
                    <app-global-tour [stepNumber]='stepNumber' class="pop2" *ngIf="stepNumber == 10"></app-global-tour>
                    
                    <!-- <div class="tourGuide pop2" *ngIf="stepNumber == 10">
                        <span class="closeTour" (click)="changeTourState('close')"><i class="fa fa-remove"></i></span>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                            Temporibus quam quibusdam eius necessitatibus eos totam laborios
                        </p>
                        <div class="tourBtnArea">
                            <button type="button" (click)="changeTourState('backward')" class="prev"><i class="fa fa-chevron-left"></i> Previous</button>
                            <button type="button" (click)="changeTourState('forward')" class="next">Next <i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div> -->
                </span>
                <span class="tourGuideArea">
                    <button class="btn common-button green-btn logOut" (click)="onLogOut()" [ngClass]="{'tourSpot' : stepNumber == 11}">Logout</button>
                    
                    <!-- <app-global-toor *ngIf="stepNumber == 11"></app-global-toor> -->
                    <app-global-tour [stepNumber]='stepNumber' class="pop3" *ngIf="stepNumber == 11"></app-global-tour>

                    <!-- <div class="tourGuide pop3" *ngIf="stepNumber == 11">
                        <span class="closeTour" (click)="changeTourState('close')"><i class="fa fa-remove"></i></span>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                            Temporibus quam quibusdam eius necessitatibus eos totam laborios
                        </p>
                        <div class="tourBtnArea">
                            <button type="button" (click)="changeTourState('backward')" class="prev"><i class="fa fa-chevron-left"></i> Previous</button>
                            <button type="button" (click)="changeTourState('close')" class="next">Next <i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div> -->
                </span>
            </div>
        </div>
    </div>
</header>
<div class="main-container">
    <div class="container">
        <div class="row" *ngIf="showProgressBar">
            <div class="col-md-12">
                <div class="row">
                    <div class="progress_main">
                        <div class="progres_left">
                            <span [style.width.%]="(progressBar.width === undefined) ? 0 : progressBar.width "></span>
                        </div>
                        <span class="progress_right">{{(progressBar.width === undefined) ? 0 : progressBar.width}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-3" *ngIf="showLeft">
                <div class="row">
                    <div class="sidebar">
                        <div class="sidebar-body">
                            <ul>
                                <li class="active">
                                    <a>
                                        <img src="../../../../assets/images/icon-male-green.png" class="img-responsive green-icon">
                                        <img src="../../../../assets/images/icon-male.png" class="img-responsive white-icon">
                                        <h1>{{userName? userName : 'Your'}} <br> <span></span></h1>
                                    </a>
                                </li>
                                <!--<li *ngIf="step1Data?.data?.spouseInfo?.name">
                                    <a>
                                        <img src="../../../../assets/images/icon-male-green.png" class="img-responsive green-icon">
                                        <img src="../../../../assets/images/icon-male.png" class="img-responsive white-icon">
                                        <h1>{{step1Data?.data?.spouseInfo?.name}}<br> <span></span></h1>
                                    </a>
                                </li>-->
                                <li class="tourGuideArea">
                                    <button class="btn common-button btn-dashboard" (click)="userDasboardRoute('/dashboard')" [ngClass]="{'tourSpot' : stepNumber == 1}">Back to Dashboard</button>
                                    
                                    <app-global-tour [stepNumber]='stepNumber' class="pop1" *ngIf="stepNumber == 1"></app-global-tour>

                                    <!-- <div class="tourGuide pop1" *ngIf="stepNumber == 1">
                                        <span class="closeTour" (click)="changeTourState('close')"><i class="fa fa-remove"></i></span>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                            Temporibus quam quibusdam eius necessitatibus eos totam laborios
                                        </p>
                                        <div class="tourBtnArea">
                                            <button type="button" (click)="changeTourState('forward')" class="next">Next <i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </div> -->
                                </li>
                                <li class="tourGuideArea">
                                    <button class="btn common-button btn-preview" [routerLink]="['/dashboard/documents/signing-instruction']" [ngClass]="{'tourSpot' : stepNumber == 3}">Preview Documents</button>
                                    
                                    <!-- <app-global-toor *ngIf="stepNumber == 3"></app-global-toor> -->
                                    <app-global-tour [stepNumber]='stepNumber' class="pop1" *ngIf="stepNumber == 3"></app-global-tour>
                                    
                                    <!-- <div class="tourGuide pop1" *ngIf="stepNumber == 3">
                                        <span class="closeTour" (click)="changeTourState('close')"><i class="fa fa-remove"></i></span>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                            Temporibus quam quibusdam eius necessitatibus eos totam laborios
                                        </p>
                                        <div class="tourBtnArea">
                                            <button type="button" (click)="changeTourState('backward')" class="prev"><i class="fa fa-chevron-left"></i> Previous</button>
                                            <button type="button" (click)="changeTourState('forward')" class="next">Next <i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </div> -->
                                </li>
                                <!--<li>-->
                                    <!--<button class="btn common-button btn-progress">Save Progress</button>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="notification takeAtour">
                        <span class="imp"><img src="../../../../assets/images/owl.png"></span>
                        <a (click)="changeTourState('forward')" [routerLink]="['/dashboard/will']">Take a tour</a>
                    </div>
                    <span class="tourGuideArea referArea">
                    <div class="notification" [ngClass]="{'tourSpot' : stepNumber == 9}">
                        <!-- <span class="imp"><img src="../../../../assets/images/owl.png"></span> -->
                        <!--<p [@fadeInOut]="fadeState">They’ll be notified via e-mail at the address you provided.</p>-->
                      <h2 >
                            Enjoy Using SimplyWilled.com?<br>Refer A Friend
                            this one
                      </h2>
                        <div >
                            <form [formGroup] = "referAFriendForm">
                              <div class="form-group">
                                <div class="email-box" [ngClass]="{'valid':referAFriendForm.get('firstname').valid, 'invalid': !referAFriendForm.get('firstname').valid && referAFriendForm.get('firstname').touched}">
                                  <input type="text" placeholder="First Name" class="form-control" formControlName="firstname">
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="email-box" [ngClass]="{'valid':referAFriendForm.get('lastname').valid, 'invalid': !referAFriendForm.get('lastname').valid && referAFriendForm.get('lastname').touched}">
                                  <input type="text" placeholder="Last Name" class="form-control" formControlName="lastname">
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="email-box" [ngClass]="{'valid':referAFriendForm.get('email').valid, 'invalid': !referAFriendForm.get('email').valid && referAFriendForm.get('email').touched}">
                                  <input type="email" placeholder="Email Address" class="form-control" formControlName="email">
                                </div>
                              </div>

                              <span class="success_msg" *ngIf="message.successMessage !== ''">
                                  {{message.successMessage}}
                                </span>
                              <span class="error_msg" *ngIf="message.errorMessage !== ''">
                                {{message.errorMessage}}
                                </span>
                              <button type="button" class="btn common-button complete" (click)="sendMail()" [disabled]="referAFriendForm.invalid || loading">Submit <i class="fa fa-chevron-right"></i></button>

                            </form>
                        </div>
                    </div>

                    <!-- <app-global-toor *ngIf="stepNumber == 9"></app-global-toor> -->
                    <app-global-tour [stepNumber]='stepNumber' class="pop4" *ngIf="stepNumber == 9"></app-global-tour>

                    <!-- <div class="tourGuide pop1" *ngIf="stepNumber == 9">
                            <span class="closeTour" (click)="changeTourState('close')"><i class="fa fa-remove"></i></span>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                Temporibus quam quibusdam eius necessitatibus eos totam laborios
                            </p>
                            <div class="tourBtnArea">
                                <button type="button" (click)="changeTourState('backward')" class="prev"><i class="fa fa-chevron-left"></i> Previous</button>
                                <button type="button" (click)="changeTourState('forward')" class="next">Next <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div> -->
                </span>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-lg-9" [ngClass]="{'packagesLeft' : !showLeft}">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-top">
      <div class="wrapper">

        <div class="footerTxtArea">
          <div class="footer-logo">
            <a href="#">
              <img src="../../../../assets/images/footer-logo.png" class="img-responsive">
            </a>
            <p>
              SimplyWilled is an online service that provides legal forms and legal information. We are not a law firm and are not a substitute for an atttorney's advice. Use of this website is subject to our Terms of Service, Terms of Use and Privacy Policy.
            </p>
            <div class="sslLogo"><img src="../../../../assets/images/ssl-2.png" alt=""></div>
          </div>
        </div>
        <div class="footerNavArea">
          <div class="footer-nav">
            <ul>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <!--<li><a routerLink="/sign-in">Login</a></li>-->
            </ul>
          </div>
          <div class="footer-nav">
            <ul>
                <li><a routerLink="/terms-of-use">Terms of Use</a></li>
                <li><a routerLink="/terms-of-service">Terms of Service</a></li>
                <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
              <li><a href="javascript:void(0)" (click)="sitemapOpen()">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="FooterRight">
          <div class="contactus">
            <!--<img src="../../../../assets/images/icon-call.png" class="img-responsive">-->
            <div class="footer-label">
              <span class="haveQst">Have Questions?</span>
              <span class="number">Call 1-(855) 965-1789</span>
              <span>Our representatives are based in the USA <img src="../../../../assets/images/usaFlag.png" alt=""></span>
              <span>Mon-Fri 9:00 AM - 9:00 PM EST<br>Weekend hours 9:00 AM - 7:00 PM EST</span>
            </div>
          </div>
          <div class="social">
            <span>Follow Us: </span>
            <ul>
              <li><a href="https://www.facebook.com/SimplyWilled"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/simplywilled"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/company/simplywilled.com"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/simplywilled"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="copyrightArea">
          <p class="copyright">Copyright © 2017-2018 Keep It Simple, LLC. All Rights Reserved.</p>
        </div>
        <div class="footerBottomRight">
          <p><span>Shop With Confidence Powered by</span> <a href="#"><img src="../../../../assets/images/paypal-btn.png" class="img-responsive"></a></p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </footer>
