<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="" *ngIf="!loading">
  <div class="main-content tellusaboutyou">
    <form [formGroup]="giftFormStepOne">
      <h2>
        Would you like to make specific gift to an individual?
        <app-global-tooltip (click)="toolTipClicked('gift')" [tooltipMessages]='toolTipMessageList.gift' toolTipType="gift"></app-global-tooltip>
      </h2>
      <div class="form-group">
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom" [ngClass]="{'active': giftFormStepOne.value.gift_status === '1'}">
              <input type="radio" formControlName="gift_status" value="1">
              <span class="human_status">Yes</span>
            </label>
          </li>
          <li>
            <label class="radio_custom" [ngClass]="{'active': giftFormStepOne.value.gift_status === '0'}">
              <input type="radio" formControlName="gift_status" value="0">
              <span class="human_status">No</span>
            </label>
          </li>
        </ul>
      </div>
      <h2>Would you like to make a specific gift to a charity?</h2>
      <div class="form-group">
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom" [ngClass]="{'active': giftFormStepOne.value.gift_status_charity === '1'}">
              <input type="radio" formControlName="gift_status_charity" value="1">
              <span class="human_status">Yes</span>
            </label>
          </li>
          <li>
            <label class="radio_custom" [ngClass]="{'active': giftFormStepOne.value.gift_status_charity === '0'}">
              <input type="radio" formControlName="gift_status_charity" value="0">
              <span class="human_status">No</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="form-footer">
        <button type="button" class="btn common-button btn-grey pull-left" (click)="goBack()" >Go Back</button>
        <button class="btn common-button btn-complete" (click)="makeSpecificGift(giftFormStepOne)">Continue</button>
      </div>
    </form>
  </div>
</div>
