<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="col-md-9 col-sm-12 rightPanel" *ngIf="!loading">
    <div class="main-content tellusaboutyou">
        <h2>Name Your Healthcare Agent
            <app-global-tooltip (click)="toolTipClicked('health_care')" [tooltipMessages]='toolTipMessageList.health_care' toolTipType="health_care"></app-global-tooltip>
        </h2>
        <form #medicalEmergencyForm="ngForm">
           <!-- <div class="form-group" [ngClass]="{'valid': firstLegalName.valid, 'invalid': firstLegalName.touched && firstLegalName.touched && !firstLegalName.valid}">
                <label for="firstLegalName">First Legal Name:</label>
                <input id="firstLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.firstLegalName" name="firstLegalName" ngModel #firstLegalName="ngModel" required>
                <i class="fa fa-check" *ngIf="firstLegalName.valid"></i>
                <i class="fa fa-times" *ngIf="firstLegalName.touched && firstLegalName.touched && !firstLegalName.valid"></i>

              <span class="error_txt" *ngIf="firstLegalName.touched && firstLegalName.touched && firstLegalName.hasError('required')">
                  Please provide first name.
              </span>
            </div>
            <div class="form-group" [ngClass]="{'valid': lastLegalName.valid, 'invalid': lastLegalName.touched && lastLegalName.touched && !lastLegalName.valid}">
                <label for="lastLegalName">Last Legal Name:</label>
                <input id="lastLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.lastLegalName" name="lastLegalName" ngModel #lastLegalName="ngModel" required>
                <i class="fa fa-check" *ngIf="lastLegalName.valid"></i>
                <i class="fa fa-times" *ngIf="lastLegalName.touched && lastLegalName.touched && !lastLegalName.valid"></i>

              <span class="error_txt" *ngIf="lastLegalName.touched && lastLegalName.touched && lastLegalName.hasError('required')">
                  Please provide last name.
              </span>
            </div>-->

            <div class="form-group" [ngClass]="{'valid': fulllegalName.valid, 'invalid': fulllegalName.touched && fulllegalName.touched && !fulllegalName.valid}">
              <label for="fulllegalName">Healthcare Agent's Full Legal Name:</label>
              <input id="fulllegalName" class="form-control" type="text" placeholder="Full legal name" required pattern="\w+\s{1}\w+" [(ngModel)]="medicalAgent.fulllegalName" name="fulllegalName" ngModel #fulllegalName="ngModel">
              <i class="fa fa-check" *ngIf="fulllegalName.valid"></i>
              <i class="fa fa-times" *ngIf="fulllegalName.touched && fulllegalName.touched && !fulllegalName.valid"></i>

              <span class="error_txt" *ngIf="fulllegalName.touched && fulllegalName.invalid && fulllegalName.errors?.required">
                    Please provide a proper capitalized full legal name.
              </span>
              <span class="error_txt" *ngIf="fulllegalName.touched && fulllegalName.invalid && fulllegalName.errors?.pattern">
                    Please provide a proper capitalized full legal name.
              </span>
            </div>

            <div class="form-group" [ngClass]="{'valid': relation.valid, 'invalid': relation.touched && relation.touched && !relation.valid}">
                <label for="relation">Healthcare Agent's relationship to you:</label>
                <select id="relation" class="form-control" [(ngModel)]="medicalAgent.relation" name="relation" ngModel #relation="ngModel" required>
                    <option value="">Select Relationship</option>
                    <option *ngFor="let relation of relations" value="{{relation}}">{{relation}}</option>
                </select>
                <i class="fa fa-check" *ngIf="relation.valid"></i>
                <i class="fa fa-times" *ngIf="relation.touched && relation.touched && !relation.valid"></i>

                <span class="error_txt" *ngIf="relation.touched && relation.touched && relation.hasError('required')">
                    Please fill up this field.
                </span>
            </div>


            <div class="form-group" *ngIf="relation.value === 'Other'"  [ngClass]="{'valid': relationOther.valid, 'invalid': relationOther.touched && relationOther.touched && !relationOther.valid}">
              <label for="relationOther">Mention your relationship:</label>
              <input id="relationOther" class="form-control" [(ngModel)]="medicalAgent.relationOther" name="relationOther" ngModel #relationOther="ngModel" required>
              <i class="fa fa-check" *ngIf="relationOther.valid"></i>
              <i class="fa fa-times" *ngIf="relationOther.touched && relationOther.touched && !relationOther.valid"></i>

              <span class="error_txt" *ngIf="relationOther.touched && relationOther.touched && relationOther.hasError('required')">
                      Please fill up this field.
              </span>
            </div>

            <div class="form-group">
                <div class="" [ngClass]="{'valid': address.valid, 'invalid': address.touched && address.touched && !address.valid}">
                    <label>Healthcare Agent's Address:</label>
                    <input id="address" class="form-control" type="text" placeholder="Address Line 1" [(ngModel)]="medicalAgent.address" name="address" ngModel #address="ngModel" required>
                    <i class="fa fa-check" *ngIf="address.valid"></i>
                    <i class="fa fa-times" *ngIf="address.touched && address.touched && !address.valid"></i>

                    <span class="error_txt" *ngIf="address.touched && address.touched && address.hasError('required')">
                      Address is required.
                    </span>
                </div>

                <div class="row">
                    <div class="col-md-6 smallField" [ngClass]="{'valid': city.valid, 'invalid': city.touched && city.touched && !city.valid}">
                        <input id="city" class="form-control" type="text" placeholder="City" [(ngModel)]="medicalAgent.city" name="city" ngModel #city="ngModel" required>
                        <i class="fa fa-check" *ngIf="city.valid"></i>
                        <i class="fa fa-times" *ngIf="city.touched && city.touched && !city.valid"></i>

                        <span class="error_txt" *ngIf="city.touched && city.touched && city.hasError('required')">
                            City is required.
                        </span>
                    </div>
                    <div class="col-md-6 smallField" [ngClass]="{'valid': state.valid , 'invalid': state.touched && state.touched && !state.valid}">
                        <select id="state" class="form-control"
                                [(ngModel)]="medicalAgent.state"
                                name="state" ngModel
                                #state="ngModel" required>
                            <option value="">State</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District Of Columbia">District of Columbia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                        <i class="fa fa-check" *ngIf="state.valid"></i>
                        <i class="fa fa-times" *ngIf="state.touched && state.touched && !state.valid"></i>

                        <span class="error_txt" *ngIf="state.touched && state.touched && state.hasError('required')">
                            State is required.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 smallField" [ngClass]="{'valid': zip.valid,'invalid': zip.touched && zip.touched && !zip.valid}">
                        <input id="zip" class="form-control" type="text" placeholder="Zip Code"
                               [(ngModel)]="medicalAgent.zip" name="zip"
                               ngModel #zip="ngModel" pattern="^\d{5}$" required>
                        <i class="fa fa-check" *ngIf="zip.valid"></i>
                        <i class="fa fa-times" *ngIf="zip.touched && zip.touched && !zip.valid"></i>

                        <span class="error_txt" *ngIf="zip.touched && zip.touched && zip.hasError('required')">
                            Zip is required.
                        </span>
                        <span class="error_txt" *ngIf="zip.touched && zip.touched && zip.hasError('pattern')">
                            Please provide a valid zip.
                        </span>
                    </div>
                    <div class="col-md-6 smallField" [ngClass]="{'valid': country.valid}">
                        <input id="country" class="form-control" type="text" [(ngModel)]="medicalAgent.country" name="country" ngModel #country="ngModel" disabled required>
                        <i class="fa fa-times" *ngIf="country.invalid && country.touched"></i>
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'valid': phone.valid, 'invalid': phone.touched && phone.touched && !phone.valid}">
                <label for="phone">Healthcare Agent's Phone Number:</label>
                <input id="phone" class="form-control" type="text"
                       [(ngModel)]="medicalAgent.phone" name="phone" ngModel
                       mask="(000)-000-0000" pattern="^\d{10}$" placeholder="(xxx)-xxx-xxxx"
                       #phone="ngModel" required>
                <i class="fa fa-check" *ngIf="phone.valid"></i>
                <i class="fa fa-times" *ngIf="phone.touched && phone.touched && !phone.valid"></i>

                 <span class="error_txt" *ngIf="phone.touched && phone.touched && phone.hasError('required')">
                      Phone is required.
                 </span>
                 <span class="error_txt" *ngIf="phone.touched && phone.touched && phone.hasError('pattern')">
                      Please provide a valid phone number.
                 </span>
            </div>


            <div class="form-group">
                <label>Would you like to inform this person that you appointed them as your Healthcare Agent?</label>

                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': toggleWillInform}">
                            <input type="radio"
                                   name="willInform"
                                   [(ngModel)]="medicalAgent.willInform"
                                   required
                                   value="true"
                                   #willInform="ngModel" ngModel
                            (click)="changewillinform(true)">
                            <span class="human_status">Yes</span>
                        </label>
                        <div class="email-box" *ngIf="toggleWillInform" [ngClass]="{'valid': emailOfAgent.valid, 'invalid': emailOfAgent.touched && emailOfAgent.touched && !emailOfAgent.valid}">
                            <input type="email" name="emailOfAgent" class="form-control" placeholder="Enter Email Address"
                                   [(ngModel)]="medicalAgent.emailOfAgent"
                                   #emailOfAgent="ngModel" ngModel
                                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required>
                            <i class="fa fa-check" *ngIf="emailOfAgent.valid"></i>
                            <i class="fa fa-times" *ngIf="emailOfAgent.touched && emailOfAgent.touched && !emailOfAgent.valid"></i>

                            <!--<span class="error_txt" *ngIf="phone.touched && phone.touched && phone.hasError('required')">
                              Phone is required.
                            </span>
                            <span class="error_txt" *ngIf="phone.touched && phone.touched && phone.hasError('pattern')">
                              Please provide a valid phone number.
                            </span>-->
                        </div>
                    </li>
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': !toggleWillInform}">
                            <input type="radio"
                                   name="willInform"
                                   [(ngModel)]="medicalAgent.willInform"
                                   required
                                   value="false"
                                   #willInform="ngModel" ngModel
                                   (click)="changewillinform(false)">
                            <span class="human_status">No</span>
                        </label>
                    </li>
                </ul>
            </div>


            <div class="form-group">
                <label>Would you like to appoint a Backup Healthcare Agent?
                    <app-global-tooltip (click)="toolTipClicked('health_care_backup')" [tooltipMessages]='toolTipMessageList.health_care_backup' toolTipType="health_care_backup"></app-global-tooltip>
                </label>
                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': toggleBackupAgent}">
                            <input type="radio"
                                   name="anyBackupAgent"
                                   [ngModel]="medicalAgent.anyBackupAgent"
                                   required
                                   value="true"
                                   #anyBackupAgent="ngModel"
                                   (click)="changeBackupAgentToggle(true)">
                            <span class="human_status">Yes</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': !toggleBackupAgent}">
                            <input type="radio"
                                   name="anyBackupAgent"
                                   [ngModel]="medicalAgent.anyBackupAgent"
                                   required
                                   value="false"
                                   #anyBackupAgent="ngModel"
                                   (click)="changeBackupAgentToggle(false)">
                            <span class="human_status">No</span>
                        </label>
                    </li>
                </ul>
            </div>



            <div *ngIf="toggleBackupAgent">
                <hr>
                <h2>Name Your Backup Healthcare Agent</h2>

                <!--<div class="form-group" [ngClass]="{'valid': backupfirstLegalName.valid, 'invalid': backupfirstLegalName.touched && backupfirstLegalName.touched && !backupfirstLegalName.valid}">
                    <label for="backupfirstLegalName">First Legal Name:</label>
                    <input id="backupfirstLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.backupfirstLegalName" name="backupfirstLegalName" ngModel #backupfirstLegalName="ngModel" required>
                    <i class="fa fa-check" *ngIf="backupfirstLegalName.valid"></i>
                    <i class="fa fa-times" *ngIf="backupfirstLegalName.touched && backupfirstLegalName.touched && !backupfirstLegalName.valid"></i>

                    <span class="error_txt" *ngIf="backupfirstLegalName.touched && backupfirstLegalName.touched && backupfirstLegalName.hasError('required')">
                      First name is required.
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'valid': backuplastLegalName.valid, 'invalid': backuplastLegalName.touched && backuplastLegalName.touched && !backuplastLegalName.valid}">
                    <label for="backuplastLegalName">Last Legal Name:</label>
                    <input id="backuplastLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.backuplastLegalName" name="backuplastLegalName" ngModel #backuplastLegalName="ngModel" required>
                    <i class="fa fa-check" *ngIf="backuplastLegalName.valid"></i>
                    <i class="fa fa-times" *ngIf="backuplastLegalName.touched && backuplastLegalName.touched && !backuplastLegalName.valid"></i>

                  <span class="error_txt" *ngIf="backuplastLegalName.touched && backuplastLegalName.touched && backuplastLegalName.hasError('required')">
                    Last name is required.
                  </span>
                </div>-->
              <div class="form-group" [ngClass]="{'valid': backupfulllegalName.valid, 'invalid': backupfulllegalName.touched && backupfulllegalName.touched && !backupfulllegalName.valid}">
                <label for="backupfulllegalName">Backup Healthcare Agent's Full Legal Name:</label>
                <input id="backupfulllegalName" class="form-control" type="text" placeholder="Full legal name" required pattern="\w+\s{1}\w+" [(ngModel)]="medicalAgent.backupfulllegalName" name="backupfulllegalName" ngModel #backupfulllegalName="ngModel">
                <i class="fa fa-check" *ngIf="backupfulllegalName.valid"></i>
                <i class="fa fa-times" *ngIf="backupfulllegalName.touched && backupfulllegalName.touched && !backupfulllegalName.valid"></i>

                <span class="error_txt" *ngIf="backupfulllegalName.touched && backupfulllegalName.invalid && backupfulllegalName.errors?.required">
                    Please provide a proper capitalized full legal name.
                </span>
                <span class="error_txt" *ngIf="backupfulllegalName.touched && backupfulllegalName.invalid && backupfulllegalName.errors?.pattern">
                    Please provide a proper capitalized full legal name.
                </span>
              </div>


                <div class="form-group" [ngClass]="{'valid': backupRelation.valid, 'invalid': backupRelation.touched && backupRelation.touched && !backupRelation.valid}">
                    <label for="backupRelation">Backup Healthcare Agent's relationship to you:</label>
                    <select id="backupRelation" class="form-control" [(ngModel)]="medicalAgent.backupRelation" name="backupRelation" ngModel #backupRelation="ngModel" required>
                        <option value="">Select Relationship</option>
                        <option *ngFor="let relation of relations" value="{{relation}}">{{relation}}</option>
                    </select>
                    <i class="fa fa-check" *ngIf="backupRelation.valid"></i>
                    <i class="fa fa-times" *ngIf="backupRelation.touched && backupRelation.touched && !backupRelation.valid"></i>

                    <span class="error_txt" *ngIf="backupRelation.touched && backupRelation.touched && backupRelation.hasError('required')">
                      Please fill up this field.
                    </span>
                </div>

              <div class="form-group" *ngIf="backupRelation.value === 'Other'"  [ngClass]="{'valid': backupRelationOther.valid, 'invalid': backupRelationOther.touched && backupRelationOther.touched && !backupRelationOther.valid}">
                <label for="backupRelationOther">Mention your relationship:</label>
                <input id="backupRelationOther" class="form-control" [(ngModel)]="medicalAgent.backupRelationOther" name="backupRelationOther" ngModel #backupRelationOther="ngModel" required>
                <i class="fa fa-check" *ngIf="backupRelationOther.valid"></i>
                <i class="fa fa-times" *ngIf="backupRelationOther.touched && backupRelationOther.touched && !backupRelationOther.valid"></i>

                <span class="error_txt" *ngIf="backupRelationOther.touched && backupRelationOther.touched && backupRelationOther.hasError('required')">
                      Please fill up this field.
                </span>
              </div>


              <div class="form-group">
                    <div class="" [ngClass]="{'valid': backupAddress.valid, 'invalid': backupAddress.touched && backupAddress.touched && !backupAddress.valid}">
                        <label>Backup Healthcare Agent's Address:</label>
                        <input id="backupAddress" class="form-control" type="text"
                            [(ngModel)]="medicalAgent.backupAddress" name="backupAddress" placeholder="Address Line 1"
                            ngModel #backupAddress="ngModel" required>
                        <i class="fa fa-check" *ngIf="backupAddress.valid"></i>
                        <i class="fa fa-times" *ngIf="backupAddress.touched && backupAddress.touched && !backupAddress.valid"></i>

                        <span class="error_txt" *ngIf="backupAddress.touched && backupAddress.touched && backupAddress.hasError('required')">
                          Address is required.
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupCity.valid, 'invalid': backupCity.touched && backupCity.touched && !backupCity.valid}">

                            <input id="backupCity" class="form-control" type="text"
                                   [(ngModel)]="medicalAgent.backupCity" name="backupCity"  placeholder="City"
                                   ngModel #backupCity="ngModel" required>
                            <i class="fa fa-check" *ngIf="backupCity.valid"></i>
                            <i class="fa fa-times" *ngIf="backupCity.touched && backupCity.touched && !backupCity.valid"></i>

                            <span class="error_txt" *ngIf="backupCity.touched && backupCity.touched && backupCity.hasError('required')">
                              City is required.
                            </span>
                        </div>
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupState.valid, 'invalid': backupState.touched && backupAddress.touched && !backupState.valid}">
                            <select id="backupState" class="form-control"
                                    [(ngModel)]="medicalAgent.backupState"
                                    name="backupState" ngModel
                                    #backupState="ngModel" required>
                                <option value="">State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District Of Columbia">District of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                            <i class="fa fa-check" *ngIf="backupState.valid"></i>
                            <i class="fa fa-times" *ngIf="backupState.touched && backupState.touched && !backupState.valid"></i>

                            <span class="error_txt" *ngIf="backupState.touched && backupState.touched && backupState.hasError('required')">
                              State is required.
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupZip.valid, 'invalid': backupZip.touched && backupZip.touched && !backupZip.valid}">
                            <input id="backupZip" class="form-control" type="text"
                                   [(ngModel)]="medicalAgent.backupZip" name="backupZip"  placeholder="Zip Code"
                                   ngModel #backupZip="ngModel" pattern="^\d{5}$" required>
                            <i class="fa fa-check" *ngIf="backupZip.valid"></i>
                            <i class="fa fa-times" *ngIf="backupZip.touched && backupZip.touched && !backupZip.valid"></i>

                            <span class="error_txt" *ngIf="backupZip.touched && backupZip.touched && backupZip.hasError('required')">
                              Zip is required.
                            </span>
                            <span class="error_txt" *ngIf="backupZip.touched && backupZip.touched && backupZip.hasError('pattern')">
                              Please provide a valid zip.
                            </span>
                        </div>
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupCountry.valid, 'invalid': backupCountry.touched && backupCountry.touched && !backupCountry.valid}">
                            <input id="backupCountry" class="form-control" type="text"
                                   [(ngModel)]="medicalAgent.backupCountry"
                                   name="backupCountry" ngModel #backupCountry="ngModel"
                                   disabled required>
                            <i class="fa fa-times" *ngIf="backupCountry.invalid && backupCountry.touched"></i>
                            <i class="fa fa-times" *ngIf="backupCountry.touched && backupCountry.touched && !backupCountry.valid"></i>

                            <span class="error_txt" *ngIf="backupCountry.touched && backupCountry.touched && backupCountry.hasError('required')">
                              Country is required.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'valid': backupphone.valid, 'invalid': backupphone.touched && backupphone.touched && !backupphone.valid}">
                    <label for="backupphone">Backup Healthcare Agent's Phone Number:</label>
                    <input id="backupphone" class="form-control" type="text"
                           [(ngModel)]="medicalAgent.backupphone" name="backupphone" ngModel
                           mask="(000)-000-0000" pattern="^\d{10}$" placeholder="(xxx)-xxx-xxxx"
                           #backupphone="ngModel" required>
                    <i class="fa fa-check" *ngIf="backupphone.valid"></i>
                    <i class="fa fa-times" *ngIf="backupphone.touched && backupphone.touched && !backupphone.valid"></i>

                    <span class="error_txt" *ngIf="backupphone.touched && backupphone.touched && backupphone.hasError('required')">
                      Phone is required.
                    </span>
                    <span class="error_txt" *ngIf="backupphone.touched && backupphone.touched && backupphone.hasError('pattern')">
                      Please provide a valid phone number.
                    </span>
                </div>

                <div class="form-group">
                    <label>Would you like to inform this person that you appointed them as your Backup Healthcare Agent?</label>

                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': toggleWillBackupInform}">
                                <input type="radio"
                                       name="willInformBackup"
                                       [(ngModel)]="medicalAgent.willInformBackup"
                                       required ngModel
                                       value="true"
                                       #willInformBackup="ngModel"
                                       (click)="changewillBackupinform(true)">
                                <span class="human_status">Yes</span>
                            </label>
                            <div class="email-box" *ngIf="toggleWillBackupInform" [ngClass]="{'valid': emailOfBackupAgent.valid, 'invalid': emailOfBackupAgent.touched && emailOfBackupAgent.touched && !emailOfBackupAgent.valid}">
                                <input type="email" name="emailOfBackupAgent" class="form-control" placeholder="Enter Email Address"
                                       [(ngModel)]="medicalAgent.emailOfBackupAgent"
                                       #emailOfBackupAgent="ngModel" ngModel
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required>
                                <i class="fa fa-check" *ngIf="emailOfBackupAgent.valid"></i>
                                <i class="fa fa-times" *ngIf="emailOfBackupAgent.touched && emailOfBackupAgent.touched && !emailOfBackupAgent.valid"></i>

                              <!--<span class="error_txt" *ngIf="phone.touched && phone.touched && phone.hasError('required')">
                                Phone is required.
                              </span>
                              <span class="error_txt" *ngIf="phone.touched && phone.touched && phone.hasError('pattern')">
                                Please provide a valid phone number.
                              </span>-->
                            </div>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': !toggleWillBackupInform}">
                                <input type="radio"
                                       name="willInformBackup"
                                       [(ngModel)]="medicalAgent.willInformBackup"
                                       required ngModel
                                       value="false"
                                       #willInformBackup="ngModel"
                                       (click)="changewillBackupinform(false)">
                                <span class="human_status">No</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group" *ngIf="errFlag">
              <div class="error_txt">
                {{errString}}
              </div>
            </div>
            <div class="form-footer">
                <button class="btn common-button btn-grey pull-left" (click)="goBack()">Go Back</button>
                <button type="submit" class="btn common-button btn-complete"
                        (click)="formSubmit()"
                        [disabled]="!medicalEmergencyForm.form.valid">Submit</button>
            </div>
        </form>
    </div>
</div>
