<div class="col-md-9 col-sm-12 rightPanel">
    <div class="main-content tellusaboutyou">
        <h2>Name your first choice for healthcare agent</h2>
        <form #medicalEmergencyForm="ngForm">
            <div class="form-group" [ngClass]="{'valid': firstLegalName.valid}">
                <label for="firstLegalName">First Legal Name:</label>
                <input id="firstLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.firstLegalName" name="firstLegalName" ngModel #firstLegalName="ngModel" required>
                <i class="fa fa-check" *ngIf="firstLegalName.valid"></i>
                <i class="fa fa-times" *ngIf="firstLegalName.invalid"></i>
            </div>
            <div class="form-group" [ngClass]="{'valid': lastLegalName.valid}">
                <label for="lastLegalName">Last Legal Name:</label>
                <input id="lastLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.lastLegalName" name="lastLegalName" ngModel #lastLegalName="ngModel" required>
                <i class="fa fa-check" *ngIf="lastLegalName.valid"></i>
                <i class="fa fa-times" *ngIf="lastLegalName.invalid"></i>
            </div>

            <div class="form-group" [ngClass]="{'valid': relation.valid}">
                <label for="relation">Their Relationship To You:</label>
                <select id="relation" class="form-control" [(ngModel)]="medicalAgent.relation" name="relation" ngModel #relation="ngModel" required>
                    <!--<option value="">Select Option</option>-->
                    <option *ngFor="let relation of relations" value="{{relation}}">{{relation}}</option>
                </select>
                <i class="fa fa-check" *ngIf="relation.valid"></i>
                <i class="fa fa-times" *ngIf="relation.invalid"></i>
            </div>

            <div class="form-group">
                <div class="" [ngClass]="{'valid': address.valid}">
                    <label>Their Address: </label>
                    <input id="address" class="form-control" type="text" [(ngModel)]="medicalAgent.address" name="address" ngModel #address="ngModel" required>
                    <i class="fa fa-check" *ngIf="address.valid"></i>
                    <i class="fa fa-times" *ngIf="address.invalid"></i>
                </div>
                
                <div class="row">
                    <div class="col-md-6 smallField" [ngClass]="{'valid': city.valid}">
                        <input id="city" class="form-control" type="text" [(ngModel)]="medicalAgent.city" name="city" ngModel #city="ngModel" required>
                        <i class="fa fa-check" *ngIf="city.valid"></i>
                        <i class="fa fa-times" *ngIf="city.invalid"></i>
                    </div>
                    <div class="col-md-6 smallField" [ngClass]="{'valid': state.valid}">
                        <select id="state" class="form-control"
                                [(ngModel)]="medicalAgent.state"
                                name="state" ngModel
                                #state="ngModel" required>
                            <option value="">State</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District Of Columbia">District of Columbia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                        <i class="fa fa-check" *ngIf="state.valid"></i>
                        <i class="fa fa-times" *ngIf="state.invalid"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 smallField" [ngClass]="{'valid': zip.valid}">
                        <input id="zip" class="form-control" type="text"
                               [(ngModel)]="medicalAgent.zip" name="zip"
                               ngModel #zip="ngModel" pattern="^\d{5}$" required>
                        <i class="fa fa-check" *ngIf="zip.valid"></i>
                        <i class="fa fa-times" *ngIf="zip.errors?.required"></i>
                        <i class="fa fa-times" *ngIf="zip.errors?.pattern"></i>
                    </div>
                    <div class="col-md-6 smallField" [ngClass]="{'valid': country.valid}">
                        <input id="country" class="form-control" type="text" [(ngModel)]="medicalAgent.country" name="country" ngModel #country="ngModel" disabled required>
                        <i class="fa fa-times" *ngIf="country.invalid && country.touched"></i>
                        <i class="fa fa-check" *ngIf="country.valid"></i>

                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'valid': phone.valid}">
                <label for="phone">Their Phone Number?</label>
                <input id="phone" class="form-control" type="text"
                       [(ngModel)]="medicalAgent.phone" name="phone" ngModel
                       mask="(000)-000-0000" pattern="^\d{10}$" placeholder="(xxx)-xxx-xxxx"
                       #phone="ngModel" required>
                <i class="fa fa-check" *ngIf="phone.valid"></i>
                <i class="fa fa-times" *ngIf="phone.errors?.required"></i>
                <i class="fa fa-times" *ngIf="phone.errors?.pattern"></i>
            </div>


            <div class="form-group">
                <label>Would you like to inform this person that you appointed them as your Healthcare Agent? </label>

                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': toggleWillInform}">
                            <input type="radio"
                                   name="willInform"
                                   [(ngModel)]="medicalAgent.willInform"
                                   required
                                   value="true"
                                   #willInform="ngModel" ngModel
                            (click)="changewillinform(true)">
                            <span class="human_status">Yes</span>
                        </label>
                        <div class="email-box" *ngIf="toggleWillInform" [ngClass]="{'valid': emailOfAgent.valid}">
                            <input type="email" name="emailOfAgent" class="form-control" 
                                   [(ngModel)]="medicalAgent.emailOfAgent"
                                   #emailOfAgent="ngModel" ngModel
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                            <i class="fa fa-check" *ngIf="emailOfAgent.valid"></i>
                            <i class="fa fa-times" *ngIf="emailOfAgent.errors?.required"></i>
                            <i class="fa fa-times" *ngIf="emailOfAgent.errors?.pattern"></i>
                        </div>
                    </li>
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': !toggleWillInform}">
                            <input type="radio"
                                   name="willInform"
                                   [(ngModel)]="medicalAgent.willInform"
                                   required
                                   value="false"
                                   #willInform="ngModel" ngModel
                                   (click)="changewillinform(false)">
                            <span class="human_status">No</span>
                        </label>
                    </li>
                </ul>
            </div>


            <div class="form-group">
                <label>Would you like to appoint backup Healthcare Agent? </label>
                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': toggleBackupAgent}">
                            <input type="radio"
                                   name="anyBackupAgent"
                                   [ngModel]="medicalAgent.anyBackupAgent"
                                   required
                                   value="true"
                                   #anyBackupAgent="ngModel"
                                   (click)="changeBackupAgentToggle(true)">
                            <span class="human_status">Yes</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom" [ngClass]="{'active': !toggleBackupAgent}">
                            <input type="radio"
                                   name="anyBackupAgent"
                                   [ngModel]="medicalAgent.anyBackupAgent"
                                   required
                                   value="false"
                                   #anyBackupAgent="ngModel"
                                   (click)="changeBackupAgentToggle(false)">
                            <span class="human_status">No</span>
                        </label>
                    </li>
                </ul>
            </div>

            

            <div *ngIf="toggleBackupAgent">
                <hr>
                <h2>Name Your Backup Healthcare Agent</h2>

                <div class="form-group" [ngClass]="{'valid': backupfirstLegalName.valid}">
                    <label for="backupfirstLegalName">First Legal Name:</label>
                    <input id="backupfirstLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.backupfirstLegalName" name="backupfirstLegalName" ngModel #backupfirstLegalName="ngModel" required>
                    <i class="fa fa-check" *ngIf="backupfirstLegalName.valid"></i>
                    <i class="fa fa-times" *ngIf="backupfirstLegalName.invalid"></i>
                </div>
                <div class="form-group" [ngClass]="{'valid': backuplastLegalName.valid}">
                    <label for="backuplastLegalName">Last Legal Name:</label>
                    <input id="backuplastLegalName" class="form-control" type="text" [(ngModel)]="medicalAgent.backuplastLegalName" name="backuplastLegalName" ngModel #backuplastLegalName="ngModel" required>
                    <i class="fa fa-check" *ngIf="backuplastLegalName.valid"></i>
                    <i class="fa fa-times" *ngIf="backuplastLegalName.invalid"></i>
                </div>

                <div class="form-group" [ngClass]="{'valid': backupRelation.valid}">
                    <label for="backupRelation">Their Relationship To You:</label>
                    <select id="backupRelation" class="form-control" [(ngModel)]="medicalAgent.backupRelation" name="backupRelation" ngModel #backupRelation="ngModel" required>
                        <!--<option value="">Select Option</option>-->
                        <option *ngFor="let relation of relations" value="{{relation}}">{{relation}}</option>
                    </select>
                    <i class="fa fa-check" *ngIf="backupRelation.valid"></i>
                    <i class="fa fa-times" *ngIf="backupRelation.invalid"></i>
                </div>

                <div class="form-group">
                    <div class="" [ngClass]="{'valid': backupAddress.valid}">
                        <label>Their Address: </label>
                        <input id="backupAddress" class="form-control" type="text"
                            [(ngModel)]="medicalAgent.backupAddress" name="backupAddress"
                            ngModel #backupAddress="ngModel" required>
                        <i class="fa fa-check" *ngIf="backupAddress.valid"></i>
                        <i class="fa fa-times" *ngIf="backupAddress.invalid"></i>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupCity.valid}">
                            <input id="backupCity" class="form-control" type="text"
                                   [(ngModel)]="medicalAgent.backupCity" name="backupCity"
                                   ngModel #backupCity="ngModel" required>
                            <i class="fa fa-check" *ngIf="backupCity.valid"></i>
                            <i class="fa fa-times" *ngIf="backupCity.invalid"></i>
                        </div>
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupState.valid}">
                            <select id="backupState" class="form-control"
                                    [(ngModel)]="medicalAgent.backupState"
                                    name="backupState" ngModel
                                    #backupState="ngModel" required>
                                <option value="">State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District Of Columbia">District of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                            <i class="fa fa-check" *ngIf="backupState.valid"></i>
                            <i class="fa fa-times" *ngIf="backupState.invalid"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupZip.valid}">
                            <input id="backupZip" class="form-control" type="text"
                                   [(ngModel)]="medicalAgent.backupZip" name="backupZip"
                                   ngModel #backupZip="ngModel" pattern="^\d{5}$" required>
                            <i class="fa fa-check" *ngIf="backupZip.valid"></i>
                            <i class="fa fa-times" *ngIf="backupZip.errors?.required"></i>
                            <i class="fa fa-times" *ngIf="backupZip.errors?.pattern"></i>
                        </div>
                        <div class="col-md-6 smallField" [ngClass]="{'valid': backupCountry.valid}">
                            <input id="backupCountry" class="form-control" type="text"
                                   [(ngModel)]="medicalAgent.backupCountry"
                                   name="backupCountry" ngModel #backupCountry="ngModel"
                                   disabled required>
                            <i class="fa fa-times" *ngIf="backupCountry.invalid && backupCountry.touched"></i>
                            <i class="fa fa-check" *ngIf="backupCountry.valid"></i>

                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'valid': backupphone.valid}">
                    <label for="backupphone">Their Phone Number?</label>
                    <input id="backupphone" class="form-control" type="text"
                           [(ngModel)]="medicalAgent.backupphone" name="backupphone" ngModel
                           mask="(000)-000-0000" pattern="^\d{10}$" placeholder="(xxx)-xxx-xxxx"
                           #backupphone="ngModel" required>
                    <i class="fa fa-check" *ngIf="backupphone.valid"></i>
                    <i class="fa fa-times" *ngIf="backupphone.errors?.required"></i>
                    <i class="fa fa-times" *ngIf="backupphone.errors?.pattern"></i>
                </div>

                <div class="form-group">
                    <label>Would you like to inform this person that you appointed them as your Healthcare Agent? </label>

                    <ul class="radio_ul6">
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': toggleWillBackupInform}">
                                <input type="radio"
                                       name="willInformBackup"
                                       [(ngModel)]="medicalAgent.willInformBackup"
                                       required ngModel
                                       value="true"
                                       #willInformBackup="ngModel"
                                       (click)="changewillBackupinform(true)">
                                <span class="human_status">Yes</span>
                            </label>
                            <div class="email-box" *ngIf="toggleWillBackupInform" [ngClass]="{'valid': emailOfBackupAgent.valid}">
                                <input type="email" name="emailOfBackupAgent" class="form-control"
                                       [(ngModel)]="medicalAgent.emailOfBackupAgent"
                                       #emailOfBackupAgent="ngModel" ngModel
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                <i class="fa fa-check" *ngIf="emailOfBackupAgent.valid"></i>
                                <i class="fa fa-times" *ngIf="emailOfBackupAgent.errors?.required"></i>
                                <i class="fa fa-times" *ngIf="emailOfBackupAgent.errors?.pattern"></i>
                            </div>
                        </li>
                        <li>
                            <label class="radio_custom" [ngClass]="{'active': !toggleWillBackupInform}">
                                <input type="radio"
                                       name="willInformBackup"
                                       [(ngModel)]="medicalAgent.willInformBackup"
                                       required ngModel
                                       value="false"
                                       #willInformBackup="ngModel"
                                       (click)="changewillBackupinform(false)">
                                <span class="human_status">No</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn common-button btn-complete"
                        (click)="formSubmit()"
                        [disabled]="!medicalEmergencyForm.form.valid">Submit</button>
            </div>
        </form>
    </div>
</div>