<div class="confirmd_main grey_bg border_top_green">
  <div class="wrapper">
    <div class="confirm_right">
      <div class="confirmed_form_top">
        <h1 class="form_heading">Let’s get started</h1>
        <p class="form_pera">SimplyWilled is the easiest way to make your estate plan online. Sign up below to get started.</p>
      </div>

      <div class="confirmed_form_white_sec">
          <div class="row" *ngIf="responseReceived">
              <div class="col-lg-12">
                  <div *ngIf="!setRequestStatus" class="alert alert-danger">
                      <strong>{{ setResponseMsg }}</strong>
                  </div>
              </div>
              <div class="col-lg-12">
                  <div *ngIf="setRequestStatus" class="alert alert-success">
                      <strong>{{ setResponseMsg }}</strong>
                  </div>
              </div>
          </div>
        <form id="signInForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
          <input type="email" name="email" placeholder="Email Address" class="email_form"
                 ngModel
                 required
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                 #email="ngModel">
          <span class="alert-danger"
                *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors?.required">Email is required</p>
                <p *ngIf="email.errors?.pattern">Email is not correct!</p>
          </span>

          <input type="password" name="password" placeholder="Password" class="email_form"
                 ngModel
                 required
                 #password="ngModel" minlength="6">

          <span class="alert-danger"
                *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors?.required">Password is required</p>
                <p *ngIf="password.errors?.minlength">Password should be minimum 6!</p>
          </span>

          <input type="password" name="confirm_password" placeholder="Confirm Password" class="email_form"
                 ngModel
                 required
                 #confirm="ngModel" validateEqual="password" minlength="6">

          <span class="alert-danger"
                *ngIf="confirm.errors && (confirm.dirty || confirm.touched)">
                <p *ngIf="confirm.errors?.required">Confirm Password is required</p>
                <p *ngIf="confirm.errors?.minlength">Confirm Password should be minimum 6!</p>
          </span>
          <span *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)" class="text-danger">
              <p>Confirm Password should be same as password!</p>
          </span>

          <div class="loader_parent" id="response_loader">
            <span class="loader"></span>
          </div>
          <div class="get_start_main">
            <div class="clicking_left">
              <a routerLink="/sign-in" class="already_account">Login</a>
              <a routerLink="/forget-password" class="already_account">Forgot your password?</a>
            </div>
            <!--<a class="login_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Login</a>-->
            <button value="Continue" [disabled]="form.invalid" class="login_btn"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Register</button>
          </div>
        </form>
      </div>
    </div>
    <div class="confirm_left">
        <h1 class="login_text">Sign up to create your account.</h1>


        <ul class="protect_loved_ul2">
            <li>
                <span class="loved_img2"><img src="../../../../assets/images/protect-img.png" alt="protect img"></span>
                <div class="protect_loved_right2">
                    <h2>PROTECT YOUR LOVED ONES</h2>
                    <p>Name guardians and list beneficiaries so those you love are in good hands.</p>
                </div>
            </li>
            <li>
                <span class="loved_img2"><img src="../../../../assets/images/protect-img.png" alt="protect img"></span>
                <div class="protect_loved_right2">
                    <h2>PROTECT YOUR ASSETS</h2>
                    <p>Ensure the assets you’ve worked hard for pass to the ones you love.</p>
                </div>
            </li>
            <li>
                <span class="loved_img2"><img src="../../../../assets/images/protect-img.png" alt="protect img"></span>
                <div class="protect_loved_right2">
                    <h2>SAVE TIME &amp; MONEY</h2>
                    <p>It takes less than 15 minutes and your done. Try it today and
                        see how simple preparing  your last will and testament online can be.</p>
                </div>
            </li>
        </ul>

    </div>
  </div>
</div>
<div class="about_sec4">
    <div class="wrapper">
      <h1 class="about_state_planning_text">Estate Planning Made Simple & Affordable.</h1>
      <h4 class="select_plan">Select your plan now and Keep your loved ones safe!</h4>
      <a routerLink="/register" class="aboutGetStarted"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started</a>
    </div>
  </div>