*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Garamond;
}
/* width */
::-webkit-scrollbar {
width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
background: #0f69bb;

}

/* Handle */
::-webkit-scrollbar-thumb {
background: #99cc33; 
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #57ab2a; 
}

.docContainer{
    width: 700px;
    margin: 0 auto;
}
.docPage{
    width: 700px !important;
    height: auto !important;
    background: #fff;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    margin: 20px 0;
    box-sizing: border-box;
    padding: 40px;
}
.docPageInner{
    height: auto !important;
    min-height: 400px;
    font-family: Times New Roman, serif;
}