<div class="body_container">
  <div class="confirmd_main">
      <div class="wrapper">
          <div class="confirm_left">
              <div class="forgetPass">
                  <h2 class="login_text">Have you made your last will?</h2>
                  <p>
                    Try SimplyWilled.com today and make sure your wishes are know.
                  </p>
                  <h2>Have a question?</h2>
                  <p>Email: <a href="">info@simplywilled.com</a> </p>
              </div>
              
             
          </div>
          <div class="confirm_right">
              <div class="confirmed_form_top">
                  <h1 class="form_heading">Change Your Password</h1>
                  <p class="form_pera">Please set a new password below.</p>
              </div>
              <div class="confirmed_form_white_sec">
                  <div class="row">
                      <div class="col-lg-12" *ngIf="respType === false">
                          <div class="alert alert-danger">
                              <strong>{{respMsg}}</strong>
                          </div>
                      </div>
                      <div class="col-lg-12" *ngIf="respType === true">
                          <div class="alert alert-success">
                              <strong>{{respMsg}}</strong>
                          </div>
                      </div>
                  </div>
                  <form id="signInForm" #signInForm="ngForm">
                      <input type="password" name="password" placeholder="Password"
                             [(ngModel)]="password" ngModel #chpassword="ngModel"
                             minlength="6" class="email_form" required>
                      <input type="password" name="confirmPassword" placeholder="Confirm Password" required
                             [(ngModel)]="confirmPassword" ngModel #conPassword="ngModel" class="email_form">
                      <span class="alert-danger" >
                      <p *ngIf="chpassword.errors?.required">Password is required</p>
                      <p *ngIf="chpassword.errors?.minlength">Password should be minimum 6!</p>
                      <p *ngIf="conPassword.errors?.required">Confirm Password is required</p>
                      <p *ngIf="confirmPassword !== password">Confirm Password not matched</p>
                  </span>

                      <div class="loader_parent" id="response_loader">
                          <span class="loader"></span>
                      </div>
                      <div class="get_start_main">
                          <div class="clicking_left">
                             
                          </div>
                          <!--<a class="login_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Login</a>-->
                          <button value="Continue" class="login_btn"
                                  [disabled]="!signInForm.form.valid || confirmPassword !== password"
                                  (click)="resetSubmit()">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>Reset Password
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="about_sec4">
          <div class="wrapper">
            <h1 class="about_state_planning_text">Estate Planning Made Simple & Affordable.</h1>
            <h4 class="select_plan">Select your plan now and Keep your loved ones safe!</h4>
            <a routerLink="/register" class="aboutGetStarted"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started</a>
          </div>
        </div>
</div>
