
  
  <div formGroupName="">
    <div class="form-group valid">
      <label>Financial Power of Attorney's Full Legal Name:</label>
      <input
              type="text"
              class="form-control"
              
              required
              name ='firstname'>
              <i class="fa fa-check"></i>
    </div>
    
    <div class="form-group valid">
      <label>What is their address? </label>
      <input
              type="text"
              class="form-control"
              
              required
              name ='address'>
              <i class="fa fa-check"></i>
    </div>
    
    
    <div class="form-group valid">
      <label>Financial Power of Attorney's Phone Number:</label>
      <input
              type="text"
              class="form-control"
              
              required
              name ='phone'>
              <i class="fa fa-check"></i>
    </div>
    
    
    <div class="form-group valid">
      <label>Would you like to inform this person that you appointed them as your Financial Power of Attorney?</label>
        <ul class="radio_ul6">
            <li>
              <label class="radio_custom">
                <input type="radio" required="true" value=1>
                <span class="human_status">Yes</span>
              </label>
            </li>
            <li>
              <label class="radio_custom">
                <input type="radio" required="true" value=0>
                <span class="human_status">No</span>
              </label>
            </li>
          </ul>
    </div>
    
    <div class="form-group valid">
      <label>What is their email address?</label>
      <input type="text" class="form-control" required name ='phone' pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
      <i class="fa fa-check"></i>
    </div>
    
    
  </div>
