<div class="heaser_sec2_slider">
  <div class="wrapper">
    <div class="slider_realitive_div">
      <div class="banner_text_main">
        <h1 class="state_planning_text">Estate Planning Made </h1>
        <h2 class="made_simple_text">Simple and Affordable</h2>
        <ul class="index_banner_ul">
          <li>Save Time & Money</li>
        </ul>
        <div class="ecforceable_btn">
          <span class="state_img sprite_sheet"></span>
          <h3 class="enforceable_text">Enforceable In All 50 States</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="index_sec1 border_top_green">
  <div class="wrapper">
    <div class="sec1_left">
      <ul class="protect_loved_ul">
        <li>
          <span class="loved_img sprite_sheet"></span>
          <div class="protect_loved_right">
            <h2>PROTECT YOUR LOVED ONES</h2>
            <p>Name guardians and list beneficiaries so those you love are in good hands.</p>
          </div>
        </li>
        <li>
          <span class="loved_img sprite_sheet"></span>
          <div class="protect_loved_right">
            <h2>PROTECT YOUR ASSETS</h2>
            <p>Ensure the assets you’ve worked hard for pass to the ones you love.</p>
          </div>
        </li>
        <li>
          <span class="loved_img sprite_sheet"></span>
          <div class="protect_loved_right">
            <h2>SAVE TIME & MONEY</h2>
            <p>It takes less than 10 minutes and you're done. Try it today and see how simple preparing your estate plan online can be.</p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="index_sec2">
  <div class="wrapper">
    <span class="enforceable_estate">Enforceable Estate Documents <br><span>Customized For You</span> </span>
    <ul class="last_will_treatment_ul">
      <li>
        <span class="last_will_img sprite_sheet"></span>
        <div class="last_will_right_sec">
          <h3>Last Will & Testament</h3>
          <p>Draft a personalized Last Will & Testament so your wishes are known. Name your Personal Representative, list beneficiaries and appoint guardians for minor children.</p>
        </div>
      </li>
      <li>
        <span class="last_will_img sprite_sheet"></span>
        <div class="last_will_right_sec">
          <h3>Revocable Living Trust</h3>
          <p>Prepare a personalized revocable living trust so your estate is protected. Appoint a trustee, name beneficiaries and plan out how your estate should be distributed.</p>
        </div>
      </li>
      <li>
        <span class="last_will_img sprite_sheet"></span>
        <div class="last_will_right_sec">
          <h3>Living Will</h3>
          <p>State your wishes for medical treatment and end-of-life care, in the event of incapacity.</p>
        </div>
      </li>
      <li>
        <span class="last_will_img sprite_sheet"></span>
        <div class="last_will_right_sec">
          <h3>Home Transfer Deed</h3>
          <p>Prepare a real property transfer deed to fund your revocable living trust with any real estate you may own to avoid probate later.</p>
        </div>
      </li>
      <li>
        <span class="last_will_img sprite_sheet"></span>
        <div class="last_will_right_sec">
          <h3>Financial Power of Attorney</h3>
          <p>Complete a financial power of attorney and name an individual to oversee your financial affairs in the event you are incapacitated.</p>
        </div>
      </li>
      <li>
        <span class="last_will_img sprite_sheet"></span>
        <div class="last_will_right_sec">
          <h3>Healthcare Power of Attorney</h3>
          <p>A healthcare power of attorney and living will so your wishes are known in the event of a medical emergency.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="index_sec7">
  <div class="wrapper">
    <h2 class="save_text">Our Average Customer <span>Saves 80%</span> <br>With SimplyWilled Estate Planning!</h2>
    <ul class="sec7_ul">
      <li>Safe</li>
      <li>Simple</li>
      <li>Smart</li>
    </ul>
  </div>
</div>

<div class="index_sec5" id="how_work">
  <div class="wrapper">
    <div class="video_main">
      <img src="images/video.png" alt="video img">
    </div>
    <div class="sec5_left_main">
      <h2 class="its_easy_text">It’s As Easy As <br><span>One, Two, Three!</span></h2>
      <ul class="sec5_easy_ul">
        <li>
          <span class="print_img sprite_sheet"></span>
          <div class="print_img_right_sec">
            <h3>1. Click</h3>
            <p>To get started, simply answer a few short questions using our easy to follow estate planning questionnaire.</p>
          </div>
        </li>
        <li>
          <span class="print_img sprite_sheet"></span>
          <div class="print_img_right_sec">
            <h3>2. Print</h3>
            <p>Select the documents you want. When you’re ready instantly download and print your custom estate planning documents.</p>
          </div>
        </li>
        <li>
          <span class="print_img sprite_sheet"></span>
          <div class="print_img_right_sec">
            <h3>3. Execute</h3>
            <p>Execute your custom estate plan using our simple instructions, and you’re done. It’s that simple.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="index_sec6_pkg">
  <div class="wrapper">
    <h2 class="pkg_heading">Simple Pricing <br><span>Everyone Can Afford</span></h2>
   </div>
</div>

<div class="index_sec9_slider">
  <div class="wrapper">
    <h2 class="happy_user_text">Our Happy Customers </h2>
    <div class="sec9_flexiel_slider">
      <div class="slider">
        <div class="flexslider2">
          <ul class="slides">
            <li>
              <span class="testimonial_img sprite_sheet"></span>
              <p class="testimonial_pera">My husband and i had put off making our wills for years. With <strong>SimplyWilled</strong> we were able to make our wills and revocable trusts in less than 20 minutes.</p>
              <h3 class="clients_name">Georgia W.</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>