.sec3_btn_main a:hover {
    background: linear-gradient(#4fb73a, #3da12c);
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}
.get_start_btn:hover{
    background: linear-gradient(#53ba3c, #3fa62e);
    border: 1px solid #40a52f;
    color: #fff;
    text-decoration: none;
}
.hide_show_main_pkg .get_start_pkg_btn{
    width: 100%;
}
.get_start_pkg_btn:hover{
    color:#fff;
    text-decoration: none;
}
.include_text:hover{
    color: #979797;
    text-decoration: underline;
}
.sec3_btn_main a{
    color: #fff !important;
    cursor: pointer;
}
.hide_show_main_pkg.open{
    display: block;
}



