<div class="heaser_sec2_slider">
  <div class="slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="index_banner">
            <div class="wrapper">
              <h1 class="state_planning_text">Protect what matters most with<br>
                SimplyWilled.com.</h1>
              <p>Create your personalized Last Will and Testament today.</p>
              <ul class="index_banner_ul">
                <li>Founded By Lawyers</li>
                <li>Takes Less Than 15 Minutes To Complete</li>
                <li>Enforceable In All 50 States</li>
              </ul>
              <a routerLink="/register" class="get_start_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="body_container">
  <div class="index_sec1">
    <div class="wrapper">
      <h2 class="secHeading">Safeguard Your Legacy, Assets
        <br> & Loved Ones.</h2>
      <div class="video_main" (click)="openModal(viewVideo)">
        <img src="../../../../assets/images/video.png" alt="video img">
      </div>
      <ul class="protect_loved_ul">
        <li>
          <span class="loved_img"><img src="../../../../assets/images/protect-img.png" alt="protect img"></span>
          <div class="protect_loved_right">
            <h2>PROTECT YOUR LOVED ONES</h2>
            <p>Name guardians and list beneficiaries so those you love are in good hands.</p>
          </div>
        </li>
        <li>
          <span class="loved_img"><img src="../../../../assets/images/assets.png" alt="protect img"></span>
          <div class="protect_loved_right">
            <h2>PROTECT YOUR ASSETS</h2>
            <p>Ensure the assets you’ve worked hard for pass to the ones you love.</p>
          </div>
        </li>
        <li>
          <span class="loved_img"><img src="../../../../assets/images/save-time.png" alt="protect img"></span>
          <div class="protect_loved_right">
            <h2>SAVE TIME & MONEY</h2>
            <p>It takes less than 10 minutes and your done. Try it today and see how simple preparing your estate plan online can be.</p>
          </div>
        </li>
      </ul>


    </div>
  </div>
  <div class="index_sec2">
    <div class="wrapper">
      <span class="enforceable_estate">Enforceable Estate Documents <br>Customized For You</span>
      <ul class="last_will_treatment_ul">
        <li>
          <span class="last_will_img"><img src="../../../../assets/images/last-will.png" alt="error img"></span>
          <div class="last_will_right_sec">
            <h3>Last Will & Testament</h3>
            <p>Draft a personalized Last Will & Testament so your wishes are known. Name your Personal Representative, list beneficiaries and appoint guardians for minor children.</p>
          </div>
        </li>
        <li>
          <span class="last_will_img"><img src="../../../../assets/images/revocable_img.png" alt="error img"></span>
          <div class="last_will_right_sec">
            <h3>Revocable Living Trust</h3>
            <p>Prepare a personalized revocable living trust so your estate is protected. Appoint a trustee, name beneficiaries and plan out how your estate should be distributed.</p>
          </div>
        </li>
        <li>
          <span class="last_will_img"><img src="../../../../assets/images/living-img.png" alt="error img"></span>
          <div class="last_will_right_sec">
            <h3>Living Will</h3>
            <p>State your wishes for medical treatment and end-of-life care, in the event of incapacity.</p>
          </div>
        </li>
        <li>
          <span class="last_will_img"><img src="../../../../assets/images/home.png" alt="error img"></span>
          <div class="last_will_right_sec">
            <h3>Home Transfer Deed</h3>
            <p>Prepare a real property transfer deed to fund your revocable living trust with any real estate you may own to avoid probate later.</p>
          </div>
        </li>
        <li>
          <span class="last_will_img"><img src="../../../../assets/images/power-attorney.png" alt="error img"></span>
          <div class="last_will_right_sec">
            <h3>Financial Power of Attorney</h3>
            <p>Complete a financial power of attorney and name an individual to oversee your financial affairs in the event you are incapacitated.</p>
          </div>
        </li>
        <li>
          <span class="last_will_img"><img src="../../../../assets/images/healtcare.png" alt="error img"></span>
          <div class="last_will_right_sec">
            <h3>Healthcare Power of Attorney</h3>
            <p>A healthcare power of attorney and living will so your wishes are known in the event of a medical emergency.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="index_sec3">
    <div class="wrapper">
      <h1 class="attorney_At_law_text">Attorneys & Estate Planning Experts <br>Behind Every Choice That We Make</h1>
      <ul class="sec3_planning_ul">
        <li>
          <span class="planning_img"><img src="../../../../assets/images/legal-mind.png" alt="error img"></span>
          <h4>Renowned Legal Minds</h4>
          <p>Our service was designed by leading estate planning attorneys with decades of experience.</p>
        </li>
        <li>
          <span class="planning_img"><img src="../../../../assets/images/customized.png" alt="error img"></span>
          <h4>Customized For All 50 States</h4>
          <p>Your documents are customized in accordance with your state’s current laws.</p>
        </li>
        <li>
          <span class="planning_img"><img src="../../../../assets/images/personalized.png" alt="error img"></span>
          <h4>Personalized Just For You</h4>
          <p>Quickly create documents that are tailored to achieve your needs and objectives.</p>
        </li>
      </ul>
      <span class="sec3_btn_main"><a (click)="ourTeam()"><i class="fa fa-chevron-right" aria-hidden="true"></i> Meet Our Team</a></span>
    </div>
  </div>
  <div class="index_sec4">
    <div class="wrapper">
      <h1 class="proprietary_text">Proprietary Technology To Keep <br>Your Information Safe</h1>
      <ul class="sec4_ul">
        <li>
          <span class="protection_img"><img src="../../../../assets/images/protection-img.png" alt="error img"></span>
          <h3 class="protection_text">Data Protection</h3>
          <p class="protection_pera">Secure servers and SSL encryption protect your sensitive information from unauthorized access and use.</p>
        </li>
        <li>
          <span class="protection_img"><img src="../../../../assets/images/privacy-img.png" alt="error img"></span>
          <h3 class="protection_text">Privacy Protection</h3>
          <p class="protection_pera">Your private information is not disclosed to anyone, period.</p>
        </li>
        <li>
          <span class="protection_img"><img src="../../../../assets/images/clock.png" alt="error img"></span>
          <h3 class="protection_text">Around The Clock Sourveillance</h3>
          <p class="protection_pera">We are verified and monitored by the world’s leading security experts.</p>
        </li>
      </ul>
      <div class="securityBrand">
        <img src="../../../../assets/images/mcAfee.png" alt="">
        <img src="../../../../assets/images/norton.png" alt="">
      </div>
    </div>
  </div>
  <div class="index_sec5">
    <div class="wrapper">
      <div class="sec5_left_main">
        <h1 class="its_easy_text">It’s As Easy As One, Two, Three!</h1>
        <ul class="sec5_easy_ul">
          <li>
            <span class="print_img"><img src="../../../../assets/images/click.png" alt="error img"></span>
            <div class="print_img_right_sec">
              <h3>1. Click</h3>
              <p>To get started, simply answer a few short questions using our easy to follow estate planning questionnaire.</p>
            </div>
          </li>
          <li>
            <span class="print_img"><img src="../../../../assets/images/print.png" alt="error img"></span>
            <div class="print_img_right_sec">
              <h3>2. Print</h3>
              <p>Select the documents you want. When you’re ready instantly download and print your custom estate planning documents.</p>
            </div>
          </li>
          <li>
            <span class="print_img"><img src="../../../../assets/images/wxecute.png" alt="error img"></span>
            <div class="print_img_right_sec">
              <h3>3. Execute</h3>
              <p>Execute your custom estate plan using our simple instructions, and you’re done. It’s that simple.</p>
            </div>
          </li>
        </ul>
        <div class="clear"></div>
        <div class="BlueBox">
          Join the thousands of people that have made their
          last will and testament using <span>SimplyWilled.com</span>
        </div>
      </div>

    </div>
  </div>
  <div class="index_sec6_pkg">
    <div class="wrapper">
      <h1 class="pkg_heading">Select The Will Package That<br>
        Is Right For You.</h1>
      <ul class="packages_ul">
        <li>
          <div class="pkg_first_sec">
            <span class="single_pkg"><img src="../../../../assets/images/pkg1.png" alt="error img"></span>
            <h3 class="single_text_heading">Single Will</h3>
            <h4 class="pkg_text">Package</h4>
            <p class="will_package_info">The Perfect Basic Will Package For An Individual To Get Their Estate In Order.</p>
          </div>
          <div class="book_sec_main">
            <div class="book_main">
              <span class="single_will_book"><img src="../../../../assets/images/single-pkg-book.png" alt="error img"></span>
              <h1 class="book_price">$99</h1>
            </div>
            <div class="clear"></div>
            <p class="payPal"><span>Shop With Confidence Powered by</span> <a href="#"><img src="../../../../assets/images/paypal-btn.png" class="img-responsive"></a></p>
            <a href="#" class="get_start_pkg_btn hide_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Buy Now</a>
          </div>

          <div class="hide_show_main_pkg" [ngClass]="{'open': whatIncl}">
            <span class="key_benefits_text">Key Benefits</span>
            <ul class="pkg_benefits_ul">
              <li>
                <span class="faster_text" >Faster and easier than hiring a lawyer*</span>
              </li>
              <li>
                <span class="faster_text">Make a Simple Will & Supporting Documents for you</span>
              </li>
              <li>
                <span class="faster_text">Leave property to those you love</span>
              </li>
              <li>
                <span class="faster_text">Provide for your children & your estate</span>
              </li>
              <li>
                <span class="faster_text">Appoint a guardian for minor children</span>
              </li>
              <li>
                <span class="faster_text">Plan for a medical emergency</span>
              </li>
              <li>
                <span class="faster_text">Appoint a financial power of attorney</span>
              </li>
              <li>
                <span class="faster_text">Make your final wishes known</span>
              </li>
              <li>
                <span class="faster_text">Update your plan as often as you wish</span>
              </li>
              
            </ul>
            <span class="whats_included_text">What’s Included:</span>
            <ul class="include_ul">
              <li>
                <span class="faster_text2">Includes a Complete Set of Documents For 1 Person</span>
              </li>
              <li>
                <span class="faster_text2">A Last Will & Testament</span>
              </li>
              <li>
                <span class="faster_text2">Healthcare Power of Attorney</span>
              </li>
              <li>
                <span class="faster_text2">Durable General Power of Attorney</span>
              </li>
              <li>
                <span class="faster_text2">Living Will</span>
              </li>
              <li>
                <span class="faster_text2">HIPAA Wavier</span>
              </li>
              <li>
                <span class="faster_text2">Burial Instructions</span>
              </li>
              
            </ul>
            <a href="#" class="get_start_pkg_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Buy Now</a>
          </div>
          <a href="javascript:void(0)" class="include_text" (click)="showIncluded()">
            {{whatIncl == true ? 'Hide' : 'See what’s included'}}
          </a>
        </li>
        <li>
          <div class="pkg_first_sec">
            <span class="single_pkg"><img src="../../../../assets/images/pkg2.png" alt="error img"></span>
            <h3 class="single_text_heading">Married Will</h3>
            <h4 class="pkg_text">Package</h4>
            <p class="will_package_info">The Perfect Basic Will Package for Married Couples To Get Their Affairs In Order.</p>
          </div>
          <div class="book_sec_main">
            <div class="book_main">
              <span class="single_will_book"><img src="../../../../assets/images/married-pkg-book.png" alt="error img"></span>
              <h1 class="book_price">$199</h1>
            </div>
            <div class="clear"></div>
            <p class="payPal"><span>Shop With Confidence Powered by</span> <a href="#"><img src="../../../../assets/images/paypal-btn.png" class="img-responsive"></a></p>
            <a href="#" class="get_start_pkg_btn start_btn_2 hide_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Buy Now</a>
          </div>

          <div class="hide_show_main_pkg" [ngClass]="{'open': whatIncl}">
            <span class="key_benefits_text">Key Benefits</span>
            <ul class="pkg_benefits_ul after_color1">
              <li>
                <span class="faster_text">Faster and easier than hiring a lawyer*</span>
              </li>
              <li>
                <span class="faster_text">Make a Simple Will & Supporting Documents for you and your spouse</span>
              </li>
              <li>
                <span class="faster_text">Leave property to those you love</span>
              </li>
              <li>
                <span class="faster_text">Provide for your children & your estate</span>
              </li>
              <li>
                <span class="faster_text">Appoint a guardian for minor children</span>
              </li>
              <li>
                <span class="faster_text">Plan for a medical emergency</span>
              </li>
              <li>
                <span class="faster_text">Appoint a financial power of attorney</span>
              </li>
              <li>
                <span class="faster_text">Make your final wishes known</span>
              </li>
              <li>
                <span class="faster_text">Update your plan as often as you wish</span>
              </li>
            </ul>
            <span class="whats_included_text">What’s Included:</span>
            <ul class="include_ul">
              <li>
                <span class="faster_text2">Includes a Complete Set of Documents For Each Spouse</span>
              </li>
              <li>
                <span class="faster_text2">A Last Will & Testament For Each of You</span>
              </li>
              <li>
                <span class="faster_text2">Healthcare Power of Attorney For Each of You</span>
              </li>
              <li>
                <span class="faster_text2">Durable General Power of Attorney For Each of You</span>
              </li>
              <li>
                <span class="faster_text2">Living Will For Each of You</span>
              </li>
              <li>
                <span class="faster_text2">HIPAA Wavier For Each of You</span>
              </li>
              <li>
                <span class="faster_text2">Burial Instructions For Each of You</span>
              </li>
            </ul>
            <a href="#" class="get_start_pkg_btn start_btn_2"><i class="fa fa-chevron-right" aria-hidden="true"></i> Buy Now</a>
          </div>
          <a href="javascript:void(0)" class="include_text" (click)="showIncluded()">
              {{whatIncl == true ? 'Hide' : 'See what’s included'}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="index_sec7">
    <div class="wrapper">
      <h1 class="save_text">Our Average Customer <span>Saves 80%</span> <br>With SimplyWilled Estate Planning!</h1>
      <ul class="sec7_ul">
        <li>Safe</li>
        <li>Simple</li>
        <li>Smart</li>
      </ul>
      <span class="sec2_btn_main"><a routerLink="/register"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started!</a></span>
    </div>
  </div>

  <div class="index_sec9_slider">
    <div class="wrapper">
      <h2 class="happy_user_text">Our Happy Users</h2>
      <div class="flex_slider_main">
        <div class="wrapper">
          <section class="slider">
            <div class="flexslider2">
                <carousel class="slides">
                  <slide>
                    <span class="slider_left_img"><img src="../../../../assets/images/mitch-and-donna.png" alt="error img"></span>
                    <div class="sec9_slider_right">
                      <p class="slider_content">As a newly wed couple with a growing family, thank you <strong>SimplyWilled</strong> for making planning our estate so simple.<br>&nbsp;</p>
                      <h4 class="client_name">Donna M.</h4>
                    </div>
                  </slide>
                  <slide>
                    <span class="slider_left_img"><img src="../../../../assets/images/sliderImg1.png" alt="error img"></span>
                    <div class="sec9_slider_right">
                      <p class="slider_content">My husband and i had put off making our wills for years. With <strong>SimplyWilled</strong> we were able to make our wills and revocable trusts in less than 20 minutes.</p>
                      <h4 class="client_name">Georgia W.</h4>
                    </div>
                  </slide>
                  <slide>
                    <span class="slider_left_img"><img src="../../../../assets/images/sliderImg2.png" alt="error img"></span>
                    <div class="sec9_slider_right">
                      <p class="slider_content">We love <strong>SimplyWilled</strong>, after talking to a few expensive lawyers we decided to use <strong>SimplyWilled</strong>. It made planning our estate simple and affordable.</p>
                      <h4 class="client_name">Josh W.</h4>
                    </div>
                  </slide>
                  <slide>
                    <span class="slider_left_img"><img src="../../../../assets/images/sliderImg3.png" alt="error img"></span>
                    <div class="sec9_slider_right">
                      <p class="slider_content">I used <strong>SimplyWilled</strong> to make my single will package to make sure the ones I care about were covered.<br>&nbsp;</p>
                      <h4 class="client_name">Carter E.</h4>
                    </div>
                  </slide>
                </carousel>
              <!-- <ul class="slides">
                <li>
                  <span class="slider_left_img"><img src="../../../../assets/images/mitch-and-donna.png" alt="error img"></span>
                  <div class="sec9_slider_right">
                    <p class="slider_content">As a newly wed couple with a growing family, thank you SimplyWilled for making planning our estate so simple.</p>
                    <h4 class="client_name">Mitch & Donna</h4>
                  </div>
                </li>
                <li>
                  <span class="slider_left_img"><img src="../../../../assets/images/mitch-and-donna.png" alt="error img"></span>
                  <div class="sec9_slider_right">
                    <p class="slider_content">As a newly wed couple with a growing family, thank you SimplyWilled for making planning our estate so simple.</p>
                    <h4 class="client_name">Mitch & Donna</h4>
                  </div>
                </li>
                <li>
                  <span class="slider_left_img"><img src="../../../../assets/images/mitch-and-donna.png" alt="error img"></span>
                  <div class="sec9_slider_right">
                    <p class="slider_content">As a newly wed couple with a growing family, thank you SimplyWilled for making planning our estate so simple.</p>
                    <h4 class="client_name">Mitch & Donna</h4>
                  </div>
                </li>
              </ul> -->
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewVideo>
  <div class="videoArea">
    <button type="button" class="close" (click)="modalRef.hide()">×</button>
    <div class="videoBox">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/DsOpMzQ65DI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</ng-template>
