.sec3_btn_main a:hover {
    background: linear-gradient(#4fb73a, #3da12c);
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}
.get_start_btn:hover{
    background: linear-gradient(#53ba3c, #3fa62e);
    border: 1px solid #40a52f;
    color: #fff;
    text-decoration: none;
}
.get_start_pkg_btn{
    width: 202px;
}
.hide_show_main_pkg .get_start_pkg_btn{
    width: 100%;
}
.get_start_pkg_btn:hover{
    color:#fff;
    text-decoration: none;
}
.include_text:hover{
    color: #979797;
    text-decoration: underline;
}
.sec3_btn_main a{
    color: #fff !important;
    cursor: pointer;
}
.hide_show_main_pkg.open{
    display: block;
}
.pkg_first_sec{
  padding-bottom: 70px;
}
.single_will_book{
  margin-top: -60px;
}
.save_text span{
    color: #1276bb;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.5);
}

.drawerGetStarted{
    margin-top: 35px;
    display: inline-block;
    width: 100%;
}

@media screen and (max-width:1200px){
    .get_start_pkg_btn{
        width: 202px;
        margin-left: 50%;
    }
    .hide_show_main_pkg .get_start_pkg_btn{
        width: 100%;
        transform: unset;
        margin-left: 0;
    }
}

@media screen and (max-width:480px){
  .single_will_book img{
    width: 130px;
  }
  .book_main {
    width: 100%;
  }
  .book_price{
    font-size: 40px;
  }
  .single_will_book{
    margin-top: -25px;
  }
  .pkg_first_sec{
    padding-bottom: 30px;
  }
}
