<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="" *ngIf="!loading">
  <div class="main-content tellusaboutyou">
    <h2>Contingent Beneficiaries
      <app-global-tooltip (click)="toolTipClicked('contingent_beneficiaries')" [tooltipMessages]='toolTipMessageList.contingent_beneficiaries' toolTipType="contingent_beneficiaries"></app-global-tooltip>
    </h2>
    <form  [formGroup]="contingentBeneficiariesForm" novalidate
          (ngSubmit)="onSubmit(contingentBeneficiariesForm)">
      <div class="form-group">
        <label>Would you like to name Contingent Beneficiaries?</label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom" [ngClass]="{'active' : contingentBeneficiariesForm.value.isContingentBeneficiary == '1'}">
              <input type="radio" formControlName="isContingentBeneficiary" value="1" (change)="addRemoveOptions()">
              <span class="human_status">Yes</span>
            </label>
          </li>
          <li>
            <label class="radio_custom" [ngClass]="{'active' : contingentBeneficiariesForm.value.isContingentBeneficiary == '0'}">
             <input type="radio" formControlName="isContingentBeneficiary" value="0" (change)="addRemoveOptions()">
             <span class="human_status">No</span>
            </label>
          </li>
        </ul>
        <div *ngIf="!contingentBeneficiariesForm.get('isContingentBeneficiary').valid && contingentBeneficiariesForm.get('isContingentBeneficiary').touched" class="help-block">
          <span *ngIf="contingentBeneficiariesForm.get('isContingentBeneficiary').hasError('required')" class="error_txt">Please fill up this field.</span>
        </div>
      </div>

      <div class="form-group" *ngIf="contingentBeneficiariesForm.value.isContingentBeneficiary == '1'">
        <label>Please select who you would like your Contingent Beneficiaries to be:</label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom" [ngClass]="{'active' : contingentBeneficiariesForm.value.distribution_type == 'to_my_heirs'}">
              <input type="radio" formControlName="distribution_type" value="to_my_heirs" (change)="addRemoveOptionsDistributionType()">
                <span class="custom_img5"><img src="../../../../assets/images/law.png" alt="Law"></span>
              <span class="human_status3">My Heir at Law</span>
            </label>
          </li>
          <li>
            <label class="radio_custom" [ngClass]="{'active' : contingentBeneficiariesForm.value.distribution_type == 'other'}">
              <input type="radio" formControlName="distribution_type" value="other" (change)="addRemoveOptionsDistributionType()">
                <span class="custom_img5"><img src="../../../../assets/images/otherway-icon.png" alt="Otherway"></span>
                <span class="human_status3">Some Other <br> Way</span>
            </label>
          </li>
        </ul>
        <div *ngIf="!contingentBeneficiariesForm.get('distribution_type').valid && contingentBeneficiariesForm.get('distribution_type').touched" class="help-block">
          <span *ngIf="contingentBeneficiariesForm.get('distribution_type').hasError('required')" class="error_txt">Please fill up this field.</span>
        </div>
      </div>
        <div class="form-group" *ngIf="contingentBeneficiariesForm.value.isContingentBeneficiary == '1' && contingentBeneficiariesForm.value.distribution_type == 'other'">
            <label> Otherwise, to be distributed to: </label>
            <textarea formControlName="info" cols="59" rows="6"></textarea>
            <div *ngIf="!contingentBeneficiariesForm.get('info').valid && contingentBeneficiariesForm.get('info').touched" class="help-block">
              <span *ngIf="contingentBeneficiariesForm.get('info').hasError('required')" class="error_txt">Please fill up this field.</span>
            </div>
        </div>

      <div class="form-group" *ngIf="errorFlag">
        <div class="error_txt">
          {{errorMessage}}
        </div>
      </div>

      <div class="form-footer">
        <button class="btn common-button btn-grey pull-left" (click)="goBack()">Go Back</button>
        <button class="btn common-button btn-complete" type="submit" >Continue</button>
      </div>
    </form>
  </div>
</div>
