<div class="body_container">
  <div class="confirmd_main">
      <div class="wrapper">
          <div class="confirm_left">
              <div class="forgetPass">
                  <h2 class="login_text">Have you made your last will?</h2>
                  <p>
                    Try SimplyWilled.com today and make sure your wishes are know.
                  </p>
                  <h2>Have a question?</h2>
                  <p>Email: <a href=""></a> info@simplywilled.com</p>
              </div>
              
             
          </div>
          <div class="confirm_right">
              <div class="confirmed_form_top">
                  <h1 class="form_heading">Forgot Your Password?</h1>
                  <p class="form_pera">Please enter your email address and we will send
                    you a new password.</p>
              </div>
              <div class="confirmed_form_white_sec">
                  <div class="row">
                      <div class="col-lg-12">
                          <div *ngIf="!loginRequestStatus && responseReceived" class="alert alert-danger">
                              <strong>{{ loginRequestResponseMsg }}</strong>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div *ngIf="loginRequestStatus && responseReceived" class="alert alert-success">
                              <strong>{{ loginRequestResponseMsg }}</strong>
                          </div>
                      </div>
                  </div>
                  <form id="signInForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
                      <input type="password" name="password" placeholder="Password" class="email_form"
                             ngModel
                             required
                             #password="ngModel">

                      <span class="alert-danger"
                            *ngIf="password.errors && (password.dirty || password.touched)">
                      <p *ngIf="password.errors?.required">Password is required</p>
                      <p *ngIf="password.errors?.minlength">Password should be minimum 6!</p>
                  </span>

                      <div class="loader_parent" id="response_loader">
                          <span class="loader"></span>
                      </div>
                      <div class="get_start_main">
                          <div class="clicking_left">
                              <a routerLink="/register" class="already_account">Don’t have account?</a>
                              <a href="" class="already_account">Forgot your password?</a>
                          </div>
                          <!--<a class="login_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Login</a>-->
                          <button value="Continue" [disabled]="form.invalid" class="login_btn"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Login</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="about_sec4">
          <div class="wrapper">
            <h1 class="about_state_planning_text">Estate Planning Made Simple & Affordable.</h1>
            <h4 class="select_plan">Select your plan now and Keep your loved ones safe!</h4>
            <a routerLink="/register" class="aboutGetStarted"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started</a>
          </div>
        </div>
</div>
