<div class="body_container">
    <div class="inner_banner">
      <div class="wrapper">
        <h1 class="banner_heading_one">Page Not Found</h1>
        <h3 class="banner_heading_two">404 ERROR !</h3>
      </div>
    </div>
    <h2>Page Not Found ! 404 ERROR !</h2>
  </div>
  <div class="about_sec4">
      <div class="wrapper">
        <h1 class="about_state_planning_text">Estate Planning Made Simple & Affordable.</h1>
        <h4 class="select_plan">Get started now and keep your loved ones safe!</h4>
        <a routerLink="/register" class="aboutGetStarted"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started</a>
      </div>
    </div>
