.blogsTab{
    background: #fff;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.panel-heading{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom:10px;
    background: none;
}
.table-bordered{
    margin: 10px;
}
.form-control{
    padding: 5px;
    height: 30px !important;
    font-size: 12px;
    margin-right: 10px;
}
[type="search"].form-control{
    margin-left: 5px;
}
.table-bordered .btn{
    font-size: 12px;
    margin: 2px;
    color: #fff;
}
.modal-body{
    border-bottom: 1px solid #eee;
    margin: 0 10px;
}
.modal-body h4{
font-size: 20px;
}
.modal-content {
 max-width: 800px !important;
}
.deleteBlogHead{
    border-bottom: 0;
}
.deleteBlogHead h3{
    text-align: center;
    padding: 30px 0;
    width: 100%;
    transition: all 0.5s ease 0s;
}
.deleteBlogFoot {
    text-align: center;
    transition: all 0.5s ease 0s;
    height: 71px;
    opacity: 1;
}
.hide{
    height: 0;
    opacity: 0;
}
.dataTables_wrapper{
    padding-top: 5px;
}
footer{
    background: none;
    text-align: right;
    padding: 80px 20px 0;
}
footer p {
    margin-bottom: 0;
}
.row{
    margin: 0;
}
