
<div class="main-content">
  <h2>Elizabeth's Dashboard</h2>
  <p><strong>Instructions:</strong> Complete our simple interview process to <br> protect your assets and provide for your loved ones.</p>
  <ul class="single_ul">
    <li>
      <a href="01-tell-us-about-you.html">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/female-green.png" alt="Tell Us About You"></span>
          <div class="single_right">
            <span class="tell_us_text">Tell Us About You</span>
            <span class="inherit_properties">Tell Us about you, appoint a guardian for your kids.</span>
          </div>

        </div>
        <button class="btn common-button btn-complete">Complete</button>
      </a>
    </li>
    <li>
      <a href="05-tell-us-about-your-personal-representative-powers.html">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/heart-green.png" alt="Provide For Your Loved Ones"></span>
          <div class="single_right">
            <span class="tell_us_text">Provide For Your Loved Ones</span>
            <span class="inherit_properties">Tell Us who should inherit your property and select fiduciaries.</span>
          </div>
        </div>
        <button class="btn common-button btn-complete">Complete</button>
      </a>
    </li>
    <li>
      <a href="11-tell-us-about-your-financial-power-of-attorney-powers.html" class="inprogress">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/finance-green.png" alt="Protect Your Finances "></span>
          <div class="single_right">
            <span class="tell_us_text">Protect Your Finances </span>
            <span class="inherit_properties">Appoint a Financial Power of Attorneys.</span>
          </div>
        </div>
        <!-- <span class="complete_btn inprogress_btn">In Progress</span> -->
        <button class="btn common-button btn-complete">In progress</button>
      </a>
    </li>
    <li>
      <a href="13-tell-us-about-your-health-care-agent.html">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/emergency-green.png" alt="Plan for a Medical Emergency"></span>
          <div class="single_right">
            <span class="tell_us_text">Plan for a Medical Emergency</span>
            <span class="inherit_properties">Name a Healthcare Power of Attorney and make end of life choices.</span>
          </div>
        </div>
        <button class="btn common-button btn-complete">Complete</button>
      </a>
    </li>
    <li>
      <a href="14-final-arrangements.html">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/file-green.png" alt="Make Final Arrangements"></span>
          <div class="single_right">
            <span class="tell_us_text">Make Final Arrangements</span>
            <span class="inherit_properties">Specify how you wish your remains to be handled,....</span>
          </div>
        </div>
        <button class="btn common-button btn-complete">Complete</button>
      </a>
    </li>
  </ul>
</div>