<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="main-content" *ngIf="!loading">
  <h2 *ngIf="step1Data?.data?.userInfo?.fullname === null || step1Data?.data?.userInfo?.fullname === undefined">Yours Dashboard</h2>
  <h2 *ngIf="step1Data?.data?.userInfo?.fullname !== null && step1Data?.data?.userInfo?.fullname !== undefined">{{step1Data?.data?.userInfo?.fullname | titlecase}}'s Dashboard</h2>
  <p><strong>Instructions:</strong> Complete our simple interview process to <br> protect your assets and provide for your loved ones.</p>
  <ul class="single_ul">
    <li>
      <a routerLink="/dashboard/will">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/female-green.png" alt="Tell Us About You"></span>
          <div class="single_right">
            <span class="tell_us_text">Tell Us About You</span>
            <span class="inherit_properties">Tell Us about you, appoint a guardian for your kids.</span>
          </div>
        </div>

        <button class="btn common-button btn-complete" [ngClass]="{'false' : !progressBar.tellUsAboutYou}">{{progressBar.tellUsAboutYou ? 'Complete' : 'In progress'}}</button>
        <!--<button class="btn common-button btn-complete"
                *ngIf="step1Data?.data?.userInfo?.is_complete">In progress</button>-->
      </a>
    </li>
    <li>
      <!--<a routerLink="/dashboard/your-personal-representative-powers">-->
      <a routerLink="/dashboard/personal-representative-details">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/heart-green.png" alt="Provide For Your Loved Ones"></span>
          <div class="single_right">
            <span class="tell_us_text">Provide For Your Loved Ones</span>
            <span class="inherit_properties">Tell Us who should inherit your property and select fiduciaries.</span>
          </div>
        </div>
        <button class="btn common-button btn-complete" [ngClass]="{'false' : !progressBar.provideYourLovedOnes}">{{progressBar.provideYourLovedOnes ? 'Complete' : 'In progress'}}</button>
      </a>
    </li>

    <li>
      <a routerLink="/dashboard/protect-your-finances-details">
        <div class="tell_us_about_left">
          <span class="woman_img">
            <img src="../../../../assets/images/finance-green.png" alt="Protect Your Finances">
          </span>
          <div class="single_right">
            <span class="tell_us_text">Protect Your Finances</span>
            <span class="inherit_properties">Appoint a financial power of attorney.</span>
          </div>
        </div>
        <button class="btn common-button btn-complete" [ngClass]="{'false' : !progressBar.protectYourFinance}">{{progressBar.protectYourFinance ? 'Complete' : 'In progress'}}</button>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/plan-for-medical-emergency">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/emergency-green.png" alt="Plan for a Medical Emergency"></span>
          <div class="single_right">
            <span class="tell_us_text">Plan for a Medical Emergency</span>
            <span class="inherit_properties">Name a healthcare power of attorney and make end of life choices.</span>
          </div>
        </div>
        <!--<button class="btn common-button btn-complete">{{step2 === true ? 'Complete' : 'In progress'}}</button>-->
        <button class="btn common-button btn-complete" [ngClass]="{'false' : !progressBar.healthFinance}">{{progressBar.healthFinance ? 'Complete' : 'In progress'}}</button>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/your-final-arrangements">
        <div class="tell_us_about_left">
          <span class="woman_img"><img src="../../../../assets/images/file-green.png" alt="Make Final Arrangements"></span>
          <div class="single_right">
            <span class="tell_us_text">Make Final Arrangements</span>
            <span class="inherit_properties">Specify how you wish your remains to be handled.</span>
          </div>
        </div>
        <button class="btn common-button btn-complete" [ngClass]="{'false' : !progressBar.finalArrangements}">{{progressBar.finalArrangements ? 'Complete' : 'In progress'}}</button>
      </a>
    </li>
  </ul>
</div>
