
.heaser_sec2_slider {
    width: 100%;
    float: left;
    margin-top: -38px;
}
.slider h1 span {
  font-size: 35px;
  display: block;
}
.inner-banner .slider {
    position: relative;
}
.inner-banner img {
    display: block;
    width: 100%;
}
.inner-banner img.mobile-banner {
    display: none;
}
.inner-banner .slider h1 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 48px;
    text-align: center;
    width: 90%;
}
.subscribe_form_main .btn-green{
    width: 100%;
    font-size: 18px;
    padding: 8px 0;
    font-weight: bold;
}
.about_sec4{
    position: relative;
}
.about_sec4 .btn-green{
    width: 180px;
    text-align: center;
    color: #fff;
    background: linear-gradient(#53ba3c, #3fa62e);
    border: 2px solid #fff;
    font-family: 'OpenSans';
    font-size: 22px;
    padding: 10px 0px;
    border-radius: 10px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    outline: 0;
    cursor: pointer;
}

.trending_right_ul > li > a {
    color: #9d9d9d;
    display: inline-block;
    font-size: 19px;
}

.trending_main > h1 {
    color: #0a4e90;
}
.clearBtn{
    background: linear-gradient(#53ba3c, #3fa62e);
    border: 1px solid #40a52f;
    font-family: 'OpenSans';
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}

@media screen and (max-width:1310px){
    .trending_right_ul{
        width: 100%;
    }
}

@media screen and (max-width:1199px){
    .inner-banner .slider h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px){
   .trending_right_ul {
        width: auto;
        right: 0;
        left: auto;
    } 
    .by_simply_willed_text{
        font-size: 14px;
    }
}

@media screen and (max-width: 960px){
    .trending_right_ul {
        width: 100%;
        bottom: -40px;
    }
}

@media screen and (max-width: 960px){
    .trending_ul > li{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 767px){
    .inner-banner img {
        display: none;
    }
    .inner-banner img.mobile-banner {
        display: block;
    }
    .inner-banner .slider h1{
        font-size: 34px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 100px){
    .trending_ul > li {
        padding-bottom: 0;
    }
    .heaser_sec2_slider {
        margin-top: 0;
    }
}

@media screen and (max-width: 400px){
    .inner-banner .slider h1{
        font-size: 30px;
    }
}