<div class="main-content tellusaboutyou">
<div id="gift_list_container">
  <ul id="gift_list">
    <li>
      <h2 class="singing_instruction3">Gift <span class="gift_liskt_number">{{giftCount}}</span></h2>
      <div class="gift_text_content" style="display:none;">
        <p class="gift_text"></p>
        <ul class="back_next_btn_ul" style="margin:20px 0 10px;">
          <li><a href="javascript:void(0)" class="gift_remove_form">Remove</a></li>
          <li><a href="javascript:void(0)" class="gift_edit_form">Edit</a></li>
        </ul>
      </div>
      <div class="gift_form_container">
        <form [formGroup] = "businessInterestForm">

          <h2 class="singing_instruction3" style="padding-top:0;">Tell Us About Any Business Interest You Wish To Gift</h2>
          <ul class="radio_ul3">
            <li><label class="radio_custom singing_instruction"><span class="custom_img3"><img src="../../../../../assets/images/percent.png" alt="Cash"></span></label></li>
          </ul>

          <div class="form-group">
            <label class="legal_name_benifets">Full legal name of the business you would like to gift?</label>
            <input type="text" class="legal_benifit_input capitalize_txt" [ngClass]="{'error_input': businessInterestForm.get('full_legal_name').dirty && businessInterestForm.get('full_legal_name').touched && businessInterestForm.get('full_legal_name').hasError('required')}" formControlName="full_legal_name">

            <!--<div class="alert alert-danger" *ngIf="businessInterestForm.dirty && businessInterestForm.touched">-->
              <span class="error_txt" *ngIf="businessInterestForm.get('full_legal_name').dirty && businessInterestForm.get('full_legal_name').touched && businessInterestForm.get('full_legal_name').hasError('required')">
                Please answer this question.
              </span>
            <!--</div>-->
          </div>

          <div class="form-group">
            <h3 class="registered_domestic2 blue_font">Is this a gift to an Individual or Charity?</h3>
            <ul class="radio_ul4">
              <li>
                <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.individualFlag}">
                  <input type="radio" class="cash_individual_charity" formControlName="gift_to" value="IN" #giftIndividual (click)="giftIndividualOrCharity(giftIndividual.value)">
                  <span class="custom_img"><img src="../../../../../assets/images/hippa.png" alt="Hippa"></span>
                  <span class="human_status">Individual</span>
                </label>
              </li>
              <li>
                <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.charityFlag}">
                  <input type="radio" class="cash_individual_charity" #giftCharity formControlName="gift_to" value="CH" (click)="giftIndividualOrCharity(giftCharity.value)">
                  <span class="custom_img"><img src="../../../../../assets/images/gift.png" alt="gift"></span>
                  <span class="human_status">Charity</span>
                </label>
              </li>
            </ul>
            <span class="error_txt" *ngIf="businessInterestForm.get('gift_to').dirty && businessInterestForm.get('gift_to').touched && businessInterestForm.get('gift_to').hasError('required')">
                Please answer this question.
            </span>
          </div>

          <div class="gift_charity_container" *ngIf="flags.charityFlag">
              <label class="legal_name_benifets">Organization name?</label>
              <input type="text" class="legal_benifit_input capitalize_txt" [ngClass]="{'error_input': businessInterestForm.get('organization_name').dirty && businessInterestForm.get('organization_name').touched && businessInterestForm.get('organization_name').hasError('required')}" formControlName="organization_name">
              <span class="error_txt" *ngIf="businessInterestForm.get('organization_name').dirty && businessInterestForm.get('organization_name').touched && businessInterestForm.get('organization_name').hasError('required')">
                  Please answer this question.
              </span>

              <label class="legal_name_benifets">Organization address?</label>
              <input type="text" class="legal_benifit_input" [ngClass]="{'error_input': businessInterestForm.get('organization_address').dirty && businessInterestForm.get('organization_address').touched && businessInterestForm.get('organization_address').hasError('required')}" formControlName="organization_address" placeholder="Street Address, City, State, Zip Code">
              <span class="error_txt" *ngIf="businessInterestForm.get('organization_address').dirty && businessInterestForm.get('organization_address').touched && businessInterestForm.get('organization_address').hasError('required')">
                  Please answer this question.
              </span>
          </div>

          <div class="gift_individual_container" *ngIf="flags.individualFlag">

            <div class="form-group">
              <h3 class="registered_domestic2 blue_font">Who would you like to leave this gift to in your will?</h3>
              <ul class="radio_ul4">
                <li>
                  <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.singleBeneficiaryFlag}">
                    <input type="radio" class="cash_individual_charity" formControlName="beneficiary" value="_si" #radioSingle (click)="changeSingleOrMultipleBeneficiaries(radioSingle.value)" >
                    <span class="custom_img"><img src="../../../../../assets/images/single2.png" alt="single_beneficiary"></span>
                    <span class="human_status">To A Single Beneficiary</span>
                  </label>
                </li>
                <li>
                  <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.multipleBeneficiaryFlag}">
                    <input type="radio" class="cash_individual_charity" formControlName="beneficiary" #radioMultiple value="_mu" (click)="changeSingleOrMultipleBeneficiaries(radioMultiple.value)">
                    <span class="custom_img"><img src="../../../../../assets/images/multiple.png" alt="multiple_beneficiary"></span>
                    <span class="human_status">To Multiple Beneficiaries</span>
                  </label>
                </li>
              </ul>
              <span class="error_txt" *ngIf="businessInterestForm.get('beneficiary').dirty && businessInterestForm.get('beneficiary').touched && businessInterestForm.get('beneficiary').hasError('required')">
                Please answer this question.
              </span>
            </div>


            <div class="form-group">
              <!-- Single Beneficiary -->
              <div class="singleBeneficiary" *ngIf="flags.singleBeneficiaryFlag">
                  <label class="legal_name_benifets">Beneficiary's full legal name?</label>
                  <input type="text" class="legal_benifit_input capitalize_txt" [ngClass]="{'error_input': businessInterestForm.get('beneficiary_legal_name').dirty && businessInterestForm.get('beneficiary_legal_name').touched && businessInterestForm.get('beneficiary_legal_name').hasError('required')}" formControlName="beneficiary_legal_name">
                  <span class="error_txt" *ngIf="businessInterestForm.get('beneficiary_legal_name').dirty && businessInterestForm.get('beneficiary_legal_name').touched && businessInterestForm.get('beneficiary_legal_name').hasError('required')">
                    Please answer this question.
                  </span>
                  <label class="legal_name_benifets">Beneficiary's relationship to you?</label>
                  <span class="drop_down" style="margin-bottom:20px;">
                       <select class="beneficiary_relationship_dropdown" formControlName="beneficiary_legal_relation" >
                          <option value="">Select Relationship</option>
                          <option value="Wife">Wife</option>
                          <option value="Husband">Husband</option>
                          <option value="Mother">Mother</option>
                          <option value="Father">Father</option>
                          <option value="Son">Son</option>
                          <option value="Daughter">Daughter</option>
                          <option value="Sister">Sister</option>
                          <option value="Brother">Brother</option>
                          <option value="Aunt">Aunt</option>
                          <option value="Uncle">Uncle</option>
                          <option value="Cousin">Cousin</option>
                          <option value="Friend">Friend</option>
                          <option value="Other">Other</option>
                       </select>
                    </span>
                  <h2 class="full_legal_name2">Beneficiary's gender?</h2>
                  <ul class="radio_ul6">
                    <li>
                      <label class="radio_custom" [ngClass]="{'active': flags.maleFlag}">
                        <input type="radio" formControlName="gender" value="Male" #radioMale (click)="changeMaleOrFemale(radioMale.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/john.png" alt="Male"></span>
                        <span class="human_status">Male</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom" [ngClass]="{'active': flags.femaleFlag}">
                        <input type="radio" formControlName="gender" #radioFemale value="Female" (click)="changeMaleOrFemale(radioFemale.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/leza.png" alt="Female"></span>
                        <span class="human_status"> Female</span> </label>
                    </li>
                  </ul>
              </div>

              <!-- Multiple Beneficiaries -->
              <div class="multipleBeneficiaries" formArrayName="multiple_beneficiaries" *ngIf="flags.multipleBeneficiaryFlag">
                  <div class="table_main3_main table_main4_main multiple_beneficiary_table">
                    <!-- <table>
                      <thead>
                        <tr>
                          <th>Beneficiary's Full Legal Name</th>
                          <th>Beneficiary's <br>Relationship To You</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of businessInterestForm.get('multiple_beneficiaries').controls; let i = index;" [formGroupName] = "i">
                            <td>
                              <input type="text" class="relation_ship_input3 capitalize_txt" formControlName="multiple_beneficiary_name">
                            </td>
                            <td>
                              <input type="text" class="relation_ship_input4" formControlName="multiple_beneficiary_relationship">
                              <a *ngIf="i > 0" (click)="removeBeneficiary(i)" class="close_icon remove_table_row"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                      </tbody>
                    </table> -->

                    <div class="form-group">
                      <div class="row colFormHeading">
                          <div class="threeColField">
                              <label>Beneficiary's full legal name</label>
                          </div>
                          <div class="threeColField">
                              <label>Beneficiary's relationship to you</label>
                          </div>
                      </div>
                      <div class="row formRow" *ngFor="let item of businessInterestForm.get('multiple_beneficiaries').controls; let i = index;" [formGroupName] = "i">
                        <div class="threeColField"><input type="text" value="" class="form-control" formControlName="multiple_beneficiary_name" placeholder="Beneficiary's full legal name"></div>
                        <div class="threeColField"><input type="text" value="" class="form-control" formControlName="multiple_beneficiary_relationship" placeholder="Beneficiary's relationship to you"></div>
                        <div class="threeColField"><button type="button" class="btn btn btn-danger delRow" *ngIf="i > 0" (click)="removeBeneficiary(i)"><i class="fa fa-trash"></i></button></div>
                      </div>
                      
                      <div class="">
                          <div class="addRowBtn"><button type="button" class="btn btn btn-primary addRow" (click)="addNewRow()">+</button></div>
                      </div>
                    </div>

                    <!-- <span>
                      <a href="javascript:void(0)" class="add_field2 add_row_beneficiary" >+ Add</a>
                    </span> -->
                  </div>
                <span class="error_txt" *ngIf="this.flags.setValidationFlag">
                  Please answer this question.
                </span>
              </div>

              <div class="distributeBusiness" *ngIf="flags.singleBeneficiaryFlag || flags.multipleBeneficiaryFlag">
                <h2 class="beneficiary_predeceases blue_font">How should your business interest be distributed if the beneficiary passes before you?</h2>
                <ul class="residue_ul_Radio2">
                  <li>
                    <label class="radio_custom property_to_be_distributed " [ngClass]="{'active': flags.toTheirIssueFlag}">
                      <input type="radio" formControlName="passed_by" value="_tth" #radiotth (click)="changeProperty(radiotth.value)">
                      <span class="custom_img"><img src="../../../../../assets/images/kids.png" alt="To their issue"></span>
                      <span class="human_status">To Their Issue</span> </label>
                  </li>
                  <li>
                    <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.residueEstateFlag}">
                      <input type="radio" formControlName="passed_by" value="_re" #radiore (click)="changeProperty(radiore.value)">
                      <span class="custom_img"><img src="../../../../../assets/images/my-estate.png" alt="With The Residue of My Estate"></span>
                      <span class="human_status">With The Residue of My Estate</span> </label>
                  </li>
                  <li>
                    <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.someoneElseFlag}">
                      <input type="radio" formControlName="passed_by" value="_se" #radiose (click)="changeProperty(radiose.value)">
                      <span class="custom_img"><img src="../../../../../assets/images/some-one-else.png" alt="Someone else"></span>
                      <span class="human_status">To Someone Else</span> </label>
                  </li>
                </ul>
                <span class="error_txt" *ngIf="businessInterestForm.get('passed_by').dirty && businessInterestForm.get('passed_by').touched && businessInterestForm.get('passed_by').hasError('required')">
                  Please answer this question.
                </span>


                <div class="totheirIssue" *ngIf="flags.toTheirIssueFlag">
                  <h2 class="legal_name_benifets">You still need another choice in the event no issue survives the beneficiary.</h2>
                  <ul class="radio_ul8">
                    <li>
                      <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.residueEstateChildFlag}">
                        <input type="radio" formControlName="passed_by_child" value="_re" #radioreChild (click)="changePropertyChild(radioreChild.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/my-estate.png" alt="With The Residue of My Estate"></span>
                        <span class="human_status">With The Residue of My Estate</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.someoneElseChildFlag}">
                        <input type="radio" formControlName="passed_by_child" value="_se" #radioseChild (click)="changePropertyChild(radioseChild.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/some-one-else.png" alt="Someone else"></span>
                        <span class="human_status">To Someone Else</span> </label>
                    </li>
                  </ul>
                  <span class="error_txt" *ngIf="businessInterestForm.get('passed_by_child').dirty && businessInterestForm.get('passed_by_child').touched && businessInterestForm.get('passed_by_child').hasError('required')">
                    Please answer this question.
                  </span>
                </div>

                <div class="toSomeOneElse" *ngIf="(!flags.toTheirIssueFlag && flags.someoneElseFlag) || (flags.toTheirIssueFlag && flags.someoneElseChildFlag)">
                  <label class="legal_name_benifets">Individual's name?</label>
                  <input type="text" class="legal_benifit_input capitalize_txt" formControlName="individual_name">
                  <span class="error_txt" *ngIf="businessInterestForm.get('individual_name').dirty && businessInterestForm.get('individual_name').touched && businessInterestForm.get('individual_name').hasError('required')">
                    Please answer this question.
                  </span>
                  
                    <label class="legal_name_benifets">Beneficiary's relationship to you?</label>
                  
                  <span class="drop_down">
                    <select class="beneficiary_relationship_dropdown" formControlName="individual_relationship">
                      <option value="">Select Relationship</option>
                      <option value="Wife">Wife</option>
                      <option value="Husband">Husband</option>
                      <option value="Mother">Mother</option>
                      <option value="Father">Father</option>
                      <option value="Son">Son</option>
                      <option value="Daughter">Daughter</option>
                      <option value="Sister">Sister</option>
                      <option value="Brother">Brother</option>
                      <option value="Aunt">Aunt</option>
                      <option value="Uncle">Uncle</option>
                      <option value="Cousin">Cousin</option>
                      <option value="Friend">Friend</option>
                      <option value="Other">Other</option>
                    </select>
                  </span>
                </div>
              </div>

            </div>
          </div>

          <ul class="back_next_btn_ul" style="margin-top:20px;">
            <li *ngIf="flags.editFlag"><a href="javascript:void(0)" class="gift_remove_form" (click)="popUpDelete(formEditDataSet.id)">Remove</a></li>
            <li *ngIf="!flags.editFlag"><a href="javascript:void(0)" class="gift_remove_form" (click)="popUp()">Remove</a></li>
            <li><button class="saveBtn" type="submit" (click)="submit()">Save</button></li>
          </ul>
        </form>
      </div>
    </li>
  </ul>
</div>
</div>