<app-header></app-header>
<app-left-menu></app-left-menu>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Add Blog Category
                </h1>
            </div>
        </div>

        <form #createBlogCategory="ngForm">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label>Category Name :</label>
                                    <input class="form-control" type="text" name="categoryName"
                                           [(ngModel)]="blogCategoryData.name" #categoryName="ngModel" required>
                                    <input class="form-control" type="hidden" name="categoryId"
                                           [(ngModel)]="blogCategoryData.id" #categoryId="ngModel">
                                    <span *ngIf="categoryName.invalid && categoryName.touched" style="color: red;">Category Name is required</span>

                                </div>
                                <div class="form-group">
                                    <label>Meta Title :</label>
                                    <input class="form-control" type="text" name="categoryName"
                                           [(ngModel)]="blogCategoryData.seo_title" #seo_title="ngModel">
                                    <!--<span *ngIf="categoryName.invalid && categoryName.touched" style="color: red;">Category Name is required</span>-->

                                </div>
                                <div class="form-group">
                                    <label>Meta Description :</label>
                                    <textarea class="form-control" name="meta_description"
                                              [(ngModel)]="blogCategoryData.meta_description" #meta_description="ngModel"></textarea>
                                    <!--<span *ngIf="categoryName.invalid && categoryName.touched" style="color: red;">Category Name is required</span>-->

                                </div>
                                <div class="form-group">
                                    <label>Meta Keywords :</label>
                                    <textarea class="form-control" type="text" name="meta_keywords"
                                              [(ngModel)]="blogCategoryData.meta_keywords" #meta_keywords="ngModel"></textarea>
                                    <!--<span *ngIf="categoryName.invalid && categoryName.touched" style="color: red;">Category Name is required</span>-->

                                </div>
                            </fieldset>
                            <button *ngIf="editMode" type="button" [disabled]="!createBlogCategory.form.valid" class="btn btn-primary" (click)="edit()"> {{editMode
                                ? 'Edit' : 'Create'}} Blog Category
                            </button>
                            <button *ngIf="!editMode" type="button" [disabled]="!createBlogCategory.form.valid" class="btn btn-primary" (click)="add()"> {{editMode
                                ? 'Edit' : 'Create'}} Blog Category
                            </button>
                        </div>

                        <alert *ngIf="createBlogCategoryMessage" type="info" [dismissOnTimeout]="3000">
                            <strong> {{createBlogCategoryMessage}} </strong>
                        </alert>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>