<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="main-content tellusaboutyou"  *ngIf="!loading">
  <div id="gift_list_container">
    <ul id="gift_list">
      <li>
        <h2 class="singing_instruction3">Gift <span class="gift_liskt_number">{{giftCount}}</span></h2>
        <div class="gift_text_content" style="display:none;">
          <p class="gift_text"></p>
          <ul class="back_next_btn_ul" style="margin:20px 0 10px;">
            <li><a href="javascript:void(0)" class="gift_remove_form">Remove</a></li>
            <li><a href="javascript:void(0)" class="gift_edit_form">Edit</a></li>
          </ul>
        </div>
        <div class="gift_form_container">
          <form [formGroup] = "realPropertyForm">

            <h2 class="singing_instruction3" style="padding-top:0;">Tell Us About Your Gift of Real Property</h2>
            <ul class="radio_ul3">
              <li><label class="radio_custom singing_instruction"><span class="custom_img3"><img src="../../../../../assets/images/percent.png" alt="Cash"></span></label></li>
            </ul>

            <div class="form-group">
              <h3 class="questions">Is this property your primary residence ?</h3>
              <ul class="radio_ul4">
                <li>
                  <label class="radio_custom zero_nine_page yesNo"  [ngClass]="{'active': flags.residenceYesFlag}">
                    <input type="radio" class="form-control" formControlName="residence" value="1" #residenceYes (click)="changeResidence(residenceYes.value)">
                    <span class="human_status"><br>Yes</span>
                  </label>
                </li>
                <li>
                  <label class="radio_custom zero_nine_page yesNo" [ngClass]="{'active': flags.residenceNoFlag}">
                    <input type="radio" class="form-control" #residenceNo formControlName="residence" value="0" (click)="changeResidence(residenceNo.value)">
                    <span class="human_status"><br>No</span>
                  </label>
                </li>
              </ul>
              <span class="error_txt" *ngIf="realPropertyForm.get('residence').invalid && realPropertyForm.get('residence').touched && realPropertyForm.get('residence').hasError('required')">
                  Please answer this question.
              </span>
            </div>


            <div class="form-group">
              <label class="legal_name_benifets">Street Address of the Property?</label>
              <input type="text" class="form-control capitalize_txt" [ngClass]="{'error_input': realPropertyForm.get('street_address').invalid && realPropertyForm.get('street_address').touched}" formControlName="street_address">

              <!--<div class="alert alert-danger" *ngIf="realPropertyForm.invalid && realPropertyForm.touched">-->
              <span class="error_txt" *ngIf="realPropertyForm.get('street_address').invalid && realPropertyForm.get('street_address').touched && realPropertyForm.get('street_address').hasError('required')">
                  Please answer this question.
                </span>
              <!--</div>-->
            </div>

            <div class="form-group">
              <label class="legal_name_benifets">City</label>
              <input type="text" class="form-control capitalize_txt" [ngClass]="{'error_input': realPropertyForm.get('city').invalid && realPropertyForm.get('city').touched}" formControlName="city">

              <!--<div class="alert alert-danger" *ngIf="realPropertyForm.invalid && realPropertyForm.touched">-->
              <span class="error_txt" *ngIf="realPropertyForm.get('city').invalid && realPropertyForm.get('city').touched && realPropertyForm.get('city').hasError('required')">
                  Please answer this question.
                </span>
              <!--</div>-->
            </div>

            <div class="form-group">
              <label class="legal_name_benifets">State</label>
              <input type="text" class="form-control capitalize_txt" [ngClass]="{'error_input': realPropertyForm.get('state').invalid && realPropertyForm.get('state').touched}" formControlName="state">

              <!--<div class="alert alert-danger" *ngIf="realPropertyForm.invalid && realPropertyForm.touched">-->
              <span class="error_txt" *ngIf="realPropertyForm.get('state').invalid && realPropertyForm.get('state').touched && realPropertyForm.get('state').hasError('required')">
                  Please answer this question.
                </span>
              <!--</div>-->
            </div>


            <div class="form-group" *ngIf="flags.showIndividualAndCharity">
              <label class="questions">Please confirm this a gift to an Individual or a Charity?</label>
              <ul class="radio_ul4">
                <li>
                  <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.individualFlag}">
                    <input type="radio" class="form-control" formControlName="gift_to" value="IN" #giftIndividual (click)="giftIndividualOrCharity(giftIndividual.value)">
                    <span class="custom_img"><img src="../../../../../assets/images/hippa.png" alt="Hippa"></span>
                    <span class="human_status">Individual</span>
                  </label>
                </li>
                <li>
                  <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.charityFlag}">
                    <input type="radio" class="form-control" #giftCharity formControlName="gift_to" value="CH" (click)="giftIndividualOrCharity(giftCharity.value)">
                    <span class="custom_img"><img src="../../../../../assets/images/gift.png" alt="gift"></span>
                    <span class="human_status">Charity</span>
                  </label>
                </li>
              </ul>
              <span class="error_txt" *ngIf="realPropertyForm.get('gift_to').invalid && realPropertyForm.get('gift_to').touched && realPropertyForm.get('gift_to').hasError('required')">
                  Please answer this question.
              </span>
            </div>

            <div class="gift_charity_container" *ngIf="flags.charityFlag">
              <label class="legal_name_benifets">Organization name?</label>
              <input type="text" class="form-control capitalize_txt" [ngClass]="{'error_input': realPropertyForm.get('organization_name').invalid && realPropertyForm.get('organization_name').touched}" formControlName="organization_name">
              <span class="error_txt" *ngIf="realPropertyForm.get('organization_name').invalid && realPropertyForm.get('organization_name').touched && realPropertyForm.get('organization_name').hasError('required')">
                    Please answer this question.
                </span>

              <label class="legal_name_benifets">Organization address?</label>
              <input type="text" class="form-control" [ngClass]="{'error_input': realPropertyForm.get('organization_address').invalid && realPropertyForm.get('organization_address').touched}" formControlName="organization_address" placeholder="Street Address, City, State, Zip Code">
              <span class="error_txt" *ngIf="realPropertyForm.get('organization_address').invalid && realPropertyForm.get('organization_address').touched && realPropertyForm.get('organization_address').hasError('required')">
                    Please answer this question.
                </span>
            </div>

            <div class="gift_individual_container" *ngIf="flags.individualFlag">

              <div class="form-group">
                <label class="questions">Who would you like to leave this gift to in your will?</label>
                <ul class="radio_ul4">
                  <li>
                    <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.singleBeneficiaryFlag}">
                      <input type="radio" class="cash_individual_charity" formControlName="beneficiary" value="_si" #radioSingle (click)="changeSingleOrMultipleBeneficiaries(radioSingle.value)" >
                      <span class="custom_img"><img src="../../../../../assets/images/single2.png" alt="single_beneficiary"></span>
                      <span class="human_status">To A Single Beneficiary</span>
                    </label>
                  </li>
                  <li>
                    <label class="radio_custom zero_nine_page"  [ngClass]="{'active': flags.multipleBeneficiaryFlag}">
                      <input type="radio" class="cash_individual_charity" formControlName="beneficiary" #radioMultiple value="_mu" (click)="changeSingleOrMultipleBeneficiaries(radioMultiple.value)">
                      <span class="custom_img"><img src="../../../../../assets/images/multiple.png" alt="multiple_beneficiary"></span>
                      <span class="human_status">To Multiple Beneficiaries</span>
                    </label>
                  </li>
                </ul>
                <span class="error_txt" *ngIf="realPropertyForm.get('beneficiary').invalid && realPropertyForm.get('beneficiary').touched && realPropertyForm.get('beneficiary').hasError('required')">
                  Please answer this question.
                </span>
              </div>


              <div class="form-group">
                <!-- Single Beneficiary -->
                <div class="singleBeneficiary" *ngIf="flags.singleBeneficiaryFlag">
                  <label class="legal_name_benifets">Beneficiary's full legal name?</label>
                  <input type="text" class="form-control capitalize_txt" [ngClass]="{'error_input': realPropertyForm.get('beneficiary_legal_name').invalid && realPropertyForm.get('beneficiary_legal_name').touched}" formControlName="beneficiary_legal_name">
                  <span class="error_txt" *ngIf="realPropertyForm.get('beneficiary_legal_name').invalid && realPropertyForm.get('beneficiary_legal_name').touched && realPropertyForm.get('beneficiary_legal_name').hasError('required')">
                      Please answer this question.
                    </span>
                  <span class="error_txt" *ngIf="realPropertyForm.get('beneficiary_legal_name').invalid && realPropertyForm.get('beneficiary_legal_name').touched && realPropertyForm.get('beneficiary_legal_name').hasError('pattern')">
                      Please answer this question.
                    </span>
                  <label class="legal_name_benifets">Beneficiary's relationship to you?</label>
                  <span class="" style="margin-bottom:20px;">
                        <select class="form-control" formControlName="beneficiary_legal_relation" >
                            <option value="">Select Relationship</option>
                            <option value="Wife">Wife</option>
                            <option value="Husband">Husband</option>
                            <option value="Mother">Mother</option>
                            <option value="Father">Father</option>
                            <option value="Son">Son</option>
                            <option value="Daughter">Daughter</option>
                            <option value="Sister">Sister</option>
                            <option value="Brother">Brother</option>
                            <option value="Aunt">Aunt</option>
                            <option value="Uncle">Uncle</option>
                            <option value="Cousin">Cousin</option>
                            <option value="Friend">Friend</option>
                            <option value="Other">Other</option>
                        </select>
                      </span>
                  <input type="text" class="legal_benifit_input capitalize_txt" formControlName="beneficiary_legal_relation_other" placeholder="Type Here Relationship" *ngIf="realPropertyForm.get('beneficiary_legal_relation').value === 'Other'">
                  <h2 class="questions">Beneficiary's gender?</h2>
                  <ul class="radio_ul6">
                    <li>
                      <label class="radio_custom" [ngClass]="{'active': flags.maleFlag}">
                        <input type="radio" formControlName="gender" value="Male" #radioMale (click)="changeMaleOrFemale(radioMale.value)">
                        <!--<span class="custom_img"><img src="../../../../../assets/images/john.png" alt="Male"></span>-->
                        <span class="human_status mf">Male</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom" [ngClass]="{'active': flags.femaleFlag}">
                        <input type="radio" formControlName="gender" #radioFemale value="Female" (click)="changeMaleOrFemale(radioFemale.value)">
                        <!--<span class="custom_img"><img src="../../../../../assets/images/leza.png" alt="Female"></span>-->
                        <span class="human_status mf"> Female</span> </label>
                    </li>
                  </ul>
                </div>

                <!-- Multiple Beneficiaries -->
                <div class="multipleBeneficiaries" formArrayName="multiple_beneficiaries" *ngIf="flags.multipleBeneficiaryFlag">
                  <!-- <div class="table_main3_main table_main4_main multiple_beneficiary_table">
                    <table>
                      <thead>
                      <tr>
                        <th>Beneficiary's Full Legal Name</th>
                        <th>Beneficiary's <br>Relationship To You</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of realPropertyForm.get('multiple_beneficiaries').controls; let i = index;" [formGroupName] = "i">
                        <td>
                          <input type="text" class="form-control capitalize_txt" formControlName="multiple_beneficiary_name">
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="multiple_beneficiary_relationship">
                          <a *ngIf="i > 0" (click)="removeBeneficiary(i)" class="close_icon remove_table_row"><i class="fa fa-times"></i></a>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <span>
                        <a href="javascript:void(0)" class="add_field2 add_row_beneficiary"  (click)="addNewRow()">+ Add</a>
                      </span>
                  </div> -->

                  <div class="form-group">
                    <div class="row colFormHeading">
                      <div class="threeColField">
                        <label>Beneficiary's full legal name</label>
                      </div>
                      <div class="threeColField">
                        <label>Beneficiary's relationship to you</label>
                      </div>
                    </div>
                    <div class="row formRow" *ngFor="let item of realPropertyForm.get('multiple_beneficiaries').controls; let i = index;" [formGroupName] = "i">
                      <div class="threeColField"><input type="text" value="" class="form-control" formControlName="multiple_beneficiary_name" placeholder="Beneficiary's full legal name"></div>
                      <div class="threeColField"><input type="text" value="" class="form-control" formControlName="multiple_beneficiary_relationship" placeholder="Beneficiary's relationship to you"></div>
                      <div class="threeColField" *ngIf="i > 0" (click)="removeBeneficiary(i)"><button type="button" class="btn btn btn-danger delRow"><i class="fa fa-trash"></i></button></div>
                    </div>

                    <div class="">
                      <div class="addRowBtn"><button type="button" class="btn btn btn-primary addRow" (click)="addNewRow()">+</button></div>
                    </div>
                  </div>

                  <span class="error_txt" *ngIf="this.flags.setValidationFlag">
                    Please answer this question.
                  </span>
                </div>

                <div class="distributeBusiness" *ngIf="flags.singleBeneficiaryFlag || flags.multipleBeneficiaryFlag">
                  <h2 class="questions">How should your real estate be distributed if the beneficiary passes before you?</h2>
                  <ul class="residue_ul_Radio2 singleBen">
                    <li *ngIf="flags.multipleBeneficiaryFlag">
                      <label class="radio_custom property_to_be_distributed " [ngClass]="{'active': flags.survivingGiftBeneficiariesFlag}">
                        <input type="radio" formControlName="passed_by" value="_sgb" #radiosgb (click)="changeProperty(radiosgb.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/gift.png" alt="To their issue"></span>
                        <span class="human_status">To The Surviving Gift Beneficiaries</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom property_to_be_distributed " [ngClass]="{'active': flags.toTheirIssueFlag}">
                        <input type="radio" formControlName="passed_by" value="_tti" #radiotth (click)="changeProperty(radiotth.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/kids.png" alt="To their issue"></span>
                        <span class="human_status">To Their Issue</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.residueEstateFlag}">
                        <input type="radio" formControlName="passed_by" value="_re" #radiore (click)="changeProperty(radiore.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/my-estate.png" alt="With The Residue of My Estate"></span>
                        <span class="human_status">With The Residue of My Estate</span> </label>
                    </li>
                    <li>
                      <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.someoneElseFlag}">
                        <input type="radio" formControlName="passed_by" value="_se" #radiose (click)="changeProperty(radiose.value)">
                        <span class="custom_img"><img src="../../../../../assets/images/some-one-else.png" alt="Someone else"></span>
                        <span class="human_status">To Someone Else</span> </label>
                    </li>
                  </ul>
                  <span class="error_txt" *ngIf="realPropertyForm.get('passed_by').invalid && realPropertyForm.get('passed_by').touched && realPropertyForm.get('passed_by').hasError('required')">
                    Please answer this question.
                  </span>

                  <div class="totheirIssue" *ngIf="flags.toTheirIssueFlag">
                    <h2 class="legal_name_benifets smallHeading">You still need another choice in the event no issue survives the beneficiary.</h2>
                    <ul class="radio_ul8">
                      <li>
                        <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.residueEstateChildFlag}">
                          <input type="radio" formControlName="passed_by_child" value="_re" #radioreChild (click)="changePropertyChild(radioreChild.value)">
                          <span class="custom_img"><img src="../../../../../assets/images/my-estate.png" alt="With The Residue of My Estate"></span>
                          <span class="human_status">With The Residue of My Estate</span> </label>
                      </li>
                      <li>
                        <label class="radio_custom property_to_be_distributed" [ngClass]="{'active': flags.someoneElseChildFlag}">
                          <input type="radio" formControlName="passed_by_child" value="_se" #radioseChild (click)="changePropertyChild(radioseChild.value)">
                          <span class="custom_img"><img src="../../../../../assets/images/some-one-else.png" alt="Someone else"></span>
                          <span class="human_status">To Someone Else</span> </label>
                      </li>
                    </ul>
                    <span class="error_txt" *ngIf="realPropertyForm.get('passed_by_child').invalid && realPropertyForm.get('passed_by_child').touched && realPropertyForm.get('passed_by_child').hasError('required')">
                      Please answer this question.
                    </span>
                  </div>

                  <div class="toSomeOneElse" *ngIf="(!flags.toTheirIssueFlag && flags.someoneElseFlag) || (flags.toTheirIssueFlag && flags.someoneElseChildFlag)">
                    <label class="legal_name_benifets">Individual's name?</label>
                    <input type="text" class="form-control capitalize_txt" formControlName="individual_name"  [ngClass]="{'error_input': realPropertyForm.get('individual_name').invalid && realPropertyForm.get('individual_name').touched}" >
                    <span class="error_txt" *ngIf="realPropertyForm.get('individual_name').invalid && realPropertyForm.get('individual_name').touched && realPropertyForm.get('individual_name').hasError('required')">
                      Please answer this question.
                    </span>
                    <span class="error_txt" *ngIf="realPropertyForm.get('individual_name').invalid && realPropertyForm.get('individual_name').touched && realPropertyForm.get('individual_name').hasError('pattern')">
                      Please answer this question.
                    </span>
                    <label class="legal_name_benifets">Beneficiary's relationship to you?</label>
                    <select class="form-control" formControlName="individual_relationship">
                      <option value="">Select Relationship</option>
                      <option value="Wife">Wife</option>
                      <option value="Husband">Husband</option>
                      <option value="Mother">Mother</option>
                      <option value="Father">Father</option>
                      <option value="Son">Son</option>
                      <option value="Daughter">Daughter</option>
                      <option value="Sister">Sister</option>
                      <option value="Brother">Brother</option>
                      <option value="Aunt">Aunt</option>
                      <option value="Uncle">Uncle</option>
                      <option value="Cousin">Cousin</option>
                      <option value="Friend">Friend</option>
                      <option value="Other">Other</option>
                    </select>
                    <input type="text" class="legal_benifit_input capitalize_txt" formControlName="individual_relationship_other" placeholder="Type Here Relationship" *ngIf="realPropertyForm.get('individual_relationship').value === 'Other'">
                  </div>
                </div>
              </div>
            </div>

            <label class="questions">Should this property be distributed "free & clear" of any mortgage ?</label>
              <ul class="radio_ul4">
                <li>
                  <label class="radio_custom zero_nine_page yesNo"  [ngClass]="{'active': flags.mortageYesFlag}">
                    <input type="radio" class="form-control" formControlName="free_mortgage" value='1' #mortageYes (click)="changeMortage(mortageYes.value)">
                    <!--<span class="custom_img"><img src="../../../../../assets/images/yes.png" alt="Yes"></span>-->
                    <span class="human_status yn">Yes</span>
                  </label>
                </li>
                <li>
                  <label class="radio_custom zero_nine_page yesNo"  [ngClass]="{'active': flags.mortageNoFlag}">
                    <input type="radio" class="form-control" #mortageNo formControlName="free_mortgage" value='0' (click)="changeMortage(mortageNo.value)">
                    <!--<span class="custom_img"><img src="../../../../../assets/images/no.png" alt="Np"></span>-->
                    <span class="human_status yn">No</span>
                  </label>
                </li>
              </ul>
              <span class="error_txt" *ngIf="realPropertyForm.get('free_mortgage').invalid && realPropertyForm.get('free_mortgage').touched && realPropertyForm.get('free_mortgage').hasError('required')">
                  Please answer this question.
              </span>

            <ul class="back_next_btn_ul" style="margin-top:20px;">
              <li *ngIf="flags.editFlag"><a href="javascript:void(0)" class="gift_remove_form" (click)="popUpDelete(formEditDataSet.id)">Remove</a></li>
              <li *ngIf="!flags.editFlag"><a href="javascript:void(0)" class="gift_remove_form" (click)="popUp()">Remove</a></li>
              <li><button class="saveBtn" type="submit" (click)="submit()">Save</button></li>
            </ul>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
