<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="main-content tellusaboutyou" *ngIf="!loading">
  <h2>Guardians For Your Minor Children</h2>
  <form [formGroup] = "myForm" novalidate (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
      <label>Would you like to appoint a Guardian for your minor children?
          <app-global-tooltip (click)="toolTipClicked('guardian')" [tooltipMessages]='toolTipMessageList.guardian' toolTipType="guardian"></app-global-tooltip>
      </label>
      <ul class="radio_ul6">
        <li>
          <label class="radio_custom" [ngClass]="{'active': myForm.value.isGuardianMinorChildren === 'Yes'}">
            <input type="radio"
                   value="Yes"
                   formControlName="isGuardianMinorChildren" (change)="addRemoveValidation()">
            <span class="human_status" >Yes</span>
          </label>
        </li>
        <li>
          <label class="radio_custom" [ngClass]="{'active': myForm.value.isGuardianMinorChildren === 'No'}">
            <input type="radio"
                   value="No"
                   formControlName="isGuardianMinorChildren" (change)="addRemoveValidation()">
            <span class="human_status" > No</span>
          </label>
        </li>
      </ul>
    </div>
    <hr>
    <div *ngIf="myForm.value.isGuardianMinorChildren == 'Yes'">
      <h2>Name Your Children’s’ Guardian
          <app-global-tooltip (click)="toolTipClicked('first_guardian')" [tooltipMessages]='toolTipMessageList.first_guardian' toolTipType="first_guardian"></app-global-tooltip>
      </h2>
      <div formArrayName="guardian">
        <div *ngFor="let item of myForm.controls.guardian.controls; let i=index" [formGroupName]="i">
            <div class="form-group ">
              <label>Guardian’s Full Legal Name: </label>
              <input type="text" value="" class="form-control" formControlName="fullname" >
              <div
                      *ngIf="myForm.get('guardian.0.fullname').dirty && myForm.get('guardian.0.fullname').touched"
                      >
              <span class="error_txt" *ngIf="myForm.get('guardian.0.fullname').hasError('required')">Please enter a properly capitalized guardian name</span>
              <span class="error_txt" *ngIf="myForm.get('guardian.0.fullname').hasError('pattern')">Please enter a properly capitalized guardian name</span>
            </div>
            </div>
            <div class="form-group ">
              <label>Their Relationship To You: </label>
              <select name="first_guardian_relationship" class="form-control" formControlName="relationship_with" #relationship_with (change)="changeRelationshipValidation(relationship_with.value)">
                <option value="">Select Relationship</option>
                <option value="Wife">Wife</option>
                <option value="Husband">Husband</option>
                <option value="Mother">Mother</option>
                <option value="Father">Father</option>
                <option value="Son">Son</option>
                <option value="Daughter">Daughter</option>
                <option value="Sister">Sister</option>
                <option value="Brother">Brother</option>
                <option value="Aunt">Aunt</option>
                <option value="Uncle">Uncle</option>
                <option value="Cousin">Cousin</option>
                <option value="Friend">Friend</option>
                <option value="Other">Other</option>
              </select>
              <div
                      *ngIf="myForm.get('guardian.0.relationship_with').dirty && myForm.get('guardian.0.relationship_with').touched"
                      >
               <span class="error_txt" *ngIf="myForm.get('guardian.0.relationship_with').hasError('required')">Please fill up this field</span>

             </div>
            </div>
            <div class="form-group " *ngIf="myForm.get('guardian.0.relationship_with').value === 'Other'">
              <label>Mention your relationship: </label>
              <input class="form-control" formControlName="relationship_other">
              <span *ngIf="!myForm.get('guardian.0.relationship_other').valid && myForm.get('guardian.0.relationship_other').touched">
                    <span *ngIf="myForm.get('guardian.0.relationship_other').hasError('required')" class="error_txt">Please fill up this field.</span>
              </span>
            </div>
            <div class="form-group">
              <label>Guardian’s Address: </label>
              <input type="text" class="form-control"  placeholder="Address Line 1" formControlName="address">
              <div
                      *ngIf="myForm.get('guardian.0.address').dirty && myForm.get('guardian.0.address').touched"
                      >
                    <span class="error_txt" *ngIf="myForm.get('guardian.0.address').hasError('required')" >Address is required</span>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="City" formControlName="city">
                  <div
                          *ngIf="myForm.get('guardian.0.city').dirty && myForm.get('guardian.0.city').touched"
                          >
                    <span class="error_txt" *ngIf="myForm.get('guardian.0.city').hasError('required')" >City is required</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <select class="form-control" formControlName="state">
                    <option value="">States</option>
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select>
                  <div
                          *ngIf="myForm.get('guardian.0.state').dirty && myForm.get('guardian.0.state').touched"
                          >
                    <span class="error_txt" *ngIf="myForm.get('guardian.0.state').hasError('required')">State is required</span>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="Zip Code" formControlName="zip">
                  <div
                          *ngIf="myForm.get('guardian.0.zip').dirty && myForm.get('guardian.0.zip').touched"
                          >
                    <span class="error_txt" *ngIf="myForm.get('guardian.0.zip').hasError('required')">Zip is required</span>
                    <span class="error_txt" *ngIf="myForm.get('guardian.0.zip').hasError('pattern')">Please provide a proper zip</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Country" formControlName="country" [value]="'United States'" readonly>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <label for="phone">Guardian’s Phone Number:</label>
              <input id="phone" class="form-control" type="text" name="phone"
                     mask="(000)-000-0000" placeholder="(xxx)-xxx-xxxx" formControlName="phone">

              <div
                *ngIf="myForm.get('guardian.0.phone').dirty && myForm.get('guardian.0.phone').touched"
              >
                <span class="error_txt" *ngIf="myForm.get('guardian.0.phone').hasError('required')">
                        Phone is required.
                   </span>
                <span class="error_txt" *ngIf="myForm.get('guardian.0.phone').hasError('pattern')">
                        Please provide a valid phone number.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label>Would you like to notify this person by email that you appointed them as a Guardian for your minor children? </label>
              <ul class="radio_ul6">
                <li>
                  <label class="radio_custom" [ngClass]="{'active': myForm.get('guardian.0.email_notification').value == '1'}">
                    <input type="radio"  value="1" formControlName="email_notification" (click)="changeNotification('guardian.0.email_notification','1')">
                    <span class="human_status">Yes</span>
                  </label>
                  <div class="email-box"
                       [ngClass]="{'valid': !myForm.get('guardian.0.email').hasError('pattern') && !myForm.get('guardian.0.email').hasError('required'),'invalid': myForm.get('guardian.0.email').touched && myForm.get('guardian.0.email').dirty && (myForm.get('guardian.0.email').hasError('pattern') || myForm.get('guardian.0.email').hasError('required'))}"
                       *ngIf="myForm.get('guardian.0.email_notification').value == '1'"
                  >
                    <input type="email" placeholder="Enter Email Address" class="form-control" formControlName="email">
                   <!-- <div
                            *ngIf="!myForm.get('guardian.0.email').valid && myForm.get('guardian.0.email').touched"
                            >
                      <span *ngIf="myForm.get('guardian.0.email').errors['pattern']">Must be a valid email</span>
                      <span *ngIf="myForm.get('guardian.0.email').errors['required']">Email is required</span>
                    </div>-->
                    <i class='fa fa-check' *ngIf="myForm.get('guardian.0.email').valid"></i>
                    <i class='fa fa-times' *ngIf="myForm.get('guardian.0.email').dirty && myForm.get('guardian.0.email').touched && !myForm.get('guardian.0.email').valid"></i>
                  </div>
                </li>
                <li>
                  <label class="radio_custom" [ngClass]="{'active': myForm.get('guardian.0.email_notification').value == '0'}">
                    <input type="radio" value="0" formControlName="email_notification" (click)="changeNotification('guardian.0.email_notification','0')">
                    <span class="human_status"> No</span>
                  </label>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label>Would you like to appoint a Backup Guardians for your minor children?
            <app-global-tooltip (click)="toolTipClicked('backup_guardian')" [tooltipMessages]='toolTipMessageList.backup_guardian' toolTipType="backup_guardian"></app-global-tooltip>
        </label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom" [ngClass]="{'active': myForm.value.isBackUpGuardian == 'Yes'}">
              <input type="radio"  value="Yes" formControlName="isBackUpGuardian" (change)="addRemoveValidation()">
              <span class="human_status">Yes</span>
            </label>
          </li>
          <li>
            <label class="radio_custom" [ngClass]="{'active': myForm.value.isBackUpGuardian == 'No'}">
              <input type="radio" value="No" formControlName="isBackUpGuardian" (change)="addRemoveValidation()">
              <span class="human_status"> No</span>
            </label>
          </li>
        </ul>
      </div>
      <div *ngIf="myForm.value.isBackUpGuardian == 'Yes'">
        <hr>
        <h2>Name Your Backup Guardian</h2>
        <div formArrayName="backUpGuardian">
          <div *ngFor="let item of myForm.controls.backUpGuardian.controls; let j=index" [formGroupName]="j">
            <div class="form-group ">
              <label>Backup Guardian’s Full Legal Name: </label>
              <input type="text" value="" class="form-control" formControlName="fullname" >
              <div
                      *ngIf="myForm.get('backUpGuardian.0.fullname').dirty && myForm.get('backUpGuardian.0.fullname').touched"
                      >
                <!--<span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.fullname').errors['required']">This field is required!</span>-->
                <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.fullname').hasError('required')">Please enter a properly capitalized guardian name</span>
                <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.fullname').hasError('pattern')">Please enter a properly capitalized guardian name</span>

              </div>
            </div>
            <div class="form-group ">
              <label>Their Relationship To You: </label>
              <select name="first_guardian_relationship" class="form-control" formControlName="relationship_with" #backup_relationship (change)="changeBackupRelationshipValidation(backup_relationship.value)">
                <option value="">Select Relationship</option>
                <option value="Wife">Wife</option>
                <option value="Husband">Husband</option>
                <option value="Mother">Mother</option>
                <option value="Father">Father</option>
                <option value="Son">Son</option>
                <option value="Daughter">Daughter</option>
                <option value="Sister">Sister</option>
                <option value="Brother">Brother</option>
                <option value="Aunt">Aunt</option>
                <option value="Uncle">Uncle</option>
                <option value="Cousin">Cousin</option>
                <option value="Friend">Friend</option>
                <option value="Other">Other</option>
              </select>
              <div
                      *ngIf="myForm.get('backUpGuardian.0.relationship_with').dirty && myForm.get('backUpGuardian.0.relationship_with').touched"
                      >
               <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.relationship_with').hasError('required')" >Please fill up this field.</span>
             </div>
            </div>
            <div class="form-group " *ngIf="myForm.get('backUpGuardian.0.relationship_with').value === 'Other'">
              <label>Mention your relationship: </label>
              <input class="form-control" formControlName="relationship_other">
              <span *ngIf="!myForm.get('backUpGuardian.0.relationship_other').valid && myForm.get('backUpGuardian.0.relationship_other').touched">
                    <span *ngIf="myForm.get('backUpGuardian.0.relationship_other').hasError('required')" class="error_txt">Please fill up this field.</span>
              </span>
            </div>
            <div class="form-group">
              <label>Backup Guardian’s Address: </label>
              <input type="text" class="form-control"  placeholder="Address Line 1" formControlName="address">
              <div
                      *ngIf="myForm.get('backUpGuardian.0.address').dirty && myForm.get('backUpGuardian.0.address').touched"
                      >
                    <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.address').hasError('required')">Address is required</span>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="City" formControlName="city">
                  <div
                          *ngIf="myForm.get('backUpGuardian.0.city').dirty && myForm.get('backUpGuardian.0.city').touched"
                          >
                    <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.city').hasError('required')">City is required</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <select class="form-control" formControlName="state">
                    <option value="">States</option>
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select>
                  <div
                          *ngIf="myForm.get('backUpGuardian.0.state').dirty && myForm.get('backUpGuardian.0.state').touched"
                          class="help-block">
                    <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.state').hasError('required')">State is required!</span>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="Zip Code" formControlName="zip">
                  <div
                          *ngIf="myForm.get('backUpGuardian.0.zip').dirty && myForm.get('backUpGuardian.0.zip').touched"
                          >
                    <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.zip').hasError('pattern')">Please provide a proper zip</span>
                    <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.zip').hasError('required')">Zip is required</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Country" formControlName="country" [value]="'United States'" readonly>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <label for="phone">Backup Guardian’s Phone Number:</label>
              <input class="form-control" type="text" name="phone"
                     mask="(000)-000-0000" placeholder="(xxx)-xxx-xxxx" formControlName="phone">
              <div
                *ngIf="myForm.get('backUpGuardian.0.phone').dirty && myForm.get('backUpGuardian.0.phone').touched"
              >
                <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.phone').hasError('required')">
                        Phone is required.
                   </span>
                <span class="error_txt" *ngIf="myForm.get('backUpGuardian.0.phone').hasError('pattern')">
                        Please provide a valid phone number.
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Would you like to notify this person by email that you appointed them as a Backup Guardian for your minor children? </label>
              <ul class="radio_ul6">
                <li>
                  <label class="radio_custom" [ngClass]="{'active': myForm.get('backUpGuardian.0.email_notification').value == '1'}">
                    <input type="radio"  value="1" formControlName="email_notification" (click)="changeNotificationBackup('backUpGuardian.0.email_notification','1')">
                    <span class="human_status">Yes</span>
                  </label>
                  <div class="email-box"
                       [ngClass]="{'valid': !myForm.get('backUpGuardian.0.email').hasError('pattern') && !myForm.get('backUpGuardian.0.email').hasError('required'),'invalid': myForm.get('backUpGuardian.0.email').dirty && myForm.get('backUpGuardian.0.email').touched && (myForm.get('backUpGuardian.0.email').hasError('pattern') || myForm.get('backUpGuardian.0.email').hasError('required'))}"
                       *ngIf="myForm.get('backUpGuardian.0.email_notification').value == '1'">
                    <input type="email" placeholder="Enter Email Address" class="form-control" formControlName="email">
                    <!--<span
                            *ngIf="!myForm.get('backUpGuardian.0.email').valid && myForm.get('backUpGuardian.0.email').touched"
                            class="help-block">
                    <span *ngIf="myForm.get('backUpGuardian.0.email').errors['email']" style="color: red">Must be an email type!</span>

                    </span>-->
                    <i class='fa fa-check' *ngIf="myForm.get('backUpGuardian.0.email').valid"></i>
                    <i class='fa fa-times' *ngIf="myForm.get('backUpGuardian.0.email').dirty && myForm.get('backUpGuardian.0.email').touched && !myForm.get('backUpGuardian.0.email').valid"></i>
                  </div>
                </li>
                <li>
                  <label class="radio_custom" [ngClass]="{'active': myForm.get('backUpGuardian.0.email_notification').value == '0'}">
                    <input type="radio" value="0" formControlName="email_notification" (click)="changeNotificationBackup('backUpGuardian.0.email_notification','0')">
                    <span class="human_status"> No</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="errorMessage">
        <span class="error_txt">{{errorMessage}}</span>
    </div>
    <div class="form-footer">
      <button class="btn common-button btn-grey pull-left" (click)="goBack()">Go Back</button>
      <button class="btn common-button btn-complete" type="submit">Continue</button>
    </div>
  </form>
</div>
