.body_container{
    margin-top: -33px;
}
.inner_banner{
    background-image: url('./../../../assets/images/contactusbanner.png');
    box-shadow: inset 0 5px 14px rgba(0,0,0,0.2);
}
.banner_heading_two{
    color:#fff;
}
.contact_social_media{
    margin-bottom: 0;
}
.contact_left_heading{
    padding: 25px 20px;
}
.alert{
    clear: both;
}

@media screen and (max-width:600px){
    .inner_banner{
        background-image: url('./../../../assets/images/contactusbannerMobile.png');
        height: 400px;
    }
    .inner_banner .wrapper{
        display: inline-block;
        padding-top: 100px;
    }
    .banner_heading_one {
        font-size: 34px;
        display: inline;
    }
    .banner_heading_two {
        font-size: 34px;
        display: inline;
    }
}

@media screen and (max-width:480px){
    .body_container{
        margin-top: -1px;
    }
    .banner_heading_one {
        font-size: 30px;
    }
    .banner_heading_two {
        font-size: 30px;
    }
}