<div class="col-xs-12 packageContainer">
  <div class="main-content tellusaboutyou">
    <h2>Your Personalized Estate Plan</h2>
    <ul class="packages_ul">
      <li>
        <div class="pkg_first_sec">
          <span class="single_pkg"><img src="../../../../assets/images/pkg1.png" alt="error img"></span>
          <h3 class="single_text_heading">{{data.name}}</h3>

          <h4 class="pkg_text"><!--Package--> Bundle for One</h4>
        </div>
        <div class="book_sec_main">
          <div class="book_main">
            <span class="single_will_book"><img src="../../../../assets/images/single-pkg-book.png" alt="error img"></span>
            <h1 class="book_price">${{data.amount}}<sup></sup></h1>
          </div>
          <div class="clear"></div>

          <p class="payPal"><span>Shop With Confidence Powered by</span> <a><img src="../../../../assets/images/paypal-btn.png" class="img-responsive"></a></p>
        </div>

        <div class="hide_show_main_pkg" [ngClass]="{'open': whatIncl}">
          <span class="key_benefits_text">Key Benefits</span>
          <ul class="pkg_benefits_ul">
            <li *ngFor="let benefit of data.key_benefits"><span class="faster_text">{{benefit}}</span></li>

          </ul>
          <span class="whats_included_text">What’s Included:</span>
          <ul class="include_ul">
            <li *ngFor="let inclu of data.included">
              <span class="faster_text2">{{inclu}}</span>
            </li>
          </ul>
        </div>
        <a href="javascript:void(0)" class="include_text" (click)="showIncluded()">
          {{whatIncl == true ? 'Hide' : 'See what’s included'}}
        </a>
      </li>
    </ul>
  </div>
</div>