p, span {
    font-family: 'Times New Roman', Times, serif;
}

.docPage{
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    height: auto !important;
}

.docPageInner{
    height: auto !important;
    min-height: 400px;
}