.top-navbar .navbar-brand{
    height: auto;
}
.top-navbar .nav > li > a{
    padding: 8px;
    cursor: pointer;
}
ul.dropdown-user.dropdown-user{
    min-width: 160px;
    left: -112px !important;
    padding: 0 15px;
}
ul.dropdown-user.dropdown-user li a{
    cursor: pointer;
}


    .common-button{
        cursor: pointer;
        float: none;
        height: 45px;
        margin-top: 10px;
    }
    

