.error_txt{
    width: 100%;
    display: inline-block;
    background-color: #ff5959;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.success_txt{
    width: 100%;
    display: inline-block;
    background-color: #4db228;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.btn-complete{
    background: url(../../../../assets/images/complete-green-btn.png) no-repeat center center !important;
    background-size: 100% 100%;
    padding: 10px 0 10px 30px;
    width: 130px;
    margin: 0;
    float: right;
}

.btn-grey{
    background: url(../../../../assets/images/btn-grey-back.png) no-repeat center center !important;
    background-size: 100% 100%;
    padding: 10px 0 10px 30px;
    width: 130px;
    margin-top: 0;
}