<!-- <app-ch-password> -->
  <div class="main-content tellusaboutyou">
        <div class="wrapper">
            <div class="col-md-10">
                <div class="confirmed_form_top">
                    <h1 class="form_heading">Change Your Password</h1>
                    <p class="form_pera">Please set a new password below.</p>
                </div>
                
                <div class="confirmed_form_white_sec">

                    <div *ngIf="successMsg != null || errorMsg != null">
                        <div class="success_txt" *ngIf="successMsg != null">
                            {{successMsg}}
                        </div>
                        <div class="error_txt" *ngIf="errorMsg != null">
                            {{errorMsg}}
                        </div><br><br>
                    </div>
                    
                    <form id="changePasswordForm" #changePasswordForm = "ngForm" (ngSubmit)="submit(changePasswordForm)">
                        <label><strong> Old Password : </strong></label>
                        <input type="password" 
                                name = "old_password" 
                                placeholder = "old password"
                                class = "form-control"
                                required
                                #old_password = 'ngModel'
                                ngModel
                                ><br>
                        <span class="error_txt" *ngIf="old_password.touched && old_password.dirty && old_password.errors">
                            <p *ngIf="old_password?.touched && old_password.errors?.required">Old password is required</p>
                        </span>

                        <label><strong> New Password : </strong></label>
                        <input type="password" 
                                name = "new_password" 
                                placeholder = "new password"
                                class = "form-control"
                                
                                required
                                #new_password = 'ngModel'
                                ngModel
                                ><br>
                        <span class="error_txt" *ngIf="new_password.touched && new_password.dirty && new_password.errors">
                            <p *ngIf="new_password?.touched && new_password.errors?.required">New password is required</p>
                            <!-- <p *ngIf="new_password?.touched && new_password.errors?.minlength">New Password should be minimun of 6 characters</p> -->
                        </span>

                        <label><strong> Confirm Password : </strong></label>
                        <input type="password" 
                                name = "confirm_password" 
                                validateEqual="new_password"
                                placeholder = "confirm password"
                                class = "form-control"
                                
                                required
                                #confirm_password = 'ngModel'
                                ngModel
                                ><br>
                        <span class="error_txt" *ngIf="confirm_password.touched && confirm_password.dirty && !confirm_password.valid">
                            <p *ngIf="confirm_password?.touched && confirm_password != new_password">Password don't match</p>
                        </span>
                        
                        
  
                        <div class="loader_parent" id="response_loader">
                            <span class="loader"></span>
                        </div>

                        <div class="get_start_main">
                            <button class="btn common-button btn-grey pull-left" (click)="goBack()" type="button">Go Back</button>
                            <!--<a class="login_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> Login</a>-->
                            <button class="btn common-button btn-complete" [disabled]="!changePasswordForm.form.valid" type="submit">Change</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    
  </div>
  

<!-- </app-ch-password> -->