<div class="main-content tellusaboutyou">
    <h2>Your Family</h2>
    <form>
        <div class="form-group">
            <label>How many children do you have?</label>
            <select class="form-control">
                <option value="">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label>Do you have any deceased children? </label>
            <ul class="radio_ul6">
                <li>
                    <label class="radio_custom">
                        <input type="radio" name="deceased_children" value="Yes">
                        <span class="human_status">Yes</span>
                    </label>
                </li>
                <li>
                    <label class="radio_custom active">
                        <input type="radio" name="deceased_children" checked value="No">
                        <span class="human_status"> No</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="form-footer">
            <button class="btn common-button btn-grey pull-left">Go Back</button>
            <button class="btn common-button btn-complete">Continue</button>
        </div>
    </form>
</div>