<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div *ngIf="!loading" class="main-content tellusaboutyou" style="width: 860px">
    <h2>Your Family</h2>
    <form [formGroup] = "chidrenForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>How many children do you have?</label>
            <select class="form-control" #totalChildren (change)="selectedNumberOfChildren(totalChildren.value)" formControlName="totalChildren">
                <option value="0">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="other">Other</option>
            </select>
          <span class="error_txt" *ngIf="!otherChildren && chidrenForm.get('totalChildren').invalid && (chidrenForm.get('totalChildren').dirty || chidrenForm.get('totalChildren').touched)">
            <p *ngIf="chidrenForm.get('totalChildren').hasError('required')">
              Please fill up this field.
            </p>
          </span>
        </div>
          <!--<div class="form-group">-->
              <!--<div *ngIf="maxChidren">-->
                  <!--<span style="color: red;">-->
                      <!--Max length is 20-->
                  <!--</span>-->
              <!--</div>-->
          <!--<span class="error_txt">-->
            <!--Please provide their name(s), gender and date of birth-->
          <!--</span>-->
          <!--</div>-->
        <div *ngIf="otherChildren" class="form-group">
            <input class="form-control"
                   type="number"
                   name="otherChildrenNumber"
                   #totalChildrenText
                   (change)="selectedNumberOfChildren(totalChildrenText.value)"
                   placeholder="Enter the number of children"
                   formControlName="totalChildrenOther">
          <span class="error_txt" *ngIf="chidrenForm.get('totalChildrenOther').invalid && (chidrenForm.get('totalChildrenOther').dirty || chidrenForm.get('totalChildrenOther').touched)">
              <p *ngIf="chidrenForm.get('totalChildrenOther').hasError('required')">
                Please provide their name(s), gender and date of birth</p>
          </span>
          <span class="error_txt" *ngIf="maxChidren">
            Maximum length is 20.
          </span>
        </div>
        <div *ngIf="showTable">
          <div class="form-group" *ngIf="chidrenForm.get('totalChildren').value !== '0'">
            <label>Please provide their name(s), gender and date of birth
                    <app-global-tooltip (click)="toolTipClicked('family')" [tooltipMessages]='toolTipMessageList.family' toolTipType="family"></app-global-tooltip>
            </label>
          </div>
            <div formArrayName="childrenInfo" *ngFor="let item of childrenInfo.controls; let i = index;">
                <div class="row form-group allChild" [formGroupName]="i">
                    <div class="col-lg-3">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="fullname" required>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label>Gender</label>
                        <select class="form-control" required formControlName="gender" >
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <label>Month</label>
                        <select class="form-control"
                                placeholder="Month"
                                formControlName="spouseMonth"
                                required>
                            <option value="">MONTH</option>
                            <option *ngFor="let month of months;let i = index" [value]="month">{{month}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <label>Day</label>
                        <select class="form-control" placeholder="Day"
                                formControlName="spouseDay">
                            <option value="">DAY</option>
                            <option *ngFor="let day of days;let i = index" [value]="day">{{day}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <label>Year</label>
                        <select class="form-control" placeholder="Month"
                                required formControlName="spouseYear">
                            <option value="">YEAR</option>
                            <option *ngFor="let year of years;let i = index" [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <span class="error_txt" *ngIf="setValidationFlag">
                Please fill up all the fields.
              </span>
            </div>

        </div>

        <div class="form-group">
            <label>Do you have any deceased children? </label>
            <ul class="radio_ul6">
                <li>
                    <label class="radio_custom" [ngClass]="{'active': chidrenForm.value.deceasedChildren === 'Yes'}">
                        <input type="radio"
                               value="Yes"
                               formControlName="deceasedChildren"
                               required
                               (change)="checkIsDeceasedChildren($event)">
                        <span class="human_status">Yes</span>
                    </label>
                </li>
                <li>
                    <label class="radio_custom" [ngClass]="{'active': chidrenForm.value.deceasedChildren === 'No'}">
                        <input type="radio"
                               value="No"
                               formControlName="deceasedChildren"
                               required
                               (change)="checkIsDeceasedChildren($event)">
                        <span class="human_status"> No</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="form-group" *ngIf="chidrenForm.value.deceasedChildren == 'Yes'">
          <label>Please provide their name(s) comma seperarated</label>
            <textarea class="form-control" name="" id="" cols="30" rows="10" formControlName="deceasedChildrenNames"></textarea>
            <div *ngIf="chidrenForm.get('deceasedChildrenNames').touched && chidrenForm.get('deceasedChildrenNames').dirty">
                <span class="error_txt" *ngIf="chidrenForm.get('deceasedChildrenNames').hasError('required')">
                  Please fill this field.
                </span>
            </div>
        </div>
        <div class="form-group" *ngIf="errors.errorFlag">
            <span class="error_txt">
                {{ errors.errorMessage }}
            </span>
        </div>
        <div class="form-footer">
            <button class="btn common-button btn-grey pull-left" (click)="goBack()">Go Back</button>
            <button class="btn common-button btn-complete">Continue</button>
        </div>
    </form>
</div>
