<div class="main-content tellusaboutyou" style="width: 234%">
    <h2>Your Family</h2>
    <form [formGroup] = "chidrenForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>How many children do you have?</label>
            <select class="form-control" (change)="selectedNumberOfChildren($event)" formControlName="totalChildren">
                <option value="">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div *ngIf="otherChildren" class="form-group">
            <input type="text" name="otherChildrenNumber" (keyup)="selectedNumberOfChildren($event)" placeholder="Enter the number of children" formControlName="totalChildren">
        </div>
        <div *ngIf="columns.length">
            <table calss="table">
                <tr>
                    <td>Fullname</td>
                    <td>Gender</td>
                    <td>Birthday</td>
                </tr>
                <tr *ngFor="let column of columns" formArrayName="childrenInfo">
                    <td><input type="text" class="form-control" formControlName="childrenInfo.fullname" required></td>
                    <td>
                        <input type="radio" value="M" formControlName="gender" required >Male
                        <input type="radio" formControlName="gender" value="F" required >Female
                    </td>
                    <td>
                        <select class="form-control" placeholder="Month"
                                name="spouseMonth"
                                required
                                [ngModel]="userInfo?.spouseMonth"
                                #spouseMonth="ngModel">
                            <option *ngFor="let month of months;let i = index" [value]="month">{{month}}</option>
                        </select>
                        <select class="form-control" placeholder="Day"
                                name="spouseDay"
                                required
                                [ngModel]="userInfo?.spouseDay"
                                #spouseDay="ngModel">
                            <option *ngFor="let day of days;let i = index" [value]="day">{{day}}</option>
                        </select>
                        <select  class="form-control" placeholder="Year"
                                 name="spouseYear"
                                 required
                                 [ngModel]="userInfo?.spouseYear"
                                 #year="ngModel">
                            <option *ngFor="let year of years;let i = index" [value]="year">{{year}}</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <label>Do you have any deceased children? </label>
            <ul class="radio_ul6">
                <li>
                    <label class="radio_custom">
                        <input type="radio"
                               value="1"
                               formControlName="deceasedChildren"
                               required
                               (change)="checkIsDeceasedChildren($event)">
                        <span class="human_status">Yes</span>
                    </label>
                </li>
                <li>
                    <label class="radio_custom" >
                        <input type="radio"
                               value="0"
                               formControlName="deceasedChildren"
                               required
                               (change)="checkIsDeceasedChildren($event)">
                        <span class="human_status"> No</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="form-group" *ngIf="deceasedChildrenNames">
            <textarea name="" id="" cols="30" rows="10" formControlName="deceasedChildrenNames">
                enter children names seperated by comma
            </textarea>
        </div>

        <div class="form-footer">
            <button class="btn common-button btn-grey pull-left" (click)="goBack()">Back</button>
            <button class="btn common-button btn-complete">Continue</button>
        </div>
    </form>
</div>