<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="" *ngIf="!loading">
    <div class="main-content tellusaboutyou">
        <h2>Name your personal representative

                <app-global-tooltip (click)="toolTipClicked('personal_representative')" [tooltipMessages]='toolTipMessageList.personal_representative' toolTipType="personal_representative"></app-global-tooltip>

        </h2>
        <form [formGroup]="personalRepresentativeDetailsForm" (ngSubmit)="onSubmit(personalRepresentativeDetailsForm)">
            <div formArrayName="personalRepresentative">
                <div *ngFor="let item of personalRepresentativeDetailsForm['controls'].personalRepresentative['controls']; let i=index">
              <!--<div *ngFor="let item of personalRepresentativeDetailsForm.get('personalRepresentative'); let i=index">-->
                    <div [formGroupName]="i">
                        <div class="form-group">
                            <label>Full Legal Name: </label>
                            <input type="text" class="form-control" placeholder="Full legal name"
                                   formControlName="fullname">
                            <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.fullname').dirty && personalRepresentativeDetailsForm.get('personalRepresentative.0.fullname').touched">
                                <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.fullname').hasError('required')" class="error_txt"> Please enter a properly capitalized legal name</span>
                                <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.fullname').hasError('pattern')" class="error_txt"> Please enter a properly capitalized legal name</span>
                            </span>
                        </div>
                        <div class="form-group ">
                            <label>Their Relationship To You: </label>
                            <select class="form-control" formControlName="relationship_with" #relationship_with (change)="changeRelationshipValidation(relationship_with.value)">
                                <option value="">Select Relationship</option>
                                <option value="Wife">Wife</option>
                                <option value="Husband">Husband</option>
                                <option value="Mother">Mother</option>
                                <option value="Father">Father</option>
                                <option value="Son">Son</option>
                                <option value="Daughter">Daughter</option>
                                <option value="Sister">Sister</option>
                                <option value="Brother">Brother</option>
                                <option value="Aunt">Aunt</option>
                                <option value="Uncle">Uncle</option>
                                <option value="Cousin">Cousin</option>
                                <option value="Friend">Friend</option>
                                <option value="Other">Other</option>
                            </select>
                            <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_with').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_with').touched">
                                  <span class="error_txt" *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_with').hasError('required')">Please fill up this field.</span>
                             </span>
                        </div>
                      <div class="form-group " *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_with').value === 'Other'">
                        <label>Mention your relationship: </label>
                        <input class="form-control" formControlName="relationship_other">
                        <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_other').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_other').touched">
                                  <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.relationship_other').hasError('required')" class="error_txt">Please fill up this field.</span>
                            </span>
                      </div>
                        <div class="form-group">
                            <label>Their Address: </label>
                            <input type="text" class="form-control" placeholder="Address Line 1"
                                   formControlName="address">
                            <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.address').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.address').touched">
                                <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.address').hasError('required')" class="error_txt">Address is required</span>
                            </span>
                            <div class="row">
                                <div class="col-md-6"><input type="text" class="form-control" placeholder="city"
                                                             formControlName="city">
                                    <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.city').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.city').touched">
                                        <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.city').hasError('required')" class="error_txt">City is required</span>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                  <select class="form-control" formControlName="state">
                                    <option value="">State</option>
                                    <option value="Alabama">Alabama</option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="Arizona">Arizona</option>
                                    <option value="Arkansas">Arkansas</option>
                                    <option value="California">California</option>
                                    <option value="Colorado">Colorado</option>
                                    <option value="Connecticut">Connecticut</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="District Of Columbia">District of Columbia</option>
                                    <option value="Florida">Florida</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Idaho">Idaho</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Indiana">Indiana</option>
                                    <option value="Iowa">Iowa</option>
                                    <option value="Kansas">Kansas</option>
                                    <option value="Kentucky">Kentucky</option>
                                    <option value="Louisiana">Louisiana</option>
                                    <option value="Maine">Maine</option>
                                    <option value="Maryland">Maryland</option>
                                    <option value="Massachusetts">Massachusetts</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Minnesota">Minnesota</option>
                                    <option value="Mississippi">Mississippi</option>
                                    <option value="Missouri">Missouri</option>
                                    <option value="Montana">Montana</option>
                                    <option value="Nebraska">Nebraska</option>
                                    <option value="Nevada">Nevada</option>
                                    <option value="New Hampshire">New Hampshire</option>
                                    <option value="New Jersey">New Jersey</option>
                                    <option value="New Mexico">New Mexico</option>
                                    <option value="New York">New York</option>
                                    <option value="North Carolina">North Carolina</option>
                                    <option value="North Dakota">North Dakota</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="Oregon">Oregon</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="Rhode Island">Rhode Island</option>
                                    <option value="South Carolina">South Carolina</option>
                                    <option value="South Dakota">South Dakota</option>
                                    <option value="Tennessee">Tennessee</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Utah">Utah</option>
                                    <option value="Vermont">Vermont</option>
                                    <option value="Virginia">Virginia</option>
                                    <option value="Washington">Washington</option>
                                    <option value="West Virginia">West Virginia</option>
                                    <option value="Wisconsin">Wisconsin</option>
                                    <option value="Wyoming">Wyoming</option>
                                  </select>

                                    <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.state').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.state').touched">
                                        <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.state').hasError('required')" class="error_txt">State is required</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input type="text" class="form-control" placeholder="zip"
                                                             formControlName="zip">
                                    <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.zip').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.zip').touched">
                                        <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.zip').hasError('required')" class="error_txt">Zip is required</span>
                                        <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.zip').hasError('pattern')" class="error_txt">Please provide a valid zip.</span>
                                    </span>
                                </div>
                                <div class="col-md-6"><input type="text" class="form-control" placeholder="country"
                                                             formControlName="country" readonly>
                                    <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.country').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.country').touched">
                                        <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.country').errors['required']" class="error_txt">Country is required</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                          <label for="phone">Their Phone Number?</label>
                          <input id="phone" class="form-control" type="text" name="phone"
                                 mask="(000)-000-0000" placeholder="(xxx)-xxx-xxxx" formControlName="phone">

                          <div *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.phone').dirty && personalRepresentativeDetailsForm.get('personalRepresentative.0.phone').touched">
                                <span class="error_txt" *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.phone').hasError('required')">
                                    Phone is required.
                                </span>
                                <span class="error_txt" *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.phone').hasError('pattern')">
                                    Please provide a valid phone number.
                                </span>
                          </div>
                        </div>


                        <div class="form-group">
                            <label>Would you like to notify this person that you appointed them as your personal
                                representative? </label>
                            <ul class="radio_ul6">
                                <li>
                                    <label class="radio_custom"
                                           [ngClass]="{'active': personalRepresentativeDetailsForm.get('personalRepresentative.0.email_notification').value == '1'}">
                                        <input type="radio" formControlName="email_notification" value="1" #notifyYes (click)="changeValidationEmail(notifyYes.value)">
                                        <span class="human_status">Yes</span>
                                    </label>
                                    <div *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.email_notification').value == '1'"
                                         class="email-box" [ngClass] = "{'valid': personalRepresentativeDetailsForm.get('personalRepresentative.0.email').valid,'invalid':!personalRepresentativeDetailsForm.get('personalRepresentative.0.email').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.email').touched}">
                                        <input type="email" placeholder="Enter Email Address" class="form-control"
                                               formControlName="email">
                                       <!-- <span *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.email').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.email').touched" class="help-block">
                                            <span *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.email').errors['email']" style="color: red">Must be an email type!</span>
                                        </span>-->
                                        <i class= 'fa fa-check' *ngIf="personalRepresentativeDetailsForm.get('personalRepresentative.0.email').valid"></i>
                                        <i class= 'fa fa-times' *ngIf="!personalRepresentativeDetailsForm.get('personalRepresentative.0.email').valid && personalRepresentativeDetailsForm.get('personalRepresentative.0.email').touched"></i>
                                    </div>
                                </li>
                                <li>
                                    <label class="radio_custom"
                                           [ngClass]="{'active': personalRepresentativeDetailsForm.get('personalRepresentative.0.email_notification').value == '0'}">
                                        <input type="radio" formControlName="email_notification" value="0" #notifyNo (click)="changeValidationEmail(notifyNo.value)">
                                        <span class="human_status"> No</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Would you like to name a backup Personal Representative? </label>
                <ul class="radio_ul6">
                    <li>
                        <label class="radio_custom"
                               [ngClass]="{'active': personalRepresentativeDetailsForm.value.isBackupPersonalRepresentative == 'Yes'}">
                            <input type="radio" formControlName="isBackupPersonalRepresentative" value="Yes"
                                   (change)="addRemoveValidation()">
                            <span class="human_status">Yes</span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_custom"
                               [ngClass]="{'active': personalRepresentativeDetailsForm.value.isBackupPersonalRepresentative == 'No'}">
                            <input type="radio" formControlName="isBackupPersonalRepresentative" value="No"
                                   (change)="addRemoveValidation()">
                            <span class="human_status"> No</span>
                        </label>
                    </li>
                </ul>
            </div>
            <hr>
            <div *ngIf="personalRepresentativeDetailsForm.value.isBackupPersonalRepresentative == 'Yes'">
                <h2>Name Your Backup Personal Representative
                    <app-global-tooltip (click)="toolTipClicked('backup_personal_representative')" [tooltipMessages]='toolTipMessageList.backup_personal_representative' toolTipType="backup_personal_representative"></app-global-tooltip>

                    </h2>
                <div formArrayName="backupPersonalRepresentative">
                    <div *ngFor="let item of personalRepresentativeDetailsForm['controls'].backupPersonalRepresentative['controls']; let i=index">
                        <div [formGroupName]="i">
                            <div class="form-group ">
                                <label>Full Legal Name: </label>
                                <input type="text" class="form-control" placeholder="Full legal name"
                                       formControlName="fullname">
                                <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.fullname').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.fullname').touched">
                                    <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.fullname').hasError('required')" class="error_txt"> Please enter a properly capitalized legal name</span>
                                    <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.fullname').hasError('pattern')" class="error_txt"> Please enter a properly capitalized legal name</span>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>Their Relationship To You: </label>
                                <select class="form-control" formControlName="relationship_with" #backup_relation (change)="changeBackupRelationshipValidation(backup_relation.value)">
                                    <option value="">Select Relationship</option>
                                    <option value="Wife">Wife</option>
                                    <option value="Husband">Husband</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Father">Father</option>
                                    <option value="Son">Son</option>
                                    <option value="Daughter">Daughter</option>
                                    <option value="Sister">Sister</option>
                                    <option value="Brother">Brother</option>
                                    <option value="Aunt">Aunt</option>
                                    <option value="Uncle">Uncle</option>
                                    <option value="Cousin">Cousin</option>
                                    <option value="Friend">Friend</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_with').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_with').touched">
                                  <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_with').hasError('required')" class="error_txt">Please fill up this field.</span>
                                </span>
                            </div>
                          <div class="form-group " *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_with').value === 'Other'">
                            <label>Mention your relationship: </label>
                            <input class="form-control" formControlName="relationship_other">
                            <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_other').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_other').touched">
                                  <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.relationship_other').hasError('required')" class="error_txt">Please fill up this field.</span>
                            </span>
                          </div>
                            <div class="form-group">
                                <label>Their Address: </label>
                                <input type="text" class="form-control" placeholder="Address Line 1"
                                       formControlName="address">
                                <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.address').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.address').touched">
                                      <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.address').hasError('required')" class="error_txt">Address is required</span>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                      <input type="text" class="form-control" placeholder="city"
                                                                 formControlName="city">
                                        <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.city').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.city').touched">
                                            <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.city').hasError('required')" class="error_txt">City is required</span>
                                        </span>
                                    </div>
                                  <div class="col-md-6">
                                    <select class="form-control" formControlName="state">
                                      <option value="">State</option>
                                      <option value="Alabama">Alabama</option>
                                      <option value="Alaska">Alaska</option>
                                      <option value="Arizona">Arizona</option>
                                      <option value="Arkansas">Arkansas</option>
                                      <option value="California">California</option>
                                      <option value="Colorado">Colorado</option>
                                      <option value="Connecticut">Connecticut</option>
                                      <option value="Delaware">Delaware</option>
                                      <option value="District Of Columbia">District of Columbia</option>
                                      <option value="Florida">Florida</option>
                                      <option value="Georgia">Georgia</option>
                                      <option value="Hawaii">Hawaii</option>
                                      <option value="Idaho">Idaho</option>
                                      <option value="Illinois">Illinois</option>
                                      <option value="Indiana">Indiana</option>
                                      <option value="Iowa">Iowa</option>
                                      <option value="Kansas">Kansas</option>
                                      <option value="Kentucky">Kentucky</option>
                                      <option value="Louisiana">Louisiana</option>
                                      <option value="Maine">Maine</option>
                                      <option value="Maryland">Maryland</option>
                                      <option value="Massachusetts">Massachusetts</option>
                                      <option value="Michigan">Michigan</option>
                                      <option value="Minnesota">Minnesota</option>
                                      <option value="Mississippi">Mississippi</option>
                                      <option value="Missouri">Missouri</option>
                                      <option value="Montana">Montana</option>
                                      <option value="Nebraska">Nebraska</option>
                                      <option value="Nevada">Nevada</option>
                                      <option value="New Hampshire">New Hampshire</option>
                                      <option value="New Jersey">New Jersey</option>
                                      <option value="New Mexico">New Mexico</option>
                                      <option value="New York">New York</option>
                                      <option value="North Carolina">North Carolina</option>
                                      <option value="North Dakota">North Dakota</option>
                                      <option value="Ohio">Ohio</option>
                                      <option value="Oklahoma">Oklahoma</option>
                                      <option value="Oregon">Oregon</option>
                                      <option value="Pennsylvania">Pennsylvania</option>
                                      <option value="Rhode Island">Rhode Island</option>
                                      <option value="South Carolina">South Carolina</option>
                                      <option value="South Dakota">South Dakota</option>
                                      <option value="Tennessee">Tennessee</option>
                                      <option value="Texas">Texas</option>
                                      <option value="Utah">Utah</option>
                                      <option value="Vermont">Vermont</option>
                                      <option value="Virginia">Virginia</option>
                                      <option value="Washington">Washington</option>
                                      <option value="West Virginia">West Virginia</option>
                                      <option value="Wisconsin">Wisconsin</option>
                                      <option value="Wyoming">Wyoming</option>
                                    </select>
                                        <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.state').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.state').touched">
                                            <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.state').hasError('required')" class="error_txt">State is required</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><input type="text" class="form-control" placeholder="zip"
                                                                 formControlName="zip">
                                        <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.zip').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.zip').touched">
                                            <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.zip').hasError('required')" class="error_txt">Zip is required</span>
                                            <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.zip').hasError('pattern')" class="error_txt">Please provide a valid zip</span>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                      <input type="text" class="form-control" placeholder="country" formControlName="country" readonly>
                                        <span *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.country').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.country').touched">
                                        <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.country').hasError('required')" class="error_txt">Country is required</span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                              <label for="phone">Their Phone Number?</label>
                              <input class="form-control" type="text" name="phone"
                                     mask="(000)-000-0000" placeholder="(xxx)-xxx-xxxx" formControlName="phone">

                              <div *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.phone').dirty && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.phone').touched">
                                  <span class="error_txt" *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.phone').hasError('required')">
                                      Phone is required.
                                  </span>
                                <span class="error_txt" *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.phone').hasError('pattern')">
                                      Please provide a valid phone number.
                                  </span>
                              </div>
                            </div>
                            <div class="form-group">
                                <label>Would you like to notify this person that you appointed them as your Personal
                                    Representative? </label>
                                <ul class="radio_ul6">
                                    <li>
                                        <label class="radio_custom"
                                               [ngClass]="{'active': personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email_notification').value == '1'}">
                                            <input type="radio" formControlName="email_notification" #emailYes value="1" (click)="changeValidation(emailYes.value)">
                                            <span class="human_status">Yes</span>
                                        </label>
                                        <div *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email_notification').value == '1'"
                                             class="email-box" [ngClass]="{'valid':personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').valid, 'invalid': !personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').touched}">
                                            <input type="email" placeholder="Enter Email Address" class="form-control"
                                                   formControlName="email">
                                            <!--<span
                                                    *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').touched"
                                                    class="help-block">
                                              <span *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').errors['email']"
                                                    style="color: red">Must be an email type!</span>

                                              </span>
                                            <i [ngClass]="{'fa fa-check': personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').valid}"></i>-->
                                          <i class= 'fa fa-check' *ngIf="personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').valid"></i>
                                          <i class= 'fa fa-times' *ngIf="!personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').valid && personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email').touched"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="radio_custom"
                                               [ngClass]="{'active': personalRepresentativeDetailsForm.get('backupPersonalRepresentative.0.email_notification').value == '0'}">
                                            <input type="radio" formControlName="email_notification" #emailNo value="0" (click)="changeValidation(emailNo.value)">
                                            <span class="human_status"> No</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="form-group" *ngIf="errorFlag">
            <div class="error_txt">
              {{errorMessage}}
            </div>
          </div>
            <div class="form-footer">
                <button class="btn common-button btn-grey pull-left" (click)="goBack()">Go Back</button>
                <button class="btn common-button btn-complete" type="submit">Continue
                </button>
            </div>
        </form>
    </div>
</div>
