<div class="col-md-9 col-sm-7">
  <div class="main-content tellusaboutyou">
    <h2>Name your personal representative</h2>
    <form>
      <div class="form-group ">
        <label>Full Legal Name: </label>
        <input type="text" value="" class="form-control">
      </div>
      <div class="form-group ">
        <label>Their Relationship To You: </label>
        <select name="first_guardian_relationship" class="form-control">
          <option value="">Select Relationship</option>
          <option value="Wife">Wife</option>
          <option value="Husband">Husband</option>
          <option value="Mother">Mother</option>
          <option value="Father">Father</option>
          <option value="Son">Son</option>
          <option value="Daughter">Daughter</option>
          <option value="Sister">Sister</option>
          <option value="Brother">Brother</option>
          <option value="Aunt">Aunt</option>
          <option value="Uncle">Uncle</option>
          <option value="Cousin">Cousin</option>
          <option value="Friend">Friend</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label>Their Address: </label>
        <input type="email" value="" class="form-control"  placeholder="Address Line 1">
        <div class="row">
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="City"></div>
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="State"></div>
        </div>
        <div class="row">
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="Zip Code"></div>
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="Country"></div>
        </div>
      </div>
      <div class="form-group">
        <label>Would you like to notify this person that you appointed them as your personal representative? </label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom active">
              <input type="radio" name="notify_person" value="Yes">
              <span class="human_status">Yes</span>
            </label>
            <div class="email-box valid">
              <input type="email" placeholder="Enter Email Address" class="form-control">
              <i class="fa fa-check"></i>
            </div>
          </li>
          <li>
            <label class="radio_custom">
              <input type="radio" name="notify_person" value="No" checked>
              <span class="human_status"> No</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label>Would you like to name a backup Personal Representative? </label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom">
              <input type="radio" name="appoint_backup_guardians" value="Yes">
              <span class="human_status">Yes</span>
            </label>
          </li>
          <li>
            <label class="radio_custom active">
              <input type="radio" name="appoint_backup_guardians" value="No" checked>
              <span class="human_status"> No</span>
            </label>
          </li>
        </ul>
      </div>
      <hr>
      <h2>Name Your Backup Personal Representative</h2>
      <div class="form-group ">
        <label>Full Legal Name: </label>
        <input type="text" value="" class="form-control">
      </div>
      <div class="form-group ">
        <label>Their Relationship To You: </label>
        <select name="first_guardian_relationship" class="form-control">
          <option value="">Select Relationship</option>
          <option value="Wife">Wife</option>
          <option value="Husband">Husband</option>
          <option value="Mother">Mother</option>
          <option value="Father">Father</option>
          <option value="Son">Son</option>
          <option value="Daughter">Daughter</option>
          <option value="Sister">Sister</option>
          <option value="Brother">Brother</option>
          <option value="Aunt">Aunt</option>
          <option value="Uncle">Uncle</option>
          <option value="Cousin">Cousin</option>
          <option value="Friend">Friend</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label>Their Address: </label>
        <input type="email" value="" class="form-control"  placeholder="Address Line 1">
        <div class="row">
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="City"></div>
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="State"></div>
        </div>
        <div class="row">
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="Zip Code"></div>
          <div class="col-md-6"><input type="text" value="" class="form-control"  placeholder="Country"></div>
        </div>
      </div>
      <div class="form-group">
        <label>Would you like to notify this person that you appointed them as your Personal Representative? </label>
        <ul class="radio_ul6">
          <li>
            <label class="radio_custom active">
              <input type="radio" name="notify_person_bkp" value="Yes">
              <span class="human_status">Yes</span>
            </label>
            <div class="email-box valid">
              <input type="email" placeholder="Enter Email Address" class="form-control">
              <i class="fa fa-check"></i>
            </div>
          </li>
          <li>
            <label class="radio_custom">
              <input type="radio" name="notify_person_bkp" value="No" checked>
              <span class="human_status"> No</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="form-footer">
        <button class="btn common-button btn-grey pull-left">Go Back</button>
        <button class="btn common-button btn-complete">Continue</button>
      </div>
    </form>
  </div>
</div>