.docPage{
  width: 700px !important;
  height: auto !important;
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  margin: 20px 0;
  box-sizing: border-box;
  padding: 40px;
}
.docPageInner{
	height: auto !important;
}

.docPage p, .docPage span{
	line-height: initial;
}