<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
          <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/admin-panel/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
          </li>
          
          <li class="dropMenu" routerLinkActive="active-menu">
              <a routerLink="/admin-panel/blogs"><i class="fa fa-rss"></i> Blog</a>
              <ul>
                  <li routerLinkActive="active-menu"><a routerLink="/admin-panel/blogs"><i class="fa fa-rss"></i> Blogs</a></li>
                  <li routerLinkActive="active-menu"><a routerLink="/admin-panel/blog-categories"><i class="fa fa-sitemap"></i> Blog Categories</a></li>
                  <li routerLinkActive="active-menu"><a routerLink="/admin-panel/blog-comments"><i class="fa fa-comments"></i> Blogs Comments</a></li>
              </ul>
          </li>
          <li class="dropMenu" routerLinkActive="active-menu">
              <a class="" routerLink="/admin-panel/faqs"><i class="fa fa-question-circle"></i> Faq</a>
              <ul class="faqMenu">
                <li routerLinkActive="active-menu"><a routerLink="/admin-panel/faqs"><i class="fa fa-question-circle"></i>Faqs</a></li>
                <li routerLinkActive="active-menu"><a routerLink="/admin-panel/faqs-category"><i class="fa fa-question"></i>Faq Categories</a></li>
              </ul>
          </li>
          <li routerLinkActive="active-menu">
              <a class="" routerLink="/admin-panel/packages"><i class="fa fa-dropbox"></i> Packages</a>
          </li>
          <li routerLinkActive="active-menu">
              <a class="" href=""><i class="fa fa-question-circle"></i> Role</a>
          </li>
          <li routerLinkActive="active-menu">
              <a class="" routerLink="/admin-panel/discount-coupon"><i class="fa fa-tags"></i> Discount Coupons</a>
          </li>
          <li routerLinkActive="active-menu">
              <a class="" routerLink="/admin-panel/users-management"><i class="fa fa-users"></i> Users Management</a>
          </li>
          
      </ul>

  </div>

</nav>