<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
          <li>
              <a class="active-menu" routerLink="/admin-panel"><i class="fa fa-dashboard"></i> Dashboard</a>
          </li>
          
          <li class="dropMenu">
              <a><i class="fa fa-rss"></i> Blog</a>
              <ul>
                  <li><a routerLink="/admin-panel/blogs"><i class="fa fa-rss"></i> Blogs</a></li>
                  <li><a routerLink="/admin-panel/blog-categories"><i class="fa fa-sitemap"></i> Blog Categories</a></li>
                  <li><a routerLink="/admin-panel/blog-comments"><i class="fa fa-comments"></i> Blogs Comments</a></li>
              </ul>
          </li>
          <li class="dropMenu">
              <a class="" href=""><i class="fa fa-sitemap"></i> Faq</a>
              <ul class="faqMenu">
                <li><a href="">Faqs</a></li>
                <li><a href="">Faq Categories</a></li>
              </ul>
          </li>
          <li>
              <a class="" href=""><i class="fa fa-commenting"></i> Packages</a>
          </li>
          <li>
              <a class="" href=""><i class="fa fa-question-circle"></i> Role</a>
          </li>
          <li>
              <a class="" href=""><i class="fa fa-question"></i> Discount</a>
          </li>
          
      </ul>

  </div>

</nav>