<div class="pageLoader" *ngIf="loader">
    <div class="loaderInner">
        <img src="../../../../../../assets/images/owl-loading.gif" alt="Loading...">
        <p class="loadingTxt">
            Please Wait
            <span></span>
            <span></span>
            <span></span>
        </p>
    </div>
</div>
<div class="body_container">
  <div class="wrapper">
    <div class="trending_main">
      <div class="trending_left">
        <ul class="trending_ul">
          <li *ngIf="totalBlog === 0">No posts found !</li>
          <li *ngFor="let blog of blogList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalBlog }">
            <a routerLink="/blogdetails/{{blog.slug}}" class="trending_img"><img src="{{imageLink}}{{blog.image}}" alt="{{blog.image}}"></a>
            <h1 class="news_heading">{{blog.title}}</h1>
            <ul class="trending_sub_left_ul">
              <li>
                <span class="news_owl"><img src="../../../../assets/images/news_owl.png" alt="error img"></span>
                <span class="by_simply_willed_text">By Simply<span>Willed</span></span>
              </li>
              <li>
                <span class="by_simply_willed_text">{{blog.created_at | date  }}</span>
              </li>
              <li>
                <span class="by_simply_willed_text">{{blog.get_comments.length}} comments</span>
              </li>
            </ul>
            <ul class="trending_right_ul">
                <li><a href="javascript:void(0)">Share:</a></li>
                <li><a href="https://twitter.com/share?url={{baseURL}}blogdetails/{{blog.slug}}" target="_blank" title="Twitter"><img src="../../../../assets/images/twitter-icon.png"></a></li>
                <li><a href="http://www.facebook.com/sharer.php?u={{baseURL}}blogdetails/{{blog.slug}}" target="_blank" title="Facebook"><img src="../../../../assets/images/facebook-icon.png"></a></li>
                <li><a href="https://plus.google.com/share?url={{baseURL}}blogdetails/{{blog.slug}}" target="_blank" title="Google-plus"><img src="../../../../assets/images/gplus-icon.png"></a></li>
                <li><a href="http://pinterest.com/pin/create/button/?url={{baseURL}}blogdetails/{{blog.slug}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i>
                </a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{baseURL}}blogdetails/{{blog.slug}}" target="_blank" title="Linkedin"><img src="../../../../assets/images/linkedin-icon.png"></a></li>
            </ul>
              <p class="legal_requirement" *ngIf="blog.excerpt !== null">{{blog.excerpt}}</p>
            <p class="legal_requirement" *ngIf="blog.excerpt === null" innerHTML="{{ blog.body | slice:0:650 }}"></p>
            <a class="btn-green" routerLink="/blogdetails/{{blog.slug}}" ><img src="../../../../assets/images/arrow-right.png"> Read More</a>
          </li>
        </ul>
        <pagination-controls class="older_post_text"
                             (pageChange)="changePage($event)"
                             previousLabel="NEWER POSTS"
                             nextLabel="OLDER POSTS"
                             screenReaderPaginationLabel="OLDER POSTS"
                             screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="trending_right_main">
        <h2 class="subscribe_text_main"><span class="subscribe_text">SUBSCRIBE</span></h2>
          <form novalidate [formGroup]="subscriberEmailForm" (ngSubmit)="onSubmit()">
              <div class="subscribe_form_main">
                  <input type="email" class="subscribe_mail" formControlName="subscriberEmail" placeholder="Your email address">
                  <div class="form-control-feedback"
                       *ngIf="subscriberEmail.errors && (subscriberEmail.dirty || subscriberEmail.touched)">
                      <p *ngIf="subscriberEmail.errors">The email address must contain at least the @ character</p>
                  </div>
                  <input type="submit" class="btn-green" value="Subscribe">
              </div>
        </form>
        <h2 class="subscribe_text_main"><span class="subscribe_text">CATEGORIES</span></h2>
        <span *ngIf="!blogCategoryList.length">No category found !</span>
        <ul class="cat_ul" *ngFor="let category of blogCategoryList">
          <li><a routerLink="/category/{{category.slug}}">{{category.name}} <span> ({{category.blogCount}})</span></a></li>
        </ul>
        <h2 class="subscribe_text_main"><span class="subscribe_text">POPULAR POSTS </span></h2>
        <ul class="post_ul">
          <li *ngIf="!popularBlogPost.length">No popular post found !</li>
            <li *ngFor="let popularPost of popularBlogPost">
                <a routerLink="/blogdetails/{{popularPost.slug}}" class="post_img"><img src="{{imageLink}}{{popularPost.image}}"></a>
                <div class="post_right_main">
                    <a routerLink="/blogdetails/{{popularPost.slug}}" class="post_heading">{{popularPost.title}}</a>
                    <h4 class="healthcare_text">{{popularPost.categoryNames}}</h4>
                </div>
            </li>
        </ul>
          <h2 class="subscribe_text_main"><span class="subscribe_text">RECENT POSTS </span></h2>
          <ul class="post_ul">
            <li *ngIf="!recentBlogPost.length">No recent post found !</li>
              <li *ngFor="let popularPost of recentBlogPost">
                  <a routerLink="/blogdetails/{{popularPost.slug}}" class="post_img"><img src="{{imageLink}}{{popularPost.image}}"></a>
                  <div class="post_right_main">
                      <a routerLink="/blogdetails/{{popularPost.slug}}" class="post_heading">{{popularPost.title}}</a>
                      <h4 class="healthcare_text">{{popularPost.categoryNames}}</h4>
                  </div>
              </li>
          </ul>

      </div>
    </div>
  </div>
  <div class="about_sec4">
    <div class="wrapper">
      <h1 class="about_state_planning_text">Estate Planning Made Simple &amp; Affordable.</h1>
      <h4 class="select_plan">Get started now and keep your loved ones safe!</h4>
      <button class="btn-green aboutGetStarted" type="button" routerLink="/register"><img src="../../../../assets/images/arrow-right.png"> Get Started</button>
    </div>
  </div>
</div>