<div class='finances'>
    <form [formGroup] = "poaDetailsForm" (ngSubmit)="send()">
      <div class="main-content tellusaboutyou" >
        <h2>Power of attorney details</h2>
        <!-- <app-fianance [data]="poaDetailsForm.get('attorney_holders')"></app-fianance> -->

        <div>
            <div class="form-group" [ngClass]='{"valid": poaDetailsForm.get("fullname").touched && poaDetailsForm.get("fullname").dirty && !poaDetailsForm.get("fullname").hasError("required") && !poaDetailsForm.get("fullname").hasError("pattern")}'>
              <label>What is their full legal name? </label>
              <input
                      type="text"
                      class="form-control"
                      formControlName="fullname"
                      required
                      [ngClass]='{"error_input": poaDetailsForm.get("fullname").touched && poaDetailsForm.get("fullname").dirty && (poaDetailsForm.get("fullname").hasError("required") || poaDetailsForm.get("fullname").hasError("pattern"))}'
                      name ='fullname'>
                      <i
                        *ngIf="poaDetailsForm.get('fullname').touched && poaDetailsForm.get('fullname').dirty && !poaDetailsForm.get('fullname').hasError('required') && !poaDetailsForm.get('fullname').hasError('pattern')"
                        class="fa fa-check"
                      ></i>
                     <i class="fa fa-times" *ngIf="poaDetailsForm.get('fullname').touched && poaDetailsForm.get('fullname').dirty && (poaDetailsForm.get('fullname').hasError('required') || poaDetailsForm.get('fullname').hasError('pattern'))"></i>

              <span class="error_txt"
                    *ngIf="poaDetailsForm.get('fullname').touched && poaDetailsForm.get('fullname').dirty && poaDetailsForm.get('fullname').hasError('required')">
                    Full name is required
              </span>

              <span class="error_txt"
                    *ngIf="poaDetailsForm.get('fullname').touched && poaDetailsForm.get('fullname').dirty && poaDetailsForm.get('fullname').hasError('pattern')">
                    Please enter a properly capitalized first power attorney name
              </span>
            </div>


            <div class="form-group" [ngClass]='{"valid": poaDetailsForm.get("address").touched && poaDetailsForm.get("address").dirty && !poaDetailsForm.get("address").hasError("required")}'>
              <label>What is their address? </label>
              <input
                      type="text"
                      class="form-control"
                      formControlName="address"
                      required
                      [ngClass]='{"error_input": poaDetailsForm.get("address").touched && poaDetailsForm.get("address").dirty && poaDetailsForm.get("address").hasError("required")}'
                      name ='address'>
                      <i
                        *ngIf="poaDetailsForm.get('address').touched && poaDetailsForm.get('address').dirty && !poaDetailsForm.get('address').hasError('required')"
                        class="fa fa-check"
                      ></i>
                    <i class="fa fa-times" *ngIf="poaDetailsForm.get('address').touched && poaDetailsForm.get('address').dirty && poaDetailsForm.get('address').hasError('required')"></i>

              <span class="error_txt"
                    *ngIf="poaDetailsForm.get('address').touched && poaDetailsForm.get('address').dirty && poaDetailsForm.get('address').hasError('required')">
                    Please enter first power attorney address
              </span>
            </div>


            <div
              class="form-group"
              [ngClass]='{"valid": poaDetailsForm.get("phone").touched && poaDetailsForm.get("phone").dirty && !poaDetailsForm.get("phone").hasError("required") && !poaDetailsForm.get("phone").hasError("minlength")}'
            >
              <label>What is phone number? </label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                [ngClass]='{"error_input": poaDetailsForm.get("phone").touched && poaDetailsForm.get("phone").dirty && (poaDetailsForm.get("phone").hasError("required") || poaDetailsForm.get("phone").hasError("minlength"))}'
                #phone
                mask="(000)-000-0000"
                placeholder="(xxx)-xxx-xxxx"
                name ='phone'>
                <i class="fa fa-check" *ngIf="poaDetailsForm.get('phone').touched && poaDetailsForm.get('phone').dirty && (!poaDetailsForm.get('phone').hasError('required') && !poaDetailsForm.get('phone').hasError('minlength'))"></i>
                <i class="fa fa-times" *ngIf="poaDetailsForm.get('phone').touched && poaDetailsForm.get('phone').dirty && (poaDetailsForm.get('phone').hasError('required') || poaDetailsForm.get('phone').hasError('minlength'))"></i>

                <span class="error_txt"
                  *ngIf="poaDetailsForm.get('phone').touched && poaDetailsForm.get('phone').dirty && poaDetailsForm.get('phone').hasError('required')">
                    Please enter first power attorney phone
                </span>

                <span class="error_txt"
                    *ngIf="poaDetailsForm.get('phone').touched && poaDetailsForm.get('phone').dirty && poaDetailsForm.get('phone').hasError('minlength')">
                    Please provide a  first power attorney phone
                </span>
            </div>


            <div class="form-group valid">
                <label>Beneficiary's relationship to you?</label>
                <span class="drop_down" style="margin-bottom:20px;">
                    <select class="beneficiary_relationship_dropdown" #selectRelationship (change)="relationshipChange('relationship',selectRelationship.value)" formControlName="relationship">
                        <option value="">Select Relationship</option>
                        <option value="Wife">Wife</option>
                        <option value="Husband">Husband</option>
                        <option value="Mother">Mother</option>
                        <option value="Father">Father</option>
                        <option value="Son">Son</option>
                        <option value="Daughter">Daughter</option>
                        <option value="Sister">Sister</option>
                        <option value="Brother">Brother</option>
                        <option value="Aunt">Aunt</option>
                        <option value="Uncle">Uncle</option>
                        <option value="Cousin">Cousin</option>
                        <option value="Friend">Friend</option>
                        <option value="Other">Other</option>
                     </select>
                </span>
            </div>

            <div class="form-group" *ngIf="poaDetailsForm.get('relationship').value == 'Other'">
                <label>Mention your relationship </label>
                <input
                        type="text"
                        class="form-control"
                        formControlName="other_relationship"
                        required
                        name ='other_relationship'>
            </div>

            <div class="form-group">
              <label>Would you like to inform this person that you appointed them as your Financial Power of Attorney?</label>
              <ul class="radio_ul6">
                <li>
                  <label class="radio_custom" [ngClass]='{active: (poaDetailsForm.get("is_inform").value === 1)}'>
                    <input type="radio" #isInformYes value=1 (click)="changeMe('is_inform', 1)">
                    <span class="human_status">Yes</span>
                  </label>
                </li>
                <li>
                  <label class="radio_custom" [ngClass]='{active: (poaDetailsForm.get("is_inform").value === 0)}'>
                    <input type="radio" #isInformNo value=0 (click)="changeMe('is_inform', 0)">
                    <span class="human_status">No</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="form-group valid" *ngIf='poaDetailsForm.get("is_inform").value === 1'>
              <label>What is their email address?</label>
              <input
                    type = "text"
                    class = "form-control"
                    required
                    name ='email'
                    formControlName = "email">
              <i class="fa fa-check"></i>
            </div>

          </div>


          <div class="form-group valid">
            <label>Do you need to provide a backup Financial Power of Attorney?</label>
              <ul class="radio_ul6">
                  <li>
                    <label class="radio_custom" [ngClass]='{active: (poaDetailsForm.get("is_backupattorney").value == 1)}'>
                      <input type="radio" required="true" value=1 (click)="changeMe('is_backupattorney', 1)">
                      <span class="human_status">Yes</span>
                    </label>
                  </li>
                  <li>
                    <label class="radio_custom" [ngClass]='{active: (poaDetailsForm.get("is_backupattorney").value == 0)}'>
                      <input type="radio" required="true" value=0 (click)="changeMe('is_backupattorney', 0)">
                      <span class="human_status">No</span>
                    </label>
                  </li>
              </ul>
          </div>

        <div *ngIf='poaDetailsForm.get("is_backupattorney").value == 1'>
          <h2>Backup Power of attorney details</h2>
          <!-- <app-fianance></app-fianance> -->
          <div>
              <div class="form-group" [ngClass]='{"valid": poaDetailsForm.get("backup_fullname").touched && poaDetailsForm.get("backup_fullname").dirty && !poaDetailsForm.get("backup_fullname").hasError("required") && !poaDetailsForm.get("backup_fullname").hasError("pattern")}'>
                <label>What is their full legal name? </label>
                <input
                        type="text"
                        class="form-control"
                        formControlName="backup_fullname"
                        required
                        name ='fullname'>
                        <i
                          *ngIf="poaDetailsForm.get('backup_fullname').touched && poaDetailsForm.get('backup_fullname').dirty && !poaDetailsForm.get('backup_fullname').hasError('required') && !poaDetailsForm.get('backup_fullname').hasError('pattern')"
                          class="fa fa-check"
                        ></i>
                        <i class="fa fa-times" *ngIf="poaDetailsForm.get('backup_fullname').touched && poaDetailsForm.get('backup_fullname').dirty && (poaDetailsForm.get('backup_fullname').hasError('required') || poaDetailsForm.get('backup_fullname').hasError('pattern'))"></i>

                <span class="error_txt"
                      *ngIf="poaDetailsForm.get('backup_fullname').touched && poaDetailsForm.get('backup_fullname').dirty && poaDetailsForm.get('backup_fullname').hasError('required')">
                    Full name is required
                </span>

                <span class="error_txt"
                      *ngIf="poaDetailsForm.get('backup_fullname').touched && poaDetailsForm.get('backup_fullname').dirty && poaDetailsForm.get('backup_fullname').hasError('pattern')">
                    Please enter a properly capitalized second power attorney name
                </span>
              </div>


              <div class="form-group" [ngClass]='{"valid": poaDetailsForm.get("backup_address").touched && poaDetailsForm.get("backup_address").dirty && !poaDetailsForm.get("backup_address").hasError("required")}'>
                <label>What is their address? </label>
                <input
                        type="text"
                        class="form-control"
                        formControlName="backup_address"
                        required
                        [ngClass]='{"error_input": poaDetailsForm.get("backup_address").touched && poaDetailsForm.get("backup_address").dirty && poaDetailsForm.get("backup_address").hasError("required")}'
                        name ='address'>
                      <i
                        *ngIf="poaDetailsForm.get('address').touched && poaDetailsForm.get('address').dirty && !poaDetailsForm.get('address').hasError('required')"
                        class="fa fa-check"
                      ></i>
                      <i class="fa fa-times" *ngIf="poaDetailsForm.get('address').touched && poaDetailsForm.get('address').dirty && poaDetailsForm.get('address').hasError('required')"></i>

                      <span class="error_txt"
                            *ngIf="poaDetailsForm.get('backup_address').touched && poaDetailsForm.get('backup_address').dirty && poaDetailsForm.get('backup_address').hasError('required')">
                          Please enter first power attorney address
                      </span>
              </div>


              <div class="form-group valid">
                <label>What is phone number? </label>
                <input
                        type="text"
                        class="form-control"
                        formControlName="backup_phone"
                        mask="(000)-000-0000"
                        placeholder="(xxx)-xxx-xxxx"
                        required
                        name ='phone'>
                        <i class="fa fa-check"></i>
              </div>

              <div class="form-group valid">
                  <label>Beneficiary's relationship to you?</label>
                  <span class="drop_down" style="margin-bottom:20px;">
                      <select class="beneficiary_relationship_dropdown" #selectBackupRelationship (change)="relationshipChange('backup_relationship', selectBackupRelationship.value)" formControlName="backup_relationship">
                          <option value="">Select Relationship</option>
                          <option value="Wife">Wife</option>
                          <option value="Husband">Husband</option>
                          <option value="Mother">Mother</option>
                          <option value="Father">Father</option>
                          <option value="Son">Son</option>
                          <option value="Daughter">Daughter</option>
                          <option value="Sister">Sister</option>
                          <option value="Brother">Brother</option>
                          <option value="Aunt">Aunt</option>
                          <option value="Uncle">Uncle</option>
                          <option value="Cousin">Cousin</option>
                          <option value="Friend">Friend</option>
                          <option value="Other">Other</option>
                       </select>
                  </span>
              </div>

              <div class="form-group valid" *ngIf="poaDetailsForm.get('backup_relationship').value == 'Other'">
                <label>Mention your relationship </label>
                <input
                        type="text"
                        class="form-control"
                        formControlName="backup_other_relationship"
                        required
                        name ='other_relationship'>
                        <i class="fa fa-check"></i>
              </div>

              <div class="form-group">
                <label>Would you like to inform this person that you appointed them as your Financial Power of Attorney?</label>
                <ul class="radio_ul6">
                  <li>
                    <label class="radio_custom" [ngClass]='{active: (poaDetailsForm.get("backup_is_inform").value === 1)}'>
                      <input type="radio" #isInformYes value=1 (click)="changeMe('backup_is_inform', 1)">
                      <span class="human_status">Yes</span>
                    </label>
                  </li>
                  <li>
                    <label class="radio_custom" [ngClass]='{active: (poaDetailsForm.get("backup_is_inform").value === 0)}'>
                      <input type="radio" #isInformNo value=0 (click)="changeMe('backup_is_inform', 0)">
                      <span class="human_status">No</span>
                    </label>
                  </li>
                </ul>
              </div>

              <div class="form-group valid" *ngIf='poaDetailsForm.get("backup_is_inform").value === 1'>
                <label>What is their email address?</label>
                <input
                      type = "text"
                      class = "form-control"
                      required
                      name ='email'
                      formControlName = "email">
                <i class="fa fa-check"></i>
              </div>

            </div>
        </div>

        <div class="form-footer">
          <button class="btn common-button btn-complete">Continue</button>
        </div>
      </div>
    </form>
</div>
