<div class="AboutUsBanner">
  <div class="wrapper">
      <h1>
          At SimplyWilled our mission is to make
          <span>estate planning simple and affordable for everyone.</span>
      </h1>
  </div>
</div>
<div class="body_container">
  <div class="about_sec1">
    <div class="wrapper">
      <h1 class="core_value_text">Core Values</h1>
      <div class="about_first_left_sec">
        <a href="#" class="have_q_btn2">Sustainability. <br>Community. <br>Diversity. </a>
      </div>
      <ul class="about_first_right_ul">
        <li>
          <span class="estate_planning_img"><img src="../../../../assets/images/estate-planing-img.png" alt="error img"></span>
          <div class="estate_planning_right_main">
            <h1>Estate planning should be Simple.</h1>
            <p>Through cutting edge technology, innovation and excellence, we strive to deliver the best online estate planning for our customers that is simple to do, simple to understand, simple to execute.</p>
          </div>
        </li>
        <li>
          <span class="estate_planning_img"><img src="../../../../assets/images/planning2.png" alt="error img"></span>
          <div class="estate_planning_right_main">
            <h1>Estate planning should be accessible to all people regardless of age, education, financial  status or native language.</h1>
            <p>Here at SimplyWilled.com we believe the ability to pass wealth from one generation to the next is a fundamental right that all people should enjoy. </p>
          </div>
        </li>
        <li>
          <span class="estate_planning_img"><img src="../../../../assets/images/customer.png" alt="error img"></span>
          <div class="estate_planning_right_main">
            <h1>Here at SimplyWilled.com. we are committed to our customers.</h1>
            <p>We are committed to building strong communities across the United States. Ten percent (10%) of all of SimplyWilled.com profits go to charities that support the less fortunate in the communities we serve.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about_sec2">
    <div class="wrapper">
      <h1 class="core_value_text">Our History</h1>
      <p class="our_history_pera">
        Consumers today are smarter, more sophisticated, and have more choices than ever before for their online DIY legal needs. Only a satisfied consumer can decide if they will be your customer for life. At SimplyWilled we believe that to be worthy of such commitment, we had go beyond traditional online DIY legal services, and offer the consumer something new, something smart, something that makes the consumer’s life Simple.</p>
      <p class="our_history_pera">
        “SimplyWilled.com offer consumers a new way of approaching online do it yourself estate planning. Our team recognized that most online platforms were either too basic or overly complicated. In contrast we setout to develop a solution that is simple to use but preserves the features that discerning consumers demand.” </p>
      <p class="our_history_pera">“We designed SimplyWilled as a simple to use, powerful, online estate planning system to empower individuals. It has been engineered from the ground up to make the online estate planning as simple and user friendly as possible, while retaining the flexibility and sophistication consumers demand in a way that exceeds customer expectations.” </p>
      <p class="our_history_pera">SimplyWilled.com extends the benefits of traditional online do it yourself estate planning by wrapping its capabilities in an online platform that is easy to access, easy to understand and easy for the customer to use.</p>
    </div>
  </div>
  <div class="about_sec3">
    <div class="wrapper">
      <h1 class="core_value_text">Our Team</h1>
      <ul class="about_team_ul">
        <li>
          <span class="team_pic"><img src="../../../../assets/images/valeria-edward.png" alt="imran khan"></span>
          <h3 class="team_name">Valerie Edwards</h3>
          <h4 class="team_descreption">General Counsel</h4>
        </li>
        <li>
          <span class="team_pic"><img src="../../../../assets/images/peter.png" alt="peter"></span>
          <h3 class="team_name">Peter Antonoplos</h3>
          <h4 class="team_descreption">CEO & Founder</h4>
        </li>
        <li>
          <span class="team_pic"><img src="../../../../assets/images/kandel.png" alt="Kendal"></span>
          <h3 class="team_name">Kendal Wilkinson</h3>
          <h4 class="team_descreption">Customer Relations</h4>
        </li>
        <li>
          <span class="team_pic"><img src="../../../../assets/images/mark-atalla.png" alt="Mark Atalla"></span>
          <h3 class="team_name">Mark Atalla</h3>
          <h4 class="team_descreption">Brand Development</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="about_sec4">
    <div class="wrapper">
      <h1 class="about_state_planning_text">Estate Planning Made Simple & Affordable.</h1>
      <h4 class="select_plan">Select your plan now and Keep your loved ones safe!</h4>
      <a href="#" class="aboutGetStarted"><i class="fa fa-chevron-right" aria-hidden="true"></i> Get Started</a>
    </div>
  </div>
</div>