<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div class="col-xs-12 col-md-12" *ngIf="!loading">
  <div class="main-content tellusaboutyou">
    <h2>Select your final arrangements
      <app-global-tooltip (click)="toolTipClicked('final_arrangement')" [tooltipMessages]='toolTipMessageList.final_arrangement' toolTipType="final_arrangement"></app-global-tooltip>
    </h2>
    <form [formGroup] = "finalarrangementForm">
      <div class="form-group">
        <ul class="Instructions_ul_Radio" style="margin-bottom:0">
          <li>
            <label class="two_child_radio special_instrucion" [ngClass]="{'active': flags.burial}">
              <span class="two_child_img"><img src="../../../../assets/images/Ground-Burial-2-01.png" alt="Ground-Burial"></span>
              <span class="two_child_text">I Wish to Be <br>Buried</span>
              <input type="radio" name="type" value = 0 formControlName="type" #typeBury (click)="changeWish(typeBury.value)">
            </label>
          </li>
          <li>
            <label class="two_child_radio special_instrucion" [ngClass]="{'active': flags.cremation}">
              <span class="two_child_img"><img src="../../../../assets/images/save-money.png" alt="save-money"></span>
              <span class="two_child_text">I Wish to Be <br>Cremated</span>
              <input type="radio" name="type" value = 1 formControlName="type" #typeCremate (click)="changeWish(typeCremate.value)">
            </label>
          </li>
          <li>
            <label class="two_child_radio special_instrucion" [ngClass]="{'active': flags.someOtherWay}">
              <span class="two_child_img"><img src="../../../../assets/images/hippa.png" alt="some-other-ways"></span>
              <span class="two_child_text">Some Other <br>Way</span>
              <input type="radio" name="type" value = 2 formControlName="type" #typeSomeOtherWay (click)="changeWish(typeSomeOtherWay.value)">
            </label>
          </li>
        </ul>
      </div>
      <div *ngIf="flags.burial">
        <div class="form-group">
          <label>I would like my remains interred as follows: <span class="leavetxt"></span></label>
          <input type="text" class="form-control" formControlName="burial" placeholder="If you are not sure, leave this box blank">
        </div>
        <div class="form-group">
          <label>I have made the following final arrangements: <span class="leavetxt"></span></label>
          <input type="text" class="form-control" formControlName="burial_arrangements" placeholder="If you are not sure, leave this box blank">
        </div>
      </div>

      <div *ngIf="flags.cremation">
        <div class="form-group" >
          <label>How would you like your ashes handled? <span class="leavetxt"></span></label>
          <input type="text" class="form-control" formControlName="ashes" placeholder="If you are not sure, leave this box blank">
        </div>
        <div class="form-group">
          <label>I have made the following final arrangements: <span class="leavetxt"></span></label>
          <input type="text" class="form-control" formControlName="creamation_arrangements" placeholder="If you are not sure, leave this box blank">
        </div>
      </div>

      <div *ngIf="flags.someOtherWay">
        <div class="form-group" >
          <label>Otherwise :<span class="leavetxt"></span></label>
          <textarea class="form-control" formControlName="some_other_way" placeholder="If you are not sure, leave this box blank"></textarea>
        </div>
      </div>

      <div class="form-footer">
        <div class="alert alert-danger" *ngIf="errors.errorFlag">
          {{errors.errorMessage}}
        </div>
        <button class="btn common-button btn-grey pull-left" (click)="goBack()" >Go Back</button>
        <button class="btn common-button btn-complete" (click) = "submit()">Continue</button>
      </div>
    </form>
  </div>
</div>
