
    <!-- <div class="slider">
        <img src="../../../../assets/images/faq-banner.png">
        <img src="../../../../assets/images/faq-mobile-banner.png" class="mobile-banner">
        <h1>Welcome to the SimplyWilled library, <span>your free learning resource center.</span></h1>
    </div> -->
    <div class="body_container faq">
    	<div class="about_sec1">
        	<div class="wrapper text-center">
            	<form id="faqSearch" #form="ngForm" (ngSubmit)="onSubmit(form)">
                        <input type="text" placeholder="Write your question here" name="search" ngModel #search=ngModel class="form-control">
                        <button class="btn-green" type='submit' ><img src="../../../../assets/images/arrow-right.png" > Ask the Owl!</button>    
                </form>
                    
                <div class="accordion">
                    <div class="sidebar-left">
                        <h2>Topic</h2>
                        <ul>
                            <li *ngFor="let faq of faqData; let i = index" 
                                (click)="getQuestions(faqData,i)" 
                                [ngClass] = "{active: counter == i}">
                                    {{ faq.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="main-content">
                        <div class="each-statement" *ngFor="let eachFaq of faqDetails; let i = index" [ngClass] = "{active: innerCounter == i}">
                            <div (click)="showOrHideAnswers(eachFaq,i)" class="statement">
                                <span class="plus">
                                    <img src="../../../../assets/images/plus.png">
                                </span>
                                <span class="minus">
                                    <img src="../../../../assets/images/minus.png">
                                </span>
                                <p>{{eachFaq.question}}</p>
                            </div>
                            <p>{{eachFaq.answer}}</p>
                        </div>
                    </div>
                </div>

                <div class="accordion accordion-mobile">
                    <div class="sidebar-left">
                        <h2>Topic</h2>
                        <ul>
                            <li *ngFor="let faq of faqData; let i = index" 
                                (click)="getQuestions(faqData,i)" 
                                [ngClass] = "{active: counter == i}">
                                    <span>{{ faq.name }}</span>
                                    <div class="open-accordion">
                                        <div (click)="showOrHideAnswers(eachFaq,j)" class="each-statement"  *ngFor="let eachFaq of faqDetails; let j = index" [ngClass] = "{active: innerCounter == j}">
                                            <div class="statement">
                                                <span class="plus">
                                                    <img src="../../../../assets/images/plus.png">
                                                </span>
                                                <span class="minus">
                                                    <img src="../../../../assets/images/minus.png">
                                                </span>
                                                <p>{{eachFaq.question}}</p>
                                            </div>
                                            <p>{{eachFaq.answer}}</p>
                                        </div>    
                                    </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
            <div class="estate-planning">
                <div class="wrapper text-center">
                    <h2>estate planning made simple & affordable.</h2>
                    <p>Select your plan now and keep your loved ones safe!</p>
                    <button class="btn-green" type="button"><img src="../../../../assets/images/arrow-right.png"> get started</button>
                </div>
            </div>
        </div>
    </div>
    
