.sidebar-left h2{
    margin-bottom: 0;
}
.faqName{
    display: block;
}
.accordion-mobile li{
    padding: 0 16px;
}
.accordion-mobile li .open-accordion{
    display: none;
}
.accordion-mobile li.active .open-accordion{
    display: block;
}
.accordion-mobile .statement{
    margin-bottom: 0;
}
.each-statement.active p{
    padding: 10px;
}
.each-statement .statement p{
    margin: 16px 0 !important;
    padding: 10px;
    width: calc(100% - 65px);
    float: right;
}
.accordion-mobile .each-statement .statement p{
    margin:  0 !important;
    padding: 0;
}
.statement{
    position: relative;
}
.each-statement .plus, .each-statement .minus{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.each-statement .plus img, .each-statement .minus img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


@media screen and (max-width: 767px){
   .inner-banner h1 span{
        display: inline !important;
    } 
    .accordion-mobile .sidebar-left ul li span.plus, .accordion-mobile .sidebar-left ul li span.minus{
        position: absolute !important;
        height: 100%;
    }
    .accordion-mobile .each-statement .statement p {
        width: calc(100% - 45px);
        float: right;
    }
    .accordion-mobile .statement{
        padding: 15px 10px;
    }
}
@media screen and (max-width: 400px){
    .inner-banner h1{
         font-size: 30px !important;
     } 
 }
