
    <div class="body_container faq">
    	<div class="about_sec1">
        	<div class="wrapper text-center">
            	<form>
                    <input type="text" placeholder="Write your question here">
                    <button class="btn-green"><img src="../../../../assets/images/arrow-right.png"> Ask the Owl!</button>
                </form>
                <div class="accordion">
                    <div class="sidebar-left">
                        <h2>Topic</h2>
                        <ul>
                            <li>General</li>
                            <li>Pricing</li>
                            <li class="active">Wills & Trust</li>
                            <li>Protect Your Family</li>
                            <li>Provide for Your Loved Ones</li>
                            <li>Make Final Arrangements</li>
                            <li>Plan for a Medical Emergency</li>
                        </ul>
                    </div>
                    <div class="main-content">
                        <div class="each-statement">
                            <div class="statement">
                                <span class="plus"><img src="../../../../assets/images/plus.png"></span><span class="minus"><img src="../../../../assets/images/minus.png"></span>
                                <p>What is the difference between a “Last Will and Testament” and a “Living Revocable Trust”</p>
                            </div>
                            <p>Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their </p>
                        </div>
                        <div class="each-statement">
                            <div class="statement">
                                <span class="plus"><img src="../../../../assets/images/plus.png"></span><span class="minus"><img src="../../../../assets/images/minus.png"></span>
                                <p>What is the difference between a “Last Will and Testament” and a “Living Revocable Trust”</p>
                            </div>
                            <p>Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their </p>
                        </div>
                        <div class="each-statement active">
                            <div class="statement">
                                <span class="plus"><img src="../../../../assets/images/plus.png"></span><span class="minus"><img src="../../../../assets/images/minus.png"></span>
                                <p>What is the difference between a “Last Will and Testament” and a “Living Revocable Trust”</p>
                            </div>
                            <p>Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their </p>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-mobile">
                    <div class="sidebar-left">
                        <h2>Topic</h2>
                        <ul>
                            <li>General</li>
                            <li>Pricing</li>
                            <li class="active">
                                <span>Wills & Trust</span>
                                <div class="open-accordion">
                                    <div class="each-statement">
                                        <div class="statement">
                                            <span class="plus"><img src="../../../../assets/images/plus.png"></span><span class="minus"><img src="../../../../assets/images/minus.png"></span>
                                            <p>What is the difference between a “Last Will and Testament” and a “Living Revocable Trust”</p>
                                        </div>
                                        <p>Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their </p>
                                    </div>
                                    <div class="each-statement">
                                        <div class="statement">
                                            <span class="plus"><img src="../../../../assets/images/plus.png"></span><span class="minus"><img src="../../../../assets/images/minus.png"></span>
                                            <p>What is the difference between a “Last Will and Testament” and a “Living Revocable Trust”</p>
                                        </div>
                                        <p>Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their </p>
                                    </div>
                                    <div class="each-statement active">
                                        <div class="statement">
                                            <span class="plus"><img src="../../../../assets/images/plus.png"></span><span class="minus"><img src="../../../../assets/images/minus.png"></span>
                                            <p>What is the difference between a “Last Will and Testament” and a “Living Revocable Trust”</p>
                                        </div>
                                        <p>Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their Here at SimplyWilled.com we believe everyone should have their </p>
                                    </div>
                                </div>
                            </li>
                            <li>Protect Your Family</li>
                            <li>Provide for Your Loved Ones</li>
                            <li>Make Final Arrangements</li>
                            <li>Plan for a Medical Emergency</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="estate-planning">
                <div class="wrapper text-center">
                    <h2>estate planning made simple & affordable.</h2>
                    <p>Select your plan now and keep your loved ones safe!</p>
                    <button class="btn-green" type="button"><img src="../../../../assets/images/arrow-right.png"> get started</button>
                </div>
            </div>
        </div>
    </div>
    
