/****************FAQ*********************/

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../../../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('../../../assets/fonts/OpenSans-Light.woff') format('woff'), url('../../../assets/fonts/OpenSans-Light.ttf')  format('truetype'), url('../../../assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .inner-banner img{
      display: block;
      width: 100%;
  }
  .inner-banner img.mobile-banner{
      display: none;
  }
  .inner-banner .slider{
      position: relative;
  }
  .inner-banner .slider h1{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
      color: #fff;
      font-size: 48px;
      text-align: center;
      width: 90%;
  }
  .inner-banner .slider h1 span{
      display: block;
      font-size: 36px;
  }
  .faq form{
      display: inline-block;
      margin: 70px 0;
      text-align: center;
      width: 42%;
      position: relative;
  }
  .faq form input{
      border: 1px solid #ccc;
      border-radius: 10px;
      display: inline-block;
      width: 100%;
      height: 70px;
      padding: 10px 15px;
      font-size: 22px;
      font-family: 'OpenSans-Light';
      letter-spacing: -1px;
      font-style: italic;
  }
  .faq form button{
      height: 60px;
      padding: 0 30px;
      font-size: 24px;
      border-radius: 10px;
      position: absolute;
      right: 5px;
      top: 5px;
      text-shadow: 1px 1px 1px #333;
  }
  .text-center{
      text-align: center;
  }
  .faq .accordion{
      text-align: left;
  }
  .sidebar-left{
      float: left;
      width: 22%;
  }
  .sidebar-left h2{
      background: #f2f2f2;
      font-size: 50px;
      padding: 10px 20px;
      color: #1376BB;
  }
  .sidebar-left ul li{
      border: 1px solid #f2f2f2;
      padding: 16px 20px;
      color: #333;
      border-top: 0;
      cursor: pointer;
  }
  .sidebar-left ul li.active, .sidebar-left ul li:hover{
      color: #fff;
      background: #1376BB;
      position: relative;
  }
  .sidebar-left ul li.active:before, .sidebar-left ul li:hover:before{
      content: '';
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #2776bb;
      position: absolute;
      right: -12px;
      top: 16px;
  }
  .main-content{
      float: left;
      width: 70%;
      margin-left: 80px;
  }
  .each-statement{
      color: #333;
  }
  .accordion{
      display: block;
  }
  .accordion.accordion-mobile{
      display: none;
  }
  .statement{
      border: 1px solid #f2f2f2;
      cursor: pointer;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
  }
  .each-statement .plus{
      background: #1376BB;
      color: #fff;
      display: inline-block !important;
      text-align: center;
      margin-right: 10px;
      vertical-align: top;
      padding: 25px 15px !important;
  }
  .each-statement .minus{
      display: none  !important;
      background: #f2f2f2 !important;
      color: #1376BB  !important;
      text-align: center;
      margin-right: 10px;
      vertical-align: top;
      padding: 25px 15px !important;
  }
  .each-statement.active .statement{
      color: #1376BB;
  }
  .each-statement .statement p{
      display: inline-block;
      margin: 24px 0;
  }
  .each-statement p{
      display: none;
  }
  .each-statement.active .plus{
      display: none !important;
  }
  .each-statement.active .minus{
      display: inline-block !important;
  }
  .each-statement .plus:before, .each-statement .minus:before{
      display: none !important;
  }
  .each-statement.active p{
      display: inline-block;
  }
  .btn-green{
      font-family: 'OpenSans-Semibold';
      background: url('../../../assets/images/btn-green.png') no-repeat;
      background-size: 100% 100%;
      border: none;
      color: #fff;
      height: 60px;
      padding: 0 30px;
      font-size: 24px;
      border-radius: 10px;
      text-shadow: 1px 1px 1px #555;
      text-transform: capitalize;
      cursor: pointer;
  }
  .btn-green img{
      vertical-align:middle;
  } 
  .clear{
      display: inline-block;
      width: 100%;
  }
  .estate-planning{
      background: url('../../../assets/images/about-state-bg.png') no-repeat top center;
      background-size: cover;
      padding: 200px 0 100px;
      color: #fff;
      position: relative;
  }
  .estate-planning h2{
      font-size: 45px;
      text-transform: capitalize;
      text-shadow: 1px 1px 1px #666;
  }
  .estate-planning .btn-green{
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%,0);
      border: 3px solid #fff;
      text-shadow: 1px 1px 1px #333;
      text-transform: capitalize;
      box-shadow: inset 0px 1px 1px 0px #338425;
      height: 65px;
      padding: 0 20px; 
  }
  
  .news_heading {
      font-family: 'OpenSans';
  }
  .by_simply_willed_text, .legal_requirement, .subscribe_text, .cat_ul li a,.post_heading, .will_descreption, .testamentary_pera,.agree_to_be_responsible, .wishes_text, .email_text, .by_clicking_btn, .by_clicking_btn a, .already_account{
      color: #333;
      display: block;
  }
  .cat_ul li a span {
      color: #333;
  }
  .cat_ul li.active a{
      color: #1376bb;
  }
  .trending_right_ul > li {
      margin-left: 12px;
  }
  .trending_right_ul > li > a {
      color: #b9b8b9;
  }
  .trending_ul .btn-green{
      float: left;
      padding: 14px 20px;
      font-size: 20px;
      height: auto;
  }
  .subscribe_form_main .btn-green{
      background: url('../../../assets/images/btn-green-subscribe.png') no-repeat;
      background-size: 100% 100%;
      width: 100%;
      font-size: 20px;
      height: auto;
      padding: 8px;
  }
  .subscribe_mail {
      font-family: 'OpenSans-Light';
      color: #333;
      padding: 8px 10px;
      border-radius: 7px;
      margin-bottom: 10px;
  }
  
  .trending_left {
      width: 70%;
  }
  .trending_right_main {
      width: 23%;
  }
  .subscribe_text {
      font-size: 22px;
      letter-spacing: 1px;
  }
  .trending_sub_left_ul li:first-child .by_simply_willed_text, .trending_sub_left_ul li:last-child .by_simply_willed_text {
      text-decoration: none; 
      border-bottom: 1px solid #ccc;
  }
  .trending_sub_left_ul > li:nth-child(2) .by_simply_willed_text {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding: 0 15px;
      margin-top: 7px;
  }
  .why_do_need_will, .whats_will_text {
      color: #1376bb;
      font-family: 'OpenSans';
  }
  .executer_ul li {
      color: #000;
      margin-bottom: 7px;
  }
  .testamentary_will{
      font-family: 'OpenSans-Semibold';
  }
  .about_sec4{
      position: relative;
  }
  .about_sec4 .btn-green{
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%,0);
      border: 3px solid #fff;
      text-shadow: 1px 1px 1px #333;
      text-transform: capitalize;
      box-shadow: inset 0px 1px 1px 0px #338425;
      height: 65px;
      padding: 0 20px; 
  }
  .relative{
      position: relative;
      display: inline-block;
      width: 100%;
  }
  .confirmed_text, .email_text, .last_will_text, .have_ques_text{
      font-family: 'OpenSans';
  }
  .email_text a{
      font-family: 'OpenSans-Semibold';
  }
  .desktop-visible{
      display: block;
  }
  .mobile-visible{
      display: none;
      text-align: center;
      margin: 20px 0;
  }
  @media screen and (max-width: 1199px) {
      .inner-banner .slider h1 {
          font-size: 35px;
      }
      .inner-banner .slider h1 span {
          display: block;
          font-size: 24px;
      }
      .faq form {
          width: 70%;
      }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
      .sidebar-left h2 {
          font-size: 40px;
      }
      .main-content {
          width: 70%;
          margin-left: 50px;
      }
      .each-statement {
          font-size: 14px;
      }
      .each-statement .plus,.each-statement.active .minus {
          margin-right: 5px;
          padding: 20px 10px;
      }
  }
  
  @media screen and (max-width: 991px) {
      .sidebar-left {
          width: 100%;
      }
      .main-content {
          width: 100%;
          margin-left: 0;
          margin-top: 20px;
      }
      .sidebar-left h2 {
          font-size: 35px;
      }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
      .trending_left {
          width: 60%;
      }
      .trending_right_main {
          width: 33%;
      }
  }
  
  @media screen and (max-width: 767px) {
      .sidebar-left ul li {
          text-align: center;
      }
      .inner-banner img{
          display: none;
      }
      .inner-banner img.mobile-banner{
          display: block;
      }
      .inner-banner .slider h1, .inner-banner .slider h1 span  {
          font-size: 34px;
      }
      .sidebar-left h2 {
          font-size: 40px;
          text-align: center;
      }
      .faq form {
          width: 100%;    
          margin: 20px 0;
      }
      .faq form button {
          padding: 0 10px;
          font-size: 16px;
          height: 45px;
      }
      .faq form input {
          height: 55px;
          font-size: 13px;
          padding: 10px 5px;
      }
      .estate-planning h2 {
          font-size: 30px;
      }
      .btn-green {
          font-size: 16px;
      }
      .estate-planning .btn-green {
          height: 55px;
      }
      .estate-planning {
          padding: 150px 0 50px;
      }
      .accordion{
          display: none;
      }
      .sidebar-left ul li.active:before, .sidebar-left ul li:hover:before{
          display: none;
      }
      .accordion.accordion-mobile{
          display: block;
      }
      .accordion.accordion-mobile .sidebar-left ul li.active, .accordion.accordion-mobile .sidebar-left ul li:hover{
          background: none;
      }
      .accordion-mobile .sidebar-left ul li.active span, .accordion-mobile .sidebar-left ul li:hover span{
          color: #fff;
          background: #1376BB;
          position: relative;
          display: block;
          padding: 16px 20px;
          margin-bottom: 20px;
      }
      .accordion-mobile .sidebar-left ul li.active span:before, .accordion-mobile .sidebar-left ul li:hover span:before{
          content: '';
          border-top: 12px solid #2776bb;
          border-bottom: 12px solid transparent;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          right: auto;
          top: auto;
          bottom: -24px;
          position: absolute;
          transform: translate(-50%,0);
          left: 50%;
      }
      .each-statement .plus, .each-statement .minus {
          padding: 12px 6px !important;
          float: left;
          margin-bottom: 0 !important;
          width: 45px;
          height: 100%;
      }
      .each-statement .statement p{
          font-size: 14px;
          width: 85%;
          margin: 0;
          text-align: left;
          float: left;
          padding-top: 5px;
      }
      .each-statement.active p {
          text-align: left;
      }
      .sidebar-left ul li {
          padding: 16px 0;
      }
      .trending_left, .trending_right_main  {
          width: 100%;
      }
      .trending_ul > li{
          position: relative;
      }
      .trending_right_ul{
          position: absolute;
          float: none;
          width: auto;
          right: 0;
          bottom: 5px;
      }
      .trending_right_ul > li:first-child a {
          font-size: 12px;
      }
      .trending_right_ul > li {
          margin-left: 7px;
      }
      .trending_ul .btn-green {
          padding: 10px 15px;
          font-size: 16px;
      }
      .btn-green img {
          width: 10px;
      }
      .trending_sub_left_ul > li{
          width: auto !important;
          margin-left: 7px !important;
      }
      .by_simply_willed_text {
          font-size: 11px;
          padding-top: 7px !important;
      }
      .trending_sub_left_ul > li:nth-child(2) .by_simply_willed_text{
          margin-top: 0;
      }
      .older_post_text{
          float: none;
      }
      .about_sec4 {
          background: url('../../../assets/images/about-state-bg.png') no-repeat center;
          background-size: cover;
          padding: 100px 0 0;
      }
      .relative .trending_right_ul {
          left: 0;
      }
      .confirm_left {
          text-align: center;
      }
      .form_heading {
          font-size: 35px;
      }
      .desktop-visible{
          display: none;
      }
      .mobile-visible{
          display: inline-block;
          width: 100%;
      }
  }
  
  @media screen and (min-width: 481px) and (max-width: 767px) {
  }
  
  @media screen and (max-width: 480px) {
      .each-statement .plus, .each-statement .minus {
          margin-right: 5px;
          padding: 5px;
      }
      .each-statement .statement p {
          font-size: 12px;
          width: 80%;
      }
      .each-statement .plus, .each-statement .minus {
          width: 36px;
      }
      .each-statement.active p {
          font-size: 12px;
      }
  }