<header class="header_container">
  <div class="header_first_sec">
      <div class="wrapper">
          <a href="#" class="logo"><img src="" alt="logo"></a>
            <span class="menu"><i class="fa fa-bars" aria-hidden="true"></i> Menu</span>
            <ul class="navigation">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/terms-of-use">Tears Of Use </a></li>
                <li><a routerLink="/terms-of-service">Terms Of Service</a></li>
                <li><a routerLink="/privacy-policy">Privacy Pilicy</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </div>
    
</header>