<!--If any gift show here start-->
<div class="pageLoader" *ngIf="loading">
  <div class="loaderInner">
    <img src="../../../../assets/images/owl-loading.gif" alt="Loading...">
    <p class="loadingTxt">
      Please Wait
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</div>

<div *ngIf="!loading" >
<div class="row" *ngIf="!onNewModule">
  <div class="main-content tellusaboutyou">
    <div class="col-md-12 col-sm-12 col-xs-12 giftSec" *ngFor="let each_gift of giftResp; let i= index">
      
      <div class="individualGifts">
        <h2 class="singing_instruction3">Gift <span class="gift_list_number">{{i+1}}</span></h2>
        <div class="gift_text_content">
          <div class="gift_text">
            <app-my-gift-text [dataSet]="each_gift"></app-my-gift-text>
          </div>
          <ul class="back_next_btn_ul" style="margin:20px 0 10px;">
            <li><a href="javascript:void(0)" class="gift_remove_form" (click)="deleteGift(each_gift.id)">Remove</a></li>
            <li><a href="javascript:void(0)" class="gift_edit_form" (click)="editGift(each_gift)">Edit</a></li>
          </ul>
        </div>
      </div>
      <!-- Charity Gifts -->
    </div>
    <span class="add_another_btn3" id="another_gift_add" style="">
      <a (click)="showAddGiftSection()" *ngIf="!showAddGift">+ Add Another Gift</a>
    </span>
  </div>
  
  <div class="form-footer" *ngIf="!showAddGift">
    <a routerLink="/dashboard/personal-property-distributed" class="btn common-button btn-grey pull-left">Go Back</a>
    <a routerLink="/dashboard/your-estate-distributed" class="btn common-button btn-complete">Next</a>
  </div>
</div>
<!--If any gift show here end-->
<!--make decision which view to open-->
<div id="gift_packages" *ngIf="showAddGift">
  <div class="main-content tellusaboutyou main-content-bottom">
    <h2 class="singing_instruction3" style="text-align: left; padding: 0 0 30px 9px;">
      Types Of Gifts
      <app-global-tooltip (click)="toolTipClicked('gift_type')" [tooltipMessages]='toolTipMessageList.gift_type' toolTipType="gift_type"></app-global-tooltip>
    </h2>
   
      <label class="questions_gift">
        What types of Gifts would you like to make?
      </label>
    
    <ul class="radio_ul5">
      <li>
        <label class="radio_custom gift_type_radio" (click)="openModule('_ca')">
          <!--<input type="radio" name="gift_type" value="Cash">-->
          <span class="custom_img4"><img src="../../../../assets/images/cash.png" alt="Cash"></span>
          <span class="human_status3">Cash</span>
        </label>
      </li>
      <li>
        <label class="radio_custom gift_type_radio" (click)="openModule('_rp')">
          <!--<input type="radio" name="gift_type" value="Real Prperty">-->
          <span class="custom_img4"><img src="../../../../assets/images/property.png" alt="Property"></span>
          <span class="human_status3">Real <br>Property</span>
        </label>
      </li>
      <li>
        <label class="radio_custom gift_type_radio" (click)="openModule('_bi')">
          <!--<input type="radio" name="gift_type" value="Business Interest">-->
          <span class="custom_img4"><img src="../../../../assets/images/busines-interest.png" alt="Business"></span>
          <span class="human_status3">Business <br>Interest</span>
        </label>
      </li>
      <li>
        <label class="radio_custom gift_type_radio" (click)="openModule('_sa')">
          <!--<input type="radio" name="gift_type" value="Specific Asset">-->
          <span class="custom_img4"><img src="../../../../assets/images/specific.png" alt="Specific"></span>
          <span class="human_status3">Specific Asset</span>
        </label>
      </li>
      <li *ngIf="giftCount === 0" [ngClass]="{'active': notThisTimeFlag}">
        <label class="radio_custom gift_type_radio" (click)="notThisTime()" >
          <!--<input type="radio" name="gift_type" value="Specific Asset">-->
          <span class="custom_img4"><img src="../../../../assets/images/no.png" alt="Not this time"></span>
          <span class="human_status3">None</span>
        </label>
      </li>
    </ul>
  </div>
</div>

<div class="form-footer" *ngIf="showAddGift">
  <a [routerLink]="['/dashboard/personal-property-distributed']" class="btn common-button btn-grey pull-left">Go Back</a>
  <a (click)="submit()" class="btn common-button btn-complete">Next</a>
</div>
<!--make decision which view to open start-->
  <div *ngIf="errFlag">
    <span class="error_txt">
        {{ errString }}
    </span>
  </div>
<!-- (cashEvent)="fetchGiftData()" or initialSetup()-->
<app-cash-gift (cashEvent)="initialSetup()" *ngIf="cash_module" [giftCount]="giftCount+1" ></app-cash-gift>
<app-real-property (realPropertyEvent)="initialSetup()" *ngIf="real_property_module" [giftCount]="giftCount+1" ></app-real-property>
<app-business-interest (businessInterestEvent)="initialSetup()" *ngIf="business_interest" [giftCount]="giftCount+1" ></app-business-interest>
<app-specific-asset (specificAssetEvent)="initialSetup()" *ngIf="specific_asset" [giftCount]="giftCount+1" ></app-specific-asset>

</div>
<!--make decision which view to open start-->
